Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

feat: API for deletion of all user favourites
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Create open call service
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/types.ts
  frontend/pages/open-calls/new.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

Change pending approval faqs text
  frontend/containers/account-pending-approval/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Extract translation
  frontend/lang/transifex/zu.json
Due: none

Change FAQ's / projects / 11- text
  frontend/containers/faq-page/answers/projects/project-info/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fe social links (#451)
  frontend/components/toast/component.tsx
  frontend/components/toast/types.d.ts
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/share-icons/component.tsx
  frontend/containers/share-icons/index.ts
  frontend/containers/share-icons/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Let 860 and 850 Fix texts (#465)
  frontend/containers/account-pending-approval/component.tsx
  frontend/containers/faq-page/answers/projects/project-info/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

fix: Account can be deleted via Backoffice
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/backoffice/users_controller.rb
  backend/app/models/account.rb
  backend/app/models/user.rb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

refactoring: favourite deletion is done inside transaction
  backend/app/controllers/api/v1/accounts/users_controller.rb
Due: backend-lint

fix development seeds
  backend/db/seeds.rb
Due: backend-lint

Add 'publish draft' option to projects list
  frontend/containers/dashboard/projects/table/cells/actions/component.tsx
  frontend/containers/dashboard/projects/table/cells/actions/types.ts
  frontend/containers/dashboard/projects/table/component.tsx
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update open call dto and connect with api
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/pages/expected-impact.tsx
  frontend/containers/open-call-form/pages/funding-information.tsx
  frontend/containers/open-call-form/types.ts
  frontend/enums/index.ts
  frontend/schemas/open-call.ts
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
  frontend/validations/open-call.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix show leave modal
  frontend/containers/open-call-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Create open call table
  frontend/containers/dashboard/open-calls/component.tsx
  frontend/containers/dashboard/open-calls/index.ts
  frontend/containers/dashboard/open-calls/types.ts
  frontend/enums/index.ts
  frontend/pages/dashboard/open-calls.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

Ad open calls table to investor dashboard
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/actions/index.ts
  frontend/containers/dashboard/open-calls/table/cells/actions/types.ts
  frontend/containers/dashboard/open-calls/table/cells/instrument-types/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/instrument-types/index.ts
  frontend/containers/dashboard/open-calls/table/cells/instrument-types/types.ts
  frontend/containers/dashboard/open-calls/table/cells/status/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/status/index.ts
  frontend/containers/dashboard/open-calls/table/cells/status/types.ts
  frontend/containers/dashboard/open-calls/table/component.tsx
  frontend/containers/dashboard/open-calls/table/index.ts
  frontend/containers/dashboard/open-calls/table/types.ts
  frontend/pages/dashboard/open-calls.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

Release v1.0.0
  package.json
Due: none

edit actions col
  frontend/containers/dashboard/open-calls/table/cells/actions/types.ts
  frontend/containers/dashboard/open-calls/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add 'publish draft' option to projects list (#468)
  frontend/containers/dashboard/projects/table/cells/actions/component.tsx
  frontend/containers/dashboard/projects/table/cells/actions/types.ts
  frontend/containers/dashboard/projects/table/component.tsx
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: Adding status to Open Call model
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/models/ability.rb
  backend/app/models/open_call.rb
  backend/app/models/open_call_status.rb
  backend/app/serializers/api/v1/enums/open_call_status_serializer.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/config/locales/zu.yml
  backend/db/migrate/20220811122918_add_status_to_open_calls.rb
  backend/db/schema.rb
  backend/spec/factories/open_call.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/swagger_helper.rb
Due: backend-lint

update of rswag doc
  backend/swagger/v1/swagger.yaml
Due: none

Create open call page
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/project-page/overview/types.ts
  frontend/enums/index.ts
  frontend/package.json
  frontend/pages/open-call/[id]/index.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Fix edit project bugs
  frontend/containers/project-form/helpers.ts
  frontend/layouts/protected-page/component.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: Added impact_calculated attribute to Project model
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/db/migrate/20220812075824_add_impact_calculated_to_projects.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/services/impacts/calculate_for_project_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Verify ownership for staging
  frontend/public/googledcd6ec412a18b1a7.html
Due: none

Fix edit project bugs (#470)
  frontend/containers/project-form/helpers.ts
  frontend/layouts/protected-page/component.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix review issues
  frontend/components/forms/date-picker-calendar/component.stories.tsx
  frontend/components/forms/date-picker-calendar/component.tsx
  frontend/components/forms/date-picker-calendar/index.ts
  frontend/components/forms/date-picker-calendar/types.ts
  frontend/containers/forms/location-selectors/component.stories.tsx
  frontend/containers/forms/location-selectors/component.tsx
  frontend/containers/forms/location-selectors/types.ts
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/pages/closing-date.tsx
  frontend/containers/open-call-form/pages/expected-impact.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/open-call-form/pages/pending-verification.tsx
  frontend/containers/open-call-form/types.ts
  frontend/containers/project-form/pages/general-information.tsx
  frontend/lang/compiled/zu.json
  frontend/package.json
  frontend/pages/projects/new.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Fix open calls quantity
  frontend/containers/dashboard/open-calls/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Allow the user to delete all their favourites
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard-favorites/component.tsx
  frontend/layouts/dashboard-favorites/navigation/component.tsx
  frontend/pages/dashboard/favorites/investors.tsx
  frontend/pages/dashboard/favorites/open-calls.tsx
  frontend/pages/dashboard/favorites/project-developers.tsx
  frontend/pages/dashboard/favorites/projects.tsx
  frontend/services/users/userService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update the information of the About page
  frontend/lang/transifex/zu.json
  frontend/pages/about.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update the information of the About page (#474)
  frontend/lang/transifex/zu.json
  frontend/pages/about.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix the default status of new open calls
  frontend/containers/open-call-form/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Let 843 fe create open call form (#461)
  frontend/components/forms/date-picker-calendar/component.stories.tsx
  frontend/components/forms/date-picker-calendar/component.tsx
  frontend/components/forms/date-picker-calendar/index.ts
  frontend/components/forms/date-picker-calendar/theme.ts
  frontend/components/forms/date-picker-calendar/types.ts
  frontend/containers/forms/location-selectors/component.stories.tsx
  frontend/containers/forms/location-selectors/component.tsx
  frontend/containers/forms/location-selectors/index.ts
  frontend/containers/forms/location-selectors/types.ts
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/index.ts
  frontend/containers/open-call-form/pages/closing-date.tsx
  frontend/containers/open-call-form/pages/expected-impact.tsx
  frontend/containers/open-call-form/pages/funding-information.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/open-call-form/pages/pending-verification.tsx
  frontend/containers/open-call-form/types.ts
  frontend/containers/project-form/pages/general-information.tsx
  frontend/enums/index.ts
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/pages/open-calls/new.tsx
  frontend/pages/projects/new.tsx
  frontend/schemas/open-call.ts
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
  frontend/validations/open-call.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

feat: Private API endpoint for open calls
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/ability.rb
  backend/app/models/concerns/extra_ransackers.rb
  backend/app/models/location.rb
  backend/app/models/open_call.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/models/location_spec.rb
  backend/spec/models/open_call_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/support/shared_examples/models/extra_ransackers.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

ignore brakeman warnings
  backend/config/brakeman.ignore
Due: none

fix: Backoffice sorting
  backend/app/helpers/application_helper.rb
  backend/app/models/concerns/enum_model.rb
  backend/app/models/project.rb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/spec/models/project_spec.rb
Due: backend-lint

Add header
  frontend/containers/open-call-page/open-call-chart/component.tsx
  frontend/containers/open-call-page/open-call-chart/index.ts
  frontend/containers/open-call-page/open-call-chart/types.ts
  frontend/containers/open-call-page/open-call-header/component.tsx
  frontend/containers/open-call-page/open-call-header/index.ts
  frontend/containers/open-call-page/open-call-header/types.ts
  frontend/pages/open-call/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change hook name
  frontend/containers/dashboard/open-calls/table/component.tsx
  frontend/enums/index.ts
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

merge develop
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix open call status
  frontend/containers/dashboard/open-calls/table/cells/status/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/status/types.ts
  frontend/containers/dashboard/open-calls/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
