Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn check-types

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}

increasing process_timeout
  backend/spec/system_helper.rb
Due: backend-lint

Add page potection ownership condition
  frontend/enums/index.ts
  frontend/layouts/protected-page/component.tsx
  frontend/layouts/protected-page/types.ts
  frontend/pages/project/[id]/edit.tsx
  frontend/services/investors/investorsService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix protected layout
  frontend/layouts/protected-page/component.tsx
  frontend/pages/project/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix: increase waiting times at system test helper
  backend/spec/system_helper.rb
Due: backend-lint

invite users modal compponent
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/containers/users/invite-users-modal/index.ts
  frontend/containers/users/invite-users-modal/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/users.tsx
  frontend/types/user.ts
Due: frontend-lint, frontend-i18n, frontend-types

apply button styles
  backend/app/views/backoffice/base/_filters.html.erb
Due: none

Fix issue with project developer card throwing an error if there is no photo
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-page/developers/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Make project public page more resilliant to unexpected API data, namely missing involved_project_developers
  frontend/containers/project-page/developers/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix build errors
  frontend/containers/forms/project-gallery/component.stories.tsx
  frontend/containers/forms/sdgs/component.tsx
  frontend/lang/compiled/zu.json
  frontend/mockups/sdgs.json
Due: frontend-lint, frontend-i18n, frontend-types

fix some tailwind colors, add status badges for investors and project developers
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/config/tailwind.config.js
Due: backend-lint

feat: Total count of Projects/PDs/Investors at backoffice
  backend/app/views/backoffice/base/_full_text_filter.html.erb
  backend/app/views/backoffice/base/_total_records.html.erb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/backoffice/projects/_filters.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/support/shared_examples/backoffice/with_table_pagination.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

Hide project public page funding if the project isn't seeking any
  frontend/containers/project-page/funding/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Minor project public page styling tweaks to better match the designs
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

small refactor of enum statses, and updating specs
  backend/app/models/account.rb
  backend/app/models/project.rb
  backend/app/models/project_status.rb
  backend/app/models/review_status.rb
  backend/app/views/backoffice/investors/_filters.html.erb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/_filters.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

Improve project public page responsiveness on mobile
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Adding Phone and Email to Investor/PD table
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

add select class
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/views/backoffice/project_developers/_section_profile.html.erb
Due: none

Display all developer contacts in the project public page, when available and user has permissions
  frontend/containers/project-page/contact/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add cloudtasker url as env var to the backend app
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/outputs.tf
  infrastructure/base/modules/env/main.tf
Due: none

invite users modal: imitate textarea to add chips
  frontend/components/forms/textarea/component.tsx
  frontend/components/forms/textarea/types.ts
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/lang/transifex/zu.json
  frontend/schemas/invitedUsers.ts
  frontend/validations/invitedUsers.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add auto complete filters
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/containers/search-auto-suggestion/index.ts
  frontend/containers/search-auto-suggestion/types.ts
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/services/enums/enumService.ts
Due: frontend-lint, frontend-i18n, frontend-types

implementing review feedback, small refactor
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/concerns/backoffice/content_language.rb
  backend/app/controllers/concerns/backoffice/sections.rb
  backend/app/views/backoffice/accounts/_common_fields.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/project_developers/_section_language.html.erb
  backend/app/views/backoffice/project_developers/_section_status.html.erb
Due: backend-lint

Refactor to improve performance
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/containers/search-auto-suggestion/types.ts
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix useEnums useMemo dependency
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/services/enums/enumService.ts
Due: frontend-lint, frontend-i18n, frontend-types

bug: fix sdg filters bug
  frontend/containers/forms/filters/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix delete image
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/schemas/project.ts
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

invite users modal: style chips and fake input inside textarea
  frontend/containers/users/invite-users-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

bug: fix project page bug.
  frontend/containers/project-page/developers/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

change solution
  frontend/containers/project-page/developers/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

todo note
  frontend/containers/users/invite-users-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix chart scrollbar bug
  frontend/components/forms/field-info/component.tsx
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Allow to export data as csv at backoffice
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/services/backoffice/csv/base_exporter.rb
  backend/app/services/backoffice/csv/investor_exporter.rb
  backend/app/services/backoffice/csv/project_developer_exporter.rb
  backend/app/services/backoffice/csv/project_exporter.rb
  backend/app/views/backoffice/base/_total_records.html.erb
  backend/config/locales/zu.yml
  backend/spec/services/backoffice/csv/investor_exporter_spec.rb
  backend/spec/services/backoffice/csv/project_developer_exporter_spec.rb
  backend/spec/services/backoffice/csv/project_exporter_spec.rb
  backend/spec/support/shared_examples/backoffice/with_csv_export.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

Adds FRONTEND_URL env var to jobs instance
  infrastructure/base/modules/env/main.tf
Due: none

Grant Translation API permissions to jobs instance service account
  infrastructure/base/modules/env/main.tf
Due: none

Add project to project page map
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/project-page/overview/helpers.ts
Due: frontend-lint, frontend-i18n, frontend-types

Storage read / write permissions for jobs instance service account
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/storage/main.tf
  infrastructure/base/modules/storage/variables.tf
Due: none

invite users modal: improve experience on textarea
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/lang/transifex/zu.json
  frontend/schemas/invitedUsers.ts
  frontend/types/user.ts
  frontend/validations/invitedUsers.ts
Due: frontend-lint, frontend-i18n, frontend-types

invite users: add fake hooks + try to set server errors
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/services/users/userService.ts
  frontend/types/user.ts
Due: frontend-lint, frontend-i18n, frontend-types

add rails_relative_root_path to dockerfile for assets compilation
  backend/Dockerfile
  backend/docker-compose-test.yml
  infrastructure/base/modules/env/main.tf
Due: none

added CSV to inflections
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/services/backoffice/csv/base_exporter.rb
  backend/app/services/backoffice/csv/investor_exporter.rb
  backend/app/services/backoffice/csv/project_developer_exporter.rb
  backend/app/services/backoffice/csv/project_exporter.rb
  backend/config/initializers/inflections.rb
  backend/spec/services/backoffice/csv/investor_exporter_spec.rb
  backend/spec/services/backoffice/csv/project_developer_exporter_spec.rb
  backend/spec/services/backoffice/csv/project_exporter_spec.rb
Due: backend-lint
