Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

resend email confirmation email
  backend/app/controllers/api/v1/email_confirmations_controller.rb
  backend/spec/requests/api/v1/email_confirmation_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

rate limit confirmation emails
  backend/app/models/user.rb
  backend/db/migrate/20220323103412_add_last_confirmation_email_sent_at_to_users.rb
  backend/db/schema.rb
  backend/spec/models/user_spec.rb
Due: backend-lint

Release v0.1.0
  frontend/package.json
  package.json
Due: none

fix rswag empty params that not set content type
  backend/spec/requests/api/v1/session_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: Added missing attributes to Project Developer model
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/models/account.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/models/location.rb
  backend/app/models/project_developer.rb
  backend/app/models/project_developer_location.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/config/application.rb
  backend/db/migrate/20220324095315_add_entity_legal_registration_number_to_project_developers.rb
  backend/db/migrate/20220324100316_create_project_developer_locations.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/account.rb
  backend/spec/factories/project_developer.rb
  backend/spec/factories/project_developer_location.rb
  backend/spec/fixtures/files/picture.jpg
  backend/spec/fixtures/files/text_file.txt
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/models/account_spec.rb
  backend/spec/models/project_developer_location_spec.rb
  backend/spec/models/project_developer_spec.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

refactor specs
  backend/spec/factories/user.rb
  backend/spec/models/user_spec.rb
  backend/spec/requests/api/v1/email_confirmation_spec.rb
Due: backend-lint

Add Creation Form layout
  frontend/containers/multi-page-form/aria-live/component.tsx
  frontend/containers/multi-page-form/aria-live/index.ts
  frontend/containers/multi-page-form/aria-live/types.ts
  frontend/containers/multi-page-form/complete-page/component.tsx
  frontend/containers/multi-page-form/complete-page/index.ts
  frontend/containers/multi-page-form/complete-page/types.ts
  frontend/containers/multi-page-form/component.tsx
  frontend/containers/multi-page-form/footer/component.tsx
  frontend/containers/multi-page-form/footer/index.ts
  frontend/containers/multi-page-form/footer/types.ts
  frontend/containers/multi-page-form/header/component.tsx
  frontend/containers/multi-page-form/header/index.ts
  frontend/containers/multi-page-form/header/types.ts
  frontend/containers/multi-page-form/index.ts
  frontend/containers/multi-page-form/page/component.tsx
  frontend/containers/multi-page-form/page/index.ts
  frontend/containers/multi-page-form/page/types.ts
  frontend/containers/multi-page-form/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/naked-page/component.tsx
  frontend/layouts/naked-page/index.ts
  frontend/layouts/naked-page/types.ts
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Add redesigned paging to MultiPageForm layout & display which pages have errors
  frontend/components/forms/select/component.tsx
  frontend/containers/multi-page-form/component.tsx
  frontend/containers/multi-page-form/footer/component.tsx
  frontend/containers/multi-page-form/footer/paging/component.tsx
  frontend/containers/multi-page-form/footer/paging/index.ts
  frontend/containers/multi-page-form/footer/paging/types.ts
  frontend/containers/multi-page-form/footer/types.ts
  frontend/containers/multi-page-form/page/component.tsx
  frontend/containers/multi-page-form/page/types.ts
  frontend/lang/transifex/zu.json
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Add Alert component and add ability to display generic alerts on MultiPageForm component
  frontend/components/alert/component.tsx
  frontend/components/alert/index.ts
  frontend/components/alert/types.ts
  frontend/containers/multi-page-form/component.tsx
  frontend/containers/multi-page-form/footer/component.tsx
  frontend/containers/multi-page-form/footer/types.ts
  frontend/containers/multi-page-form/page/component.tsx
  frontend/containers/multi-page-form/types.ts
Due: frontend-lint, frontend-i18n

Allow for MultiPageForm navigation to be controlled by a parent elemennt
  frontend/containers/multi-page-form/aria-live/component.tsx
  frontend/containers/multi-page-form/aria-live/types.ts
  frontend/containers/multi-page-form/component.tsx
  frontend/containers/multi-page-form/footer/component.tsx
  frontend/containers/multi-page-form/footer/paging/component.tsx
  frontend/containers/multi-page-form/footer/paging/types.ts
  frontend/containers/multi-page-form/footer/types.ts
  frontend/containers/multi-page-form/types.ts
Due: frontend-lint, frontend-i18n

Rename MultiPageForm to MultiPageLayout
  frontend/containers/multi-page-form/aria-live/index.ts
  frontend/containers/multi-page-form/complete-page/index.ts
  frontend/containers/multi-page-form/footer/index.ts
  frontend/containers/multi-page-form/footer/paging/index.ts
  frontend/containers/multi-page-form/header/index.ts
  frontend/containers/multi-page-form/index.ts
  frontend/containers/multi-page-form/page/index.ts
  frontend/containers/multi-page-layout/aria-live/component.tsx
  frontend/containers/multi-page-layout/aria-live/index.ts
  frontend/containers/multi-page-layout/aria-live/types.ts
  frontend/containers/multi-page-layout/complete-page/component.tsx
  frontend/containers/multi-page-layout/complete-page/index.ts
  frontend/containers/multi-page-layout/complete-page/types.ts
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/footer/index.ts
  frontend/containers/multi-page-layout/footer/paging/component.tsx
  frontend/containers/multi-page-layout/footer/paging/index.ts
  frontend/containers/multi-page-layout/footer/paging/types.ts
  frontend/containers/multi-page-layout/footer/types.ts
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/containers/multi-page-layout/header/index.ts
  frontend/containers/multi-page-layout/header/types.ts
  frontend/containers/multi-page-layout/index.ts
  frontend/containers/multi-page-layout/page/component.tsx
  frontend/containers/multi-page-layout/page/index.ts
  frontend/containers/multi-page-layout/page/types.ts
  frontend/containers/multi-page-layout/types.ts
Due: frontend-lint, frontend-i18n

Adding example page with the MultiPageLayout in usage
  frontend/lang/transifex/zu.json
  frontend/pages/investors/new.tsx
Due: frontend-lint, frontend-i18n

Fix minimist vulnerability
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix glob-parent vulnerability
  frontend/package.json
  frontend/yarn.lock
Due: none

Define the vulnerability mitigation process
  frontend/README.md
Due: none

Improve MultiPageLayout button text customisation
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/footer/types.ts
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/containers/multi-page-layout/header/types.ts
  frontend/containers/multi-page-layout/types.ts
Due: frontend-lint, frontend-i18n

Add MultiPageLayout storybook story
  frontend/containers/multi-page-layout/component.stories.tsx
Due: frontend-lint, frontend-i18n

feat: project developer form change path name create schemma
  frontend/hooks/forms/useProjectDeveloperValidation.ts
  frontend/mockups/categories.json
  frontend/mockups/impacts.json
  frontend/mockups/mosaics.json
  frontend/mockups/projectDeveloperTypes.json
  frontend/package.json
  frontend/pages/project-developer/setup.tsx
  frontend/public/images/avatar.svg
  frontend/tailwind.config.js
  frontend/types/projectDeveloper.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

feat: New API endpoint for creating project developers
  backend/Gemfile
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/config/locales/zu.yml
  backend/config/routes.rb
  backend/spec/factories/account.rb
  backend/spec/factories/project_developer.rb
  backend/spec/fixtures/snapshots/api/v1/create-project-developer.json
  backend/spec/models/project_developer_location_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Rename MultiPageLayout CompletePage to OutroPage
  frontend/containers/multi-page-layout/complete-page/index.ts
  frontend/containers/multi-page-layout/component.stories.tsx
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/footer/types.ts
  frontend/containers/multi-page-layout/index.ts
  frontend/containers/multi-page-layout/outro-page/component.tsx
  frontend/containers/multi-page-layout/outro-page/index.ts
  frontend/containers/multi-page-layout/outro-page/types.ts
  frontend/containers/multi-page-layout/page/types.ts
  frontend/containers/multi-page-layout/types.ts
  frontend/pages/investors/new.tsx
Due: frontend-lint, frontend-i18n

Add MultiPageLayout prop to show/hide the footer on the outro page
  frontend/containers/multi-page-layout/component.stories.tsx
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/types.ts
Due: frontend-lint, frontend-i18n

fix: passsword to password
  backend/spec/requests/api/v1/session_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: swagger doc for direct upload refactoring: moved create project developer api to users module
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/users/project_developers_controller.rb
  backend/config/routes.rb
  backend/spec/fixtures/snapshots/api/v1/get-direct-upload.json
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/users/project_developers_spec.rb
  backend/spec/requests/direct_upload_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

fix: direct upload params at swagger doc
  backend/spec/requests/direct_upload_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

preload picture blobs
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
Due: backend-lint

A compromise for dependency spamming frequency
  .github/dependabot.yml
Due: none

feat: project developer form change validation
  frontend/helpers/projectDevelopersConstants.ts
  frontend/hooks/forms/useProjectDeveloperValidation.ts
  frontend/mockups/categories.json
  frontend/mockups/impacts.json
  frontend/mockups/mosaics.json
  frontend/mockups/projectDeveloperTypes.json
  frontend/pages/project-developer/setup.tsx
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Add NakedPageLayout to storybook and rename component
  frontend/layouts/naked-page/component.stories.tsx
  frontend/layouts/naked-page/component.tsx
  frontend/layouts/naked-page/index.ts
  frontend/layouts/naked-page/types.ts
  frontend/pages/investors/new.tsx
Due: frontend-lint, frontend-i18n

feat: return thumbnails of pictures
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/serializers/api/v1/blob_serializer.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/app/services/blobs/get_link.rb
  backend/spec/factories/account.rb
  backend/spec/fixtures/snapshots/api/v1/create-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/requests/api/v1/users/project_developers_spec.rb
  backend/spec/services/blobs/get_link_spec.rb
Due: backend-lint

feat: project developer form Add image preview
  frontend/hooks/forms/useProjectDeveloperValidation.ts
  frontend/pages/project-developer/setup.tsx
Due: frontend-lint, frontend-i18n

feat: adding owner to account
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/users/project_developers_controller.rb
  backend/app/models/account.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/db/migrate/20220328102306_add_owner_to_accounts.rb
  backend/db/schema.rb
  backend/spec/factories/account.rb
  backend/spec/fixtures/snapshots/api/v1/create-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/models/account_spec.rb
  backend/spec/swagger_helper.rb
Due: backend-lint

refactoring: simplifying rswag definitions
  backend/spec/swagger_helper.rb
Due: backend-lint

fix of rubocop
  backend/spec/swagger_helper.rb
Due: backend-lint

rebuild rswag doc
  backend/swagger/v1/swagger.yaml
Due: none

feat: sign-up form create sign-up page component create userService create signup types install react-hook-form library
  frontend/components/forms/rhf-validations.ts
  frontend/pages/sign-up.tsx
  frontend/services/users/userService.ts
  frontend/types/signup.ts
Due: frontend-lint, frontend-i18n

feat: signup form * Add translation components * Style form
  frontend/pages/sign-up.tsx
  frontend/svgs/notifications/warning-outlined.svg
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

feat: sign-up form * replace Input components * replace email validation
  frontend/components/forms/rhf-validations.ts
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

feat: sign up form * Add new checkbox component
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

feat: sign-up form * change page style
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

feat: sign-up form * add padding to page
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n
