Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

Removed conditional presence validation for funding received fields
  backend/app/models/project.rb
Due: backend-lint

Added missing fields to project serializer
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
Due: backend-lint

Added missing fields to open call serializer
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
Due: backend-lint

Included country, department adn municipality in project serializer
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
Due: backend-lint

feat: add filter options
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/containers/forms/filters/component.stories.tsx
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/index.ts
  frontend/containers/forms/filters/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/helpers/pages.ts
  frontend/layouts/discover-page/component.tsx
  frontend/mockups/categories.json
  frontend/mockups/enums.json
  frontend/mockups/impacts.json
  frontend/mockups/mosaics.json
  frontend/mockups/projectDeveloperTypes.json
  frontend/services/enums/enumService.ts
Due: frontend-lint, frontend-i18n

fix: change 'more filters' icon
  frontend/containers/forms/filters/component.tsx
Due: frontend-lint, frontend-i18n

LET-258 - Jobs instances
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
  infrastructure/base/modules/env/main.tf
Due: none

remove replace image temporary fix
  frontend/containers/image-gallery/component.tsx
  frontend/containers/project-header/component.tsx
Due: frontend-lint, frontend-i18n

Add themes to modal + add naked theme (modal with no padding)
  frontend/components/modal/component.tsx
  frontend/components/modal/constants.ts
  frontend/components/modal/types.d.ts
Due: frontend-lint, frontend-i18n

Add size prop to Tag component + set up a smaller Tag size
  frontend/components/tag/component.tsx
  frontend/components/tag/types.d.ts
Due: frontend-lint, frontend-i18n

Add size prop to CategoryTag component + set up a smaller CategoryTag size
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/containers/category-tag/category-tag-dot/types.ts
  frontend/containers/category-tag/component.tsx
  frontend/containers/category-tag/types.ts
Due: frontend-lint, frontend-i18n

Add `active` prop to ProjectCard + set up an active state outline
  frontend/containers/project-card/component.tsx
  frontend/containers/project-card/types.ts
Due: frontend-lint, frontend-i18n

Add useBreakpoint hook to allow us to use tailwind breakpoints in the JSX
  frontend/hooks/use-breakpoint.ts
Due: frontend-lint, frontend-i18n

Add api/v1/enums mock data
  frontend/mockups/api/v1/enums.json
Due: none

Set up `storybook-addon-mock` to allow us to mock API requests in Storybook stories
  frontend/.storybook/main.js
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Add ProjectDetails component
  frontend/containers/project-details/component.stories.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/containers/project-details/favorite-contact/index.ts
  frontend/containers/project-details/favorite-contact/types.ts
  frontend/containers/project-details/index.ts
  frontend/containers/project-details/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Make ImpactChart component more responsive
  frontend/components/impact-chart/component.stories.tsx
  frontend/components/impact-chart/component.tsx
  frontend/components/impact-chart/types.ts
Due: frontend-lint, frontend-i18n

Add ProjectDetails component to the discover/projects page
  frontend/containers/project-details/component.tsx
  frontend/containers/sdgs/constants.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/pages/discover/projects.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/services/projects/projectService.ts
  frontend/services/types.ts
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Fix issue with ProjectDetails not displaying on mobile devices
  frontend/lang/transifex/zu.json
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n

Fixing ProjectDetails cards ribbon/close button not being fixed to the top right
  frontend/containers/project-details/component.stories.tsx
  frontend/containers/project-details/component.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n

change filds
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/investor-form-pages/pages/investment.tsx
  frontend/containers/investor-form-pages/pages/priority.tsx
  frontend/containers/investor-form-pages/pages/profile.tsx
  frontend/pages/investors/new.tsx
  frontend/pages/investors/pending.tsx
  frontend/schemas/investor.ts
  frontend/services/account/index.ts
  frontend/types/investor.ts
  frontend/validations/investor.ts
Due: frontend-lint, frontend-i18n

fix build error
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Improve projectService to account for the fact params may not be passed
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n

Pass category id to ImpactChart in ProjectDetails cards
  frontend/containers/project-details/component.tsx
Due: frontend-lint, frontend-i18n

Project details card (search page) (#177)
  frontend/.storybook/main.js
  frontend/components/impact-chart/component.stories.tsx
  frontend/components/impact-chart/component.tsx
  frontend/components/impact-chart/types.ts
  frontend/components/modal/component.tsx
  frontend/components/modal/constants.ts
  frontend/components/modal/types.d.ts
  frontend/components/tag/component.tsx
  frontend/components/tag/types.d.ts
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/containers/category-tag/category-tag-dot/types.ts
  frontend/containers/category-tag/component.tsx
  frontend/containers/category-tag/types.ts
  frontend/containers/project-card/component.tsx
  frontend/containers/project-card/types.ts
  frontend/containers/project-details/component.stories.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/containers/project-details/favorite-contact/index.ts
  frontend/containers/project-details/favorite-contact/types.ts
  frontend/containers/project-details/index.ts
  frontend/containers/project-details/types.ts
  frontend/containers/sdgs/constants.ts
  frontend/hooks/use-breakpoint.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/mockups/api/v1/enums.json
  frontend/package.json
  frontend/pages/discover/projects.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/services/projects/projectService.ts
  frontend/services/types.ts
  frontend/tailwind.config.js
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Add profile card component
  frontend/containers/profile-card/component.stories.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/profile-card/index.ts
  frontend/containers/profile-card/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Add ProjectDevelopers discover/search page w/ search, pagination
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/projects/projectService.ts
  frontend/services/types.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Make profile card more useable for Investors
  frontend/containers/profile-card/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Improve projectDeveloperService to account to the fact there may be no params passed
  frontend/services/project-developers/projectDevelopersService.ts
Due: frontend-lint, frontend-i18n

Adding onOpen and onClose props to the Menu component
  frontend/components/menu/component.tsx
  frontend/components/menu/types.ts
Due: frontend-lint, frontend-i18n

Add SortingButtons component (sorting field + sorting order)
  frontend/components/sorting-buttons/component.stories.tsx
  frontend/components/sorting-buttons/component.tsx
  frontend/components/sorting-buttons/index.ts
  frontend/components/sorting-buttons/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Add SortingButtons to the DiscoverPage layout + make sorting work
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n

change property name
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Improve accessibility for the ProjectDetails card in the project search page
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n

Address accessibility issue on the ProjectDetails card (Project search page) (#202)
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n

fix: Full text searching accepts attributes from different tables (Account)
  backend/app/models/account.rb
  backend/app/services/api/filterer.rb
  backend/spec/models/account_spec.rb
  backend/spec/services/api/filterer_spec.rb
Due: backend-lint

Project Developers card + Project Developers view w/ search/pagination (#192)
  frontend/containers/profile-card/component.stories.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/profile-card/index.ts
  frontend/containers/profile-card/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/projects/projectService.ts
  frontend/services/types.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Allow sorting of results (search page) (#196)
  frontend/components/menu/component.tsx
  frontend/components/menu/types.ts
  frontend/components/sorting-buttons/component.stories.tsx
  frontend/components/sorting-buttons/component.tsx
  frontend/components/sorting-buttons/index.ts
  frontend/components/sorting-buttons/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n

fix review issues
  frontend/containers/investor-form-pages/pages/impacts.tsx
  frontend/containers/investor-form-pages/pages/investment.tsx
  frontend/containers/investor-form-pages/pages/profile.tsx
  frontend/containers/investor-form-pages/types.ts
  frontend/pages/investors/new.tsx
  frontend/services/account/index.ts
  frontend/types/investor.ts
Due: frontend-lint, frontend-i18n

add translations
  frontend/lang/transifex/zu.json
Due: none
