Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn check-types

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}

Adding migration which recalculates project impacts based on k.LAB demands
  backend/db/migrate/20230203122726_recalculate_project_impacts.rb
  backend/db/schema.rb
Due: backend-lint

Added KLAB_ENABLED to jobs instance as well
  infrastructure/base/modules/env/main.tf
Due: none

Run all workflows on ubuntu-latest
  .github/workflows/backend-push-translations.yml
  .github/workflows/backend-tests.yml
Due: none

fix: New tasks for fixing priority landscape geometries
  backend/.gitignore
  backend/app/services/importers/geo_jsons/mosaics.rb
  backend/lib/tasks/priority_landscapes.rake
  backend/spec/services/importers/geo_jsons/mosaics_spec.rb
Due: backend-lint

Update 20230203122726_recalculate_project_impacts.rb
  backend/db/migrate/20230203122726_recalculate_project_impacts.rb
Due: backend-lint

fix: minor change which makes seeds.rb work again
  backend/db/seeds.rb
Due: backend-lint

fix: rubocop
  backend/db/seeds.rb
Due: backend-lint

Release v1.9.0
  package.json
Due: none

Removed obsolete Rails credentials
  backend/.gitignore
  backend/config/credentials.yml.enc
  backend/config/credentials/production.yml.enc
Due: none

CVE-2023-28120, CVE: CVE-2023-27539
  backend/Gemfile.lock
Due: none

refactoring: Use observable attribute of KLAB artifact to figure out demand origin
  backend/app/jobs/klab/poll_impact_demands_job.rb
  backend/app/services/klab/calculate_project_impact_score.rb
  backend/app/services/klab/run.rb
  backend/app/services/klab/submit_context.rb
  backend/spec/jobs/klab/poll_impact_demands_job_spec.rb
  backend/spec/jobs/klab/submit_contexts_job_spec.rb
  backend/spec/services/klab/calculate_project_impact_score_spec.rb
Due: backend-lint

Update of version to 1.10.0
  package.json
Due: none

Enable klab in production
  infrastructure/base/main.tf
Due: none

Update README.md
  backend/README.md
Due: none

Updating readme with proposed steps what to do when impact calculation fails
  backend/README.md
Due: none

Set the same http auth password on staging and production
  infrastructure/base/main.tf
Due: none

Rename prod base auth TF variables so they are more meaningful
  infrastructure/base/main.tf
  infrastructure/base/variables.tf
Due: none

Moved klab password to secrets
  infrastructure/base/modules/env/main.tf
Due: none

Upgraded to latest terraform version
  infrastructure/base/versions.tf
Due: none

Removed legacy redirect from terraform project
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/modules/load-balancer/main.tf
  infrastructure/base/modules/load-balancer/variables.tf
  infrastructure/base/variables.tf
  infrastructure/base/vars/terraform.tfvars
Due: none

Add new attributes to Project
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/views/backoffice/projects/_form.html.erb
  backend/config/locales/zu.yml
  backend/db/migrate/20231120155058_add_financial_and_climate_change_data_to_projects.rb
Due: backend-lint

Update tests and factories to include new project attributes
  backend/app/views/backoffice/projects/_form.html.erb
  backend/spec/factories/project.rb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

Update tests, factories and snapshots to include new project attributes
  backend/Gemfile.lock
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

feat: Enhancing project export at Backoffice
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/services/backoffice/csv/open_call_exporter.rb
  backend/app/services/backoffice/csv/project_exporter.rb
  backend/app/views/backoffice/projects/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/services/backoffice/csv/open_call_exporter_spec.rb
  backend/spec/services/backoffice/csv/project_exporter_spec.rb
Due: backend-lint

chore: Update of rswag gem and fix of swagger schema
  backend/Gemfile.lock
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Update dependencies and swagger docs
  backend/Gemfile.lock
Due: none

Update swagger docs
  backend/swagger/v1/swagger.yaml
Due: none

Update swagger helper servers urls
  backend/swagger/v1/swagger.yaml
Due: none

Update form ans napshots with last_year_sales_revenue as decimal
  backend/app/models/project.rb
  backend/app/views/backoffice/projects/_form.html.erb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

Update last_year_sales_revenue attribute
  backend/app/views/backoffice/projects/_form.html.erb
  backend/config/locales/zu.yml
  backend/db/migrate/20231120155058_add_financial_and_climate_change_data_to_projects.rb
  backend/db/schema.rb
Due: backend-lint

Fix format
  backend/spec/factories/project.rb
Due: backend-lint

Add migartion to update database values
  backend/db/migrate/20231123093623_change_tourism_and_recreation_to_sustainable_tourism.rb
Due: backend-lint

Update model and translations for sustainable tourism
  backend/app/models/category.rb
  backend/config/locales/zu.yml
Due: backend-lint

Update tests for sustainable tourism
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

Update snapshots for sustainable tourism
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
Due: backend-lint

Update swagger schema for sustainable-tourism
  backend/swagger/v1/swagger.yaml
Due: none

refactoring: Adding additional project fields to Project exporter
  backend/app/services/backoffice/csv/project_exporter.rb
  backend/db/seeds.rb
  backend/spec/services/backoffice/csv/project_exporter_spec.rb
Due: backend-lint

Refactor Sustainable tourism Migration
  backend/db/migrate/20231123093623_change_tourism_and_recreation_to_sustainable_tourism.rb
Due: backend-lint

Improve Migration for Sustainable tourism update
  backend/db/migrate/20231123093623_change_tourism_and_recreation_to_sustainable_tourism.rb
Due: backend-lint

Replace tourism-and-recreation with sustainable-tourism in frontend
  frontend/components/project-map-pin/component.tsx
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/containers/category-tag/component.stories.tsx
  frontend/containers/impact-chart/component.stories.tsx
  frontend/containers/tags-grid/component.stories.tsx
  frontend/lang/transifex/zu.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/api/v1/enums.json
  frontend/mockups/filters.json
  frontend/mockups/project.json
  frontend/types/category.ts
Due: frontend-lint, frontend-i18n, frontend-types
