Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Fire Google Analytics events for specific actions (#708)
  frontend/components/badge-navigation/component.tsx
  frontend/components/badge-navigation/types.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/for-public-pages/public-page-card/component.tsx
  frontend/containers/for-public-pages/public-page-card/types.ts
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/investor-form/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/lib/analytics/ga.ts
  frontend/pages/_document.tsx
  frontend/pages/for-investors.tsx
  frontend/pages/for-project-developers.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/sign-in/code.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Release v1.7.0
  package.json
Due: none

Simple client to retrieve indicator values
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/services/klab/README.md
  backend/app/services/klab/api_client.rb
  backend/app/services/klab/api_connection.rb
  backend/app/services/klab/calculate_project_impact_score.rb
  backend/app/services/klab/export_artifact.rb
  backend/app/services/klab/poll_ticket.rb
  backend/app/services/klab/run.rb
  backend/app/services/klab/submit_context.rb
  backend/docker-compose-test.yml
  backend/spec/fixtures/vcr_cassettes/export.json
  backend/spec/rails_helper.rb
  backend/spec/services/klab/calculate_project_impact_score_spec.rb
Due: backend-lint

Test credentials
  .github/workflows/backend-tests.yml
  backend/docker-compose-test.yml
Due: none

Control VCR manually
  backend/spec/rails_helper.rb
  backend/spec/services/klab/calculate_project_impact_score_spec.rb
Due: backend-lint

Change action from arrow icon to the whole card
  frontend/containers/for-public-pages/public-page-card/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change labels of location inputs of project create/edit project form
  frontend/containers/project-form/pages/general-information.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change subtitle and labels of Other Information page of project create/edit form
  frontend/containers/project-form/pages/other-information.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change logo
  frontend/containers/layouts/logo/component.tsx
  frontend/layouts/static-page/footer/component.tsx
  frontend/public/images/logos/logo-heco-invest-black.png
  frontend/public/images/logos/logo-heco-invest-colors.png
  frontend/public/images/logos/logo-heco-invest-white.png
Due: frontend-lint, frontend-i18n, frontend-types

fix: Reset impact attributes when project geometry changes
  backend/app/models/project.rb
  backend/spec/factories/project.rb
  backend/spec/models/project_spec.rb
Due: backend-lint

chore: update of ruby gems
  backend/Gemfile.lock
  backend/spec/factories/project.rb
Due: backend-lint

fix of tests
  backend/spec/services/api/filterer_spec.rb
  backend/spec/services/api/sorter_spec.rb
Due: backend-lint

Add the possibility to the search box on maps be always open and set it to true on the project form map
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/discover-map/location-searcher/types.ts
  frontend/containers/forms/geometry/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change logo images
  frontend/containers/layouts/logo/component.tsx
  frontend/layouts/static-page/footer/component.tsx
  frontend/public/images/logos/heco_logo_color.png
  frontend/public/images/logos/heco_logo_green.png
  frontend/public/images/logos/heco_logo_white.png
  frontend/public/images/logos/logo-heco-invest-black.png
  frontend/public/images/logos/logo-heco-invest-colors.png
  frontend/public/images/logos/logo-heco-invest-white.png
Due: frontend-lint, frontend-i18n, frontend-types

Change text
  frontend/containers/project-form/pages/general-information.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix text
  frontend/containers/project-form/pages/other-information.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix select priority landscape impact bug
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change no impact value for 0.0
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Minimize fetches number and sizes
  frontend/containers/discover-map/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/helpers.ts
  frontend/pages/discover/projects.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix review issues
  frontend/layouts/discover-page/helpers.ts
  frontend/pages/discover/projects.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Remove green logo
  frontend/containers/layouts/logo/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove green logo
  frontend/public/images/logos/heco_logo_green.png
Due: none

Change search icon and Discover on menu and footer fot 'Catalog
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/containers/layouts/navigation/component.tsx
  frontend/layouts/static-page/footer/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change texts of static pages to explain project meaning
  frontend/containers/home/use-platform/component.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/for-investors.tsx
  frontend/pages/for-project-developers.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Enqueue Klab jobs when projects geometry is changed and KLAB is enabled
  backend/.env.sample
  backend/ENV_VARS.md
  backend/app/jobs/klab/calculate_impacts_job.rb
  backend/app/jobs/klab/poll_impact_demands_job.rb
  backend/app/jobs/klab/submit_contexts_job.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/db/migrate/20230116094656_add_impact_demands_to_projects.rb
  backend/db/migrate/20230116095307_add_project_impacts_to_projects.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/fixtures/vcr_cassettes/calculate_project_impact_score.json
  backend/spec/fixtures/vcr_cassettes/export.json
  backend/spec/models/project_spec.rb
  backend/spec/services/klab/calculate_project_impact_score_spec.rb
  backend/spec/swagger_helper.rb
Due: backend-lint

Add no discover results component
  frontend/containers/discover-no-results/component.tsx
  frontend/containers/discover-no-results/index.ts
  frontend/containers/discover-no-results/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/svgs/discover/no-results.svg
Due: frontend-lint, frontend-i18n, frontend-types

Change spelling from catalogue to catalog
  frontend/containers/layouts/navigation/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change text of project form duration info button
  frontend/containers/project-form/pages/project-description.tsx
  frontend/lang/compiled/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

feat: Finalisation of klab submit_contexts job
  backend/app/jobs/klab/submit_contexts_job.rb
  backend/app/models/project.rb
  backend/app/services/klab/build_context_string.rb
  backend/spec/fixtures/vcr_cassettes/klab/calculate_project_impact_score.json
  backend/spec/fixtures/vcr_cassettes/klab/submit_context.json
  backend/spec/jobs/klab/submit_contexts_job_spec.rb
  backend/spec/services/klab/calculate_project_impact_score_spec.rb
Due: backend-lint

Update FAQ text
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix spelling
  frontend/containers/discover-no-results/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Remove params sorting conditions
  frontend/layouts/discover-page/helpers.ts
Due: frontend-lint, frontend-i18n, frontend-types

Release v1.8.0
  package.json
Due: none

Update map layers selectot
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layer-tooltip/component.tsx
  frontend/containers/discover-map/layer-tooltip/types.ts
  frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/discover-map/map-layers-selector/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix catalog spelling
  frontend/containers/account-pending-approval/component.tsx
  frontend/containers/home/hero/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/navigation/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add legend info
  frontend/components/map/legend/item/component.tsx
  frontend/components/map/legend/item/types.d.ts
  frontend/components/map/legend/types.d.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layer-legend/component.tsx
  frontend/containers/discover-map/map-layers-selector/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Release v1.8.1
  package.json
Due: none

Fix a `decode-uri-component` vulnerability
  frontend/yarn.lock
Due: none

Remove unused `jsonwebtoken` lib w/ vulnerability
  frontend/package.json
  frontend/yarn.lock
Due: none

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
