Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

feat: add contacts to PD form
  frontend/lang/transifex/zu.json
  frontend/pages/project-developers/new.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/services/users/userService.ts
  frontend/types/api.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Let 285 add contact info to pd form (#93)
  frontend/lang/transifex/zu.json
  frontend/pages/project-developers/new.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/services/users/userService.ts
  frontend/types/api.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

simplify seeds
  backend/db/seeds.rb
Due: backend-lint

add missing category
  backend/app/models/category.rb
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/requests/api/v1/enums_spec.rb
Due: backend-lint

feat: adjust page header create signed in menu
  frontend/components/menu/component.stories.tsx
  frontend/components/menu/component.tsx
  frontend/components/menu/popup/component.tsx
  frontend/components/menu/popup/types.ts
  frontend/components/menu/types.ts
  frontend/enums/index.ts
  frontend/layouts/static-page/header/component.tsx
  frontend/pages/sign-in/index.tsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

feat: adjust header create getInitials function
  frontend/helpers/getUserInitials.ts
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

feat: adjust page header add account name
  frontend/components/menu/popup/component.tsx
  frontend/enums/index.ts
  frontend/hooks/me/index.ts
  frontend/layouts/static-page/header/component.tsx
  frontend/package.json
  frontend/services/account/index.ts
  frontend/services/investors/investorsService.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/types.ts
  frontend/types/api.ts
  frontend/types/projectDeveloper.ts
  frontend/types/user.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

feat: adjust header to sign-in Change menu sections and items with diferent screen sizes Change menu if the user is signed in
  frontend/components/menu/component.tsx
  frontend/components/menu/popup/component.tsx
  frontend/components/menu/popup/types.ts
  frontend/components/menu/section/component.tsx
  frontend/components/menu/section/types.ts
  frontend/components/menu/types.ts
  frontend/enums/index.ts
  frontend/hooks/getEnums.ts
  frontend/hooks/me/index.ts
  frontend/hooks/useInterests.ts
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
  frontend/layouts/static-page/header/component.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-out.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/account/index.ts
  frontend/services/authentication/authService.ts
  frontend/services/enums/enumService.ts
  frontend/services/investors/investorsService.ts
  frontend/services/locations/localtionsService.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/enums.ts
  frontend/types/locations.ts
  frontend/types/user.ts
Due: frontend-lint, frontend-i18n

feat: adjust page header fix build error
  frontend/lang/compiled/zu.json
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

feat: adjust page header rebase to develop
  frontend/components/menu/popup/component.tsx
  frontend/components/menu/popup/types.ts
  frontend/components/menu/section/component.tsx
  frontend/components/menu/section/types.ts
  frontend/components/menu/types.ts
  frontend/enums/index.ts
  frontend/helpers/user.ts
  frontend/hooks/me/index.ts
  frontend/lang/compiled/zu.json
  frontend/layouts/static-page/header/component.tsx
  frontend/pages/sign-in/index.tsx
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/types.ts
  frontend/services/users/userService.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Fix build error
  frontend/lang/compiled/zu.json
  frontend/services/project-developers/projectDevelopersService.ts
Due: frontend-lint, frontend-i18n

feat: improve project develoepr form
  frontend/containers/social-contact/inputs-social-contact/component.tsx
  frontend/lang/compiled/zu.json
  frontend/pages/project-developers/new.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/validations/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

feat: improve project developer form Adjust style to new design Adjust textbox validation
  frontend/lang/compiled/zu.json
Due: none

remove TagGroup shouldValidate=false
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Feature/improve project developer form (#95)
  frontend/containers/social-contact/inputs-social-contact/component.tsx
  frontend/pages/project-developers/new.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/validations/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

add more specs for project model
  backend/app/models/project.rb
  backend/spec/factories/project.rb
  backend/spec/models/project_spec.rb
Due: backend-lint

add involved_project_developer_not_listed and update api and specs
  backend/app/serializers/api/v1/project_serializer.rb
  backend/db/migrate/20220412092927_changes_for_projects.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/projects_spec.rb
Due: backend-lint

changes for project model add more enums, update specs
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/models/impact_area.rb
  backend/app/models/project.rb
  backend/app/models/project_development_stage.rb
  backend/app/models/project_target_group.rb
  backend/app/models/ticket_size.rb
  backend/app/serializers/api/v1/enums/impact_area_serializer.rb
  backend/app/serializers/api/v1/enums/project_development_stage_serializer.rb
  backend/app/serializers/api/v1/enums/project_target_group_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/config/locales/zu.yml
  backend/db/migrate/20220412092927_changes_for_projects.rb
  backend/db/schema.rb
  backend/spec/factories/location.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-location-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-location-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-location.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-location-type.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-parent-id.json
  backend/spec/fixtures/snapshots/api/v1/locations-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/locations-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/locations.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
Due: backend-lint

add project involvements
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/db/migrate/20220412133916_create_project_involvements.rb
  backend/db/schema.rb
Due: backend-lint

update docs
  backend/swagger/v1/swagger.yaml
Due: none

Added private project developer endpoint
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/config/routes.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Added contact_email and contact_phone to account
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/models/account.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/db/migrate/20220412120631_add_contact_fields_to_project_developers.rb
  backend/db/schema.rb
  backend/spec/factories/account.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Contact email format validation
  backend/app/models/account.rb
  backend/spec/models/account_spec.rb
Due: backend-lint

Tag checkbox component (#80)
  frontend/components/forms/tag-group/component.stories.tsx
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/index.ts
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.stories.tsx
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/index.ts
  frontend/components/forms/tag/types.ts
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/containers/category-tag/category-tag-dot/index.ts
  frontend/containers/category-tag/category-tag-dot/types.ts
  frontend/containers/category-tag/component.stories.tsx
  frontend/containers/category-tag/component.tsx
  frontend/containers/category-tag/index.ts
  frontend/containers/category-tag/types.ts
  frontend/containers/multi-page-layout/page/component.tsx
  frontend/containers/tags-grid/component.stories.tsx
  frontend/containers/tags-grid/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developers/new.tsx
  frontend/types/category.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Note on updating snapshot files
  backend/README.md
Due: none

feat: adjust header create getInitials function
  frontend/helpers/getUserInitials.ts
Due: frontend-lint, frontend-i18n

feat: adjust page header add account name
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n

feat: adjust header to sign-in Change menu sections and items with diferent screen sizes Change menu if the user is signed in
  frontend/lang/compiled/zu.json
  frontend/layouts/static-page/header/component.tsx
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n

Fix build error
  frontend/lang/compiled/zu.json
Due: none
