Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

Fix API service deserialisation not working
  frontend/services/api.ts
Due: frontend-lint, frontend-i18n

Update files to work with the now deserialised data
  frontend/containers/forms/sdgs/component.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/sdgs/component.tsx
  frontend/containers/tags-grid/component.stories.tsx
  frontend/containers/tags-grid/component.tsx
  frontend/containers/tags-grid/types.ts
  frontend/enums/index.ts
  frontend/helpers/user.ts
  frontend/layouts/static-page/header/component.tsx
  frontend/mockups/sdgs.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/sign-in/index.tsx
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/enums.ts
  frontend/types/locations.ts
  frontend/types/project.ts
  frontend/types/projectDeveloper.ts
  frontend/types/user.ts
Due: frontend-lint, frontend-i18n

Remove leftover console.log
  frontend/containers/project-form-pages/pages/general-information.tsx
Due: frontend-lint, frontend-i18n

feat: Save geometry (geojson) of Project
  backend/Dockerfile
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/config/locales/zu.yml
  backend/db/migrate/20220427090407_add_geometry_to_projects.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Fix possible crash issue in api service
  frontend/services/api.ts
Due: frontend-lint, frontend-i18n

TagsGrid component improvements
  frontend/containers/tags-grid/component.tsx
Due: frontend-lint, frontend-i18n

add pages 2, 3, 4
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/containers/project-form-pages/index.tsx
  frontend/containers/project-form-pages/pages/funding.tsx
  frontend/containers/project-form-pages/pages/impact.tsx
  frontend/containers/project-form-pages/pages/project-description.tsx
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
Due: frontend-lint, frontend-i18n

devete comments
  frontend/containers/project-form-pages/index.tsx
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

feat: project creation form
  frontend/containers/project-form-pages/index.tsx
  frontend/containers/project-form-pages/pages/other-information.tsx
  frontend/containers/project-form-pages/pages/project-description.tsx
  frontend/containers/project-form-pages/pages/project-grow.tsx
  frontend/helpers/pages.ts
  frontend/mockups/sdgs.json
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
  frontend/services/account/index.ts
  frontend/types/project.ts
  frontend/validations/project.ts
Due: frontend-lint, frontend-i18n

Connect ProjectDeveloper page to the API
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/tags-grid/types.ts
  frontend/enums/index.ts
  frontend/next.config.js
  frontend/package.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/project.ts
  frontend/types/projectDeveloper.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Move forms SocialContact inputs to containers/forms/
  frontend/containers/forms/website-social/component.stories.tsx
  frontend/containers/forms/website-social/component.tsx
  frontend/containers/forms/website-social/index.tsx
  frontend/containers/forms/website-social/types.ts
  frontend/pages/project-developers/new.tsx
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Fix console warning on Carousel Paging buttons not having a unique key
  frontend/components/carousel/paging/component.tsx
Due: frontend-lint, frontend-i18n

Add pending page
  frontend/enums/index.ts
  frontend/pages/projects/new.tsx
  frontend/pages/projects/pending.tsx
  frontend/services/account/index.ts
  frontend/services/project/project.ts
Due: frontend-lint, frontend-i18n

Add barebones project page and projectService
  frontend/enums/index.ts
  frontend/pages/project/[id]/index.tsx
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n

Update profile header styling to reflect design changes
  frontend/containers/profile-header/component.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Update frontend/containers/project-form-pages/pages/project-description.tsx
  frontend/containers/project-form-pages/pages/project-description.tsx
Due: frontend-lint, frontend-i18n

feat: project creation form fix errors from review add leave confimation modal add pending page
  frontend/containers/project-form-pages/pages/funding.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/pages/other-information.tsx
  frontend/containers/project-form-pages/pages/project-description.tsx
  frontend/containers/project-form-pages/pages/project-grow.tsx
  frontend/helpers/pages.ts
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
Due: frontend-lint, frontend-i18n

Move forms SocialContact inputs to containers/forms/ WebsiteSocial (#125)
  frontend/containers/forms/website-social/component.stories.tsx
  frontend/containers/forms/website-social/component.tsx
  frontend/containers/forms/website-social/index.tsx
  frontend/containers/forms/website-social/types.ts
  frontend/pages/project-developers/new.tsx
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Profile header styling change + barebones project page (#127)
  frontend/containers/profile-header/component.tsx
  frontend/enums/index.ts
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n

fix build error
  frontend/containers/project-form-pages/pages/project-description.tsx
Due: frontend-lint, frontend-i18n

fix build error
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

Geometry upload input (no map)
  frontend/containers/forms/geometry/component.stories.tsx
  frontend/containers/forms/geometry/component.tsx
  frontend/containers/forms/geometry/helpers.ts
  frontend/containers/forms/geometry/index.ts
  frontend/containers/forms/geometry/types.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

fix: change QUeries.ProjectQuery enum
  frontend/enums/index.ts
  frontend/services/account/index.ts
  frontend/services/project/project.ts
Due: frontend-lint, frontend-i18n

feat: adding filters (searching) to index API endpoints
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/services/api/filterer.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

renaming filterer.rb to searcher.rb
  backend/app/services/api/searcher.rb
  backend/spec/services/api/searcher_spec.rb
Due: backend-lint

renaming searching back to filtering
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/services/api/filterer.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Let 352 2 fe project creation form (#124)
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/containers/project-form-pages/index.tsx
  frontend/containers/project-form-pages/pages/funding.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/pages/impact.tsx
  frontend/containers/project-form-pages/pages/other-information.tsx
  frontend/containers/project-form-pages/pages/project-description.tsx
  frontend/containers/project-form-pages/pages/project-grow.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/mockups/sdgs.json
  frontend/pages/projects/new.tsx
  frontend/pages/projects/pending.tsx
  frontend/schemas/project.ts
  frontend/services/account/index.ts
  frontend/types/project.ts
  frontend/validations/project.ts
Due: frontend-lint, frontend-i18n

feat: direct upload Create direct upload function Add it to the pr form - profile picture
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/head/component.tsx
  frontend/package.json
  frontend/services/account/index.ts
  frontend/services/direct-upload/directUpload.ts
  frontend/services/enums/enumService.ts
  frontend/services/projects/projectService.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

temp disable origin check for rails controllers
  backend/config/environments/production.rb
Due: backend-lint

feat: populate pd form with mosaics & add link with mosaics map
  frontend/enums/index.ts
  frontend/hooks/useInterests.ts
  frontend/pages/project-developers/new.tsx
  frontend/services/locations/locations.ts
Due: frontend-lint, frontend-i18n

fix: use correct geos lib at Dockerfile
  backend/Dockerfile
Due: none

Change log_level for easier debugging
  backend/config/environments/production.rb
Due: backend-lint

fixing all issues addressed during CR
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/locations_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/services/api/filterer.rb
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/locations_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

PR feedback
  frontend/lang/transifex/zu.json
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Update styles of `Map` component and controls
  frontend/.storybook/main.js
  frontend/components/map/component.stories.tsx
  frontend/components/map/component.tsx
  frontend/components/map/constants.ts
  frontend/components/map/controls/component.stories.tsx
  frontend/components/map/controls/component.tsx
  frontend/components/map/controls/fit-bounds/component.tsx
  frontend/components/map/controls/fit-bounds/types.ts
  frontend/components/map/controls/types.ts
  frontend/components/map/controls/zoom/component.tsx
  frontend/components/map/controls/zoom/types.ts
  frontend/components/map/layers.ts
  frontend/components/map/types.ts
  frontend/lang/transifex/zu.json
  frontend/next.config.js
  frontend/package.json
  frontend/svgs/map/fit-bounds.svg
  frontend/svgs/map/zoom-in.svg
  frontend/svgs/map/zoom-out.svg
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Displays the geometry on the map
  frontend/containers/forms/geometry/component.tsx
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n
