Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: eslint --fix {staged_files}

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

update lefthook config
  lefthook.yml
Due: none

fix before commit
  lefthook.yml
Due: none

ignore lefthook local config
  .gitignore
Due: none

setup api base controller
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/controllers/concerns/api/authentication.rb
  backend/app/controllers/concerns/api/errors.rb
  backend/config/initializers/inflections.rb
  backend/config/routes.rb
Due: backend-lint

add accounts, investors models
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/models/account.rb
  backend/app/models/investor.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/config/routes.rb
  backend/db/migrate/20220225123521_create_accounts.rb
  backend/db/migrate/20220225124112_create_investors.rb
  backend/db/schema.rb
  backend/db/seeds.rb
Due: backend-lint

add some static models for investor
  backend/app/models/category.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/models/concerns/static_model.rb
  backend/app/models/impact.rb
  backend/app/models/instrument_type.rb
  backend/app/models/investor.rb
  backend/app/models/investor_type.rb
  backend/app/models/sdg.rb
  backend/app/models/ticket_size.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/validators/array_inclusion_validator.rb
  backend/config/locales/en.yml
  backend/db/migrate/20220225124112_create_investors.rb
  backend/db/schema.rb
  backend/db/seeds.rb
Due: backend-lint

add friendly-id, ability to fetch by slug
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/models/account.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/config/initializers/friendly_id.rb
  backend/db/migrate/20220225155135_create_friendly_id_slugs.rb
  backend/db/schema.rb
Due: backend-lint

Configure translation pipeline with FormatJS
  .github/workflows/frontend-deployment.yml
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.tx/config
  frontend/README.md
  frontend/helpers/i18n.ts
  frontend/lang/compiled/.keep
  frontend/lang/transifex/en.json
  frontend/lang/transifex/es.json
  frontend/lang/transifex/pt.json
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/about.tsx
  frontend/pages/index.tsx
  frontend/yarn.lock
  lefthook.yml
Due: frontend-lint, frontend-types

add simple specs
  backend/Gemfile
  backend/app/models/impact.rb
  backend/app/models/investor.rb
  backend/app/validators/array_inclusion_validator.rb
  backend/db/seeds.rb
  backend/spec/factories/account.rb
  backend/spec/factories/investor.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor-not-found.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/models/account_spec.rb
  backend/spec/models/investor_spec.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/support/factory_bot.rb
  backend/spec/support/shared_examples/models/static_relation_validations.rb
Due: backend-lint

Replace Transifex by react-intl
  frontend/README.md
  frontend/components/head/component.tsx
  frontend/components/language-selector/component.tsx
  frontend/components/language-selector/helpers.ts
  frontend/components/modal/component.tsx
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
  frontend/layouts/static-page/header/component.tsx
  frontend/locales.config.json
  frontend/next.config.js
  frontend/package.json
  frontend/pages/about.tsx
  frontend/pages/index.tsx
  frontend/yarn.lock
Due: frontend-lint, frontend-types

add review status enum
  backend/app/models/concerns/reviewable.rb
  backend/app/models/investor.rb
  backend/spec/factories/investor.rb
Due: backend-lint

Fix errors in the GitHub action
  .github/workflows/front-end-staging-deployment.yml
  .github/workflows/frontend-deployment.yml
  .github/workflows/frontend-development-deployment.yml
Due: none

Recommend the editor's “format on save” feature
  frontend/README.md
Due: none

Update the static translation pipeline (#12)
  .github/workflows/front-end-staging-deployment.yml
  .github/workflows/frontend-deployment.yml
  .github/workflows/frontend-development-deployment.yml
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.tx/config
  frontend/README.md
  frontend/components/head/component.tsx
  frontend/components/language-selector/component.tsx
  frontend/components/language-selector/helpers.ts
  frontend/components/modal/component.tsx
  frontend/helpers/i18n.ts
  frontend/lang/compiled/.keep
  frontend/lang/transifex/en.json
  frontend/lang/transifex/es.json
  frontend/lang/transifex/pt.json
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
  frontend/layouts/static-page/header/component.tsx
  frontend/locales.config.json
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/about.tsx
  frontend/pages/index.tsx
  frontend/yarn.lock
  lefthook.yml
Due: frontend-lint, frontend-types

Fix sending source strings to Transifex
  .github/workflows/front-end-staging-deployment.yml
  .github/workflows/frontend-deployment.yml
  .github/workflows/frontend-development-deployment.yml
Due: none

add missing not nulls, language column for investors
  backend/app/models/concerns/reviewable.rb
  backend/db/migrate/20220225123521_create_accounts.rb
  backend/db/migrate/20220225124112_create_investors.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/account.rb
  backend/spec/factories/investor.rb
Due: backend-lint

Add locale to API
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/config/initializers/locale.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/api/v1/locale_spec.rb
  backend/spec/support/request_helpers.rb
Due: backend-lint

add pagination
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/concerns/api/localization.rb
  backend/app/controllers/concerns/api/pagination.rb
  backend/config/initializers/pagy.rb
  backend/db/seeds.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
Due: backend-lint

add pagination specs
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/support/shared_examples/api/pagination.rb
Due: backend-lint

sdgs and impacts seems to not be mandatory
  backend/app/models/investor.rb
  backend/spec/models/investor_spec.rb
  backend/spec/support/shared_examples/models/static_relation_validations.rb
Due: backend-lint

url validator
  backend/app/models/account.rb
  backend/app/models/investor.rb
  backend/app/validators/url_validator.rb
  backend/spec/models/account_spec.rb
Due: backend-lint

fix slugs in specs
  backend/app/models/account.rb
  backend/spec/factories/account.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
Due: backend-lint

better uuid check, but maybe we should just use slugs as keys
  backend/app/controllers/api/v1/investors_controller.rb
Due: backend-lint

Fix an issue where the app may not start
  frontend/.gitignore
  frontend/README.md
  frontend/lang/compiled/.keep
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
Due: none

Remove errors due to missing translations
  frontend/pages/_app.tsx
Due: frontend-lint, frontend-types

Add react-intl support to Storybook
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.storybook/react-intl.js
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint

Add Next.js Image Component support to Storybook
  frontend/.storybook/main.js
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint

run i18n frontend hook only if respective files changed, bug - command needs to have {staged_files} somewhere
  lefthook.yml
Due: none

Add @deck.gl/extensions (required by Storybook)
  frontend/package.json
  frontend/yarn.lock
Due: none

add open calls
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/models/application_record.rb
  backend/app/models/open_call.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/config/routes.rb
  backend/db/migrate/20220303132723_create_open_calls.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/open_call.rb
  backend/spec/fixtures/snapshots/api/v1/get-open_call-not-found.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
  backend/spec/models/open_call_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
Due: backend-lint

Fix issues related to the static content translation pipeline (#14)
  frontend/.gitignore
  frontend/README.md
  frontend/lang/compiled/.keep
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
  frontend/pages/_app.tsx
Due: frontend-lint, frontend-types

Adding SDG images
  frontend/public/images/sdgs/1-no-poverty.png
  frontend/public/images/sdgs/10-reduced-inequalities.png
  frontend/public/images/sdgs/11-sustainable-cities.png
  frontend/public/images/sdgs/12-responsible-consumption.png
  frontend/public/images/sdgs/13-climate-action.png
  frontend/public/images/sdgs/14-life-below-water.png
  frontend/public/images/sdgs/15-life-on-land.png
  frontend/public/images/sdgs/16-peace-justice.png
  frontend/public/images/sdgs/17-partnership.png
  frontend/public/images/sdgs/2-zero-hunger.png
  frontend/public/images/sdgs/3-good-health.png
  frontend/public/images/sdgs/4-quality-education.png
  frontend/public/images/sdgs/5-gender-equality.png
  frontend/public/images/sdgs/6-clean-water.png
  frontend/public/images/sdgs/7-clean-energy.png
  frontend/public/images/sdgs/8-decent-work.png
  frontend/public/images/sdgs/9-industry-innovation.png
Due: none

Adding SDGs component
  frontend/containers/.gitkeep
  frontend/containers/sdgs/component.stories.tsx
  frontend/containers/sdgs/component.tsx
  frontend/containers/sdgs/constants.ts
  frontend/containers/sdgs/index.ts
  frontend/containers/sdgs/sdg/component.tsx
  frontend/containers/sdgs/sdg/index.ts
  frontend/containers/sdgs/sdg/types.ts
  frontend/containers/sdgs/types.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-types

Fixing Tailwind JIT bug breaking Storybook
  frontend/containers/sdgs/sdg/component.tsx
Due: frontend-lint, frontend-types

add language validation, just rely on inclusion validation, moar feedback implemented
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/models/account.rb
  backend/app/models/investor.rb
  backend/app/models/open_call.rb
  backend/spec/models/account_spec.rb
  backend/spec/models/investor_spec.rb
  backend/spec/models/open_call_spec.rb
Due: backend-lint

I'm not even sure why was downcasing that
  backend/app/controllers/concerns/api/errors.rb
Due: backend-lint

Project developer model and basic endpoints
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/models/project_developer.rb
  backend/app/models/project_developer_type.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/config/routes.rb
  backend/db/migrate/20220304095005_create_project_developers.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/project_developer.rb
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-not-found.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/models/project_developer_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
Due: backend-lint

Added language to all serializers
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
Due: backend-lint

For those of us on a mac
  backend/Gemfile.lock
Due: none

add sparse fieldset
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/concerns/api/sparse_fieldset.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/investors-sparse-fieldset.json
  backend/spec/requests/api/v1/investors_spec.rb
Due: backend-lint

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: **/*.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
