Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

fix: Removing /backend suffix from BACKEND_URL
  backend/.env.sample
  backend/dump.rdb
  infrastructure/base/modules/env/main.tf
Due: none

Clean vector data
  data/notebooks/Lab/01_Sustainability_Scores.ipynb
  data/notebooks/requirements.txt
  data/requirements.txt
Due: none

feat: Store progress of background jobs at Events table
  backend/app/controllers/api/v1/background_job_events_controller.rb
  backend/app/jobs/application_job.rb
  backend/app/models/background_job_event.rb
  backend/app/serializers/api/v1/background_job_event_serializer.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220512174229_create_background_job_events.rb
  backend/db/schema.rb
  backend/spec/factories/background_job_events.rb
  backend/spec/fixtures/snapshots/api/v1/background-job-events.json
  backend/spec/jobs/application_job_spec.rb
  backend/spec/models/background_job_event_spec.rb
  backend/spec/requests/api/v1/background_job_events_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: impact visualization chart
  frontend/components/impact-chart/component.stories.tsx
  frontend/components/impact-chart/component.tsx
  frontend/components/impact-chart/index.ts
  frontend/components/impact-chart/types.ts
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/package.json
  frontend/pages/project/[id]/index.tsx
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

feat: Projects Map API endpoint
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add the key to the `.env.sample` file
  frontend/.env.sample
Due: none

LET-380 Add GMaps Places API key to FE infrastructure (#167)
  .nvmrc
  frontend/.env.sample
  frontend/README.md
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/variables.tf
  infrastructure/base/versions.tf
  package.json
Due: none

Compute scores and demans
  data/notebooks/Lab/01_Sustainability_Scores.ipynb
Due: none

Adjust image style
  frontend/containers/image-gallery/component.tsx
  frontend/containers/project-header/component.tsx
Due: frontend-lint, frontend-i18n

add background
  frontend/components/impact-chart/component.tsx
  frontend/components/impact-chart/types.ts
  frontend/pages/project/[id]/index.tsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

refactoring: remove geometry and add trusted to maps serializer
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/jobs/application_job_spec 2.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
Due: backend-lint

removing duplicate file
  backend/spec/jobs/application_job_spec 2.rb
Due: backend-lint

Disallow all crawlers
  frontend/public/robots.txt
Due: none

Search pages to live under the discover pathname
  frontend/enums/index.ts
Due: frontend-lint, frontend-i18n

Add SearchPageLayout + projects search api connection w/search and pagination support
  frontend/containers/discover-search/component.tsx
  frontend/containers/discover-search/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/discover-page/header/index.ts
  frontend/layouts/discover-page/header/types.ts
  frontend/layouts/discover-page/index.ts
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/layouts/discover-page/navigation/index.ts
  frontend/layouts/discover-page/navigation/types.ts
  frontend/layouts/discover-page/types.ts
  frontend/next.config.js
  frontend/services/types.ts
Due: frontend-lint, frontend-i18n

Add basic Project search page + other placeholder search pages
  frontend/hooks/use-scroll-on-query.js
  frontend/lang/transifex/zu.json
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n

Update a couple projectService comments (project developer to project)
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n

Preserve the search query when changing tabs in the discover/search pages
  frontend/layouts/discover-page/navigation/component.tsx
Due: frontend-lint, frontend-i18n

Add UrlSearchParams polyfill
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Use shallow routing for the discover page search
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n

Make use of `keepPreviousData` to preserve data while searching/changing pages
  frontend/layouts/discover-page/component.tsx
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n

Minor fixes for the discover/projects page, particularly the display of the loading spinner
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n

Fixed dynamic parent name
  backend/app/services/translations/translate.rb
Due: backend-lint

Try to access project id from auth object rather than env var
  backend/.env.sample
  backend/ENV_VARS.md
  backend/app/services/translations/translate.rb
  backend/spec/services/translations/translate_spec.rb
  infrastructure/base/modules/env/main.tf
Due: backend-lint

fix: use only host part of uri for default_url_options[:host]
  backend/.env.sample
  backend/.gitignore
  backend/config/application.rb
  backend/dump.rdb
  infrastructure/base/modules/env/main.tf
Due: backend-lint

fix: use BACKEND_URL port and protocol for routes.default_url_options
  backend/config/application.rb
Due: backend-lint

TMP queue backend
  backend/config/environments/production.rb
Due: backend-lint

Search page layout & API connection (#159)
  frontend/containers/discover-search/component.tsx
  frontend/containers/discover-search/types.ts
  frontend/enums/index.ts
  frontend/hooks/use-scroll-on-query.js
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/discover-page/header/index.ts
  frontend/layouts/discover-page/header/types.ts
  frontend/layouts/discover-page/index.ts
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/layouts/discover-page/navigation/index.ts
  frontend/layouts/discover-page/navigation/types.ts
  frontend/layouts/discover-page/types.ts
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/services/projects/projectService.ts
  frontend/services/types.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Extract navigation menu button into separate component for reuse
  frontend/layouts/shared/navigation-menu-button/component.tsx
  frontend/layouts/shared/navigation-menu-button/index.ts
  frontend/layouts/shared/navigation-menu-button/types.ts
Due: frontend-lint, frontend-i18n

Extract navigation user menu into separate shared component for reuse
  frontend/layouts/shared/user-menu/component.tsx
  frontend/layouts/shared/user-menu/index.ts
  frontend/layouts/shared/user-menu/types.ts
Due: frontend-lint, frontend-i18n

Using new NavigationMenuButton shared component in the discover and static page layouts
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

Layouts now make use of the shared menus
  frontend/components/badge-navigation/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

Moving LanguageSelector which is only used on layouts to layouts/shared folder
  frontend/layouts/auth-page/header/component.tsx
  frontend/layouts/shared/language-selector/component.tsx
  frontend/layouts/shared/language-selector/index.ts
  frontend/layouts/shared/language-selector/types.ts
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

Extract logo shared between all layout headers to its separated shared component
  frontend/layouts/auth-page/header/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/shared/logo/component.tsx
  frontend/layouts/shared/logo/index.ts
  frontend/layouts/shared/logo/types.ts
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

Extract link navigation used in layouts into shared component
  frontend/layouts/shared/navigation/component.tsx
  frontend/layouts/shared/navigation/index.ts
  frontend/layouts/shared/navigation/types.ts
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

Move layouts/shared to containers/layouts
  frontend/containers/layouts/language-selector/component.tsx
  frontend/containers/layouts/language-selector/index.ts
  frontend/containers/layouts/language-selector/types.ts
  frontend/containers/layouts/logo/component.tsx
  frontend/containers/layouts/logo/index.ts
  frontend/containers/layouts/logo/types.ts
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/containers/layouts/navigation-menu-button/index.ts
  frontend/containers/layouts/navigation-menu-button/types.ts
  frontend/containers/layouts/navigation/component.tsx
  frontend/containers/layouts/navigation/index.ts
  frontend/containers/layouts/navigation/types.ts
  frontend/containers/layouts/user-menu/component.tsx
  frontend/containers/layouts/user-menu/index.ts
  frontend/containers/layouts/user-menu/types.ts
  frontend/layouts/auth-page/header/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

Move containers/discover-search to containers/layouts/discover-search
  frontend/containers/layouts/discover-search/component.stories.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/index.ts
  frontend/containers/layouts/discover-search/types.ts
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n

Workaround due to z-index issues - menus would open below the DiscoverSearch bar
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/discover-page/header/types.ts
Due: frontend-lint, frontend-i18n

Hide discover layout user menu in small screens - it is taken care of by the hamburguer menu
  frontend/layouts/discover-page/header/component.tsx
Due: frontend-lint, frontend-i18n

Using Paths enum for NavigationMenuButton links
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/enums/index.ts
Due: frontend-lint, frontend-i18n
