Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

feat: API for destroying open calls
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add instrument-type
  frontend/containers/open-call-page/open-call-header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

adding ransacker tests to Project model
  backend/spec/models/project_spec.rb
Due: backend-lint

Allow users to save draft open calls
  frontend/containers/open-call-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

add open call components to page
  frontend/containers/open-call-page/chart/component.tsx
  frontend/containers/open-call-page/chart/index.ts
  frontend/containers/open-call-page/chart/types.ts
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/funding-impact/index.ts
  frontend/containers/open-call-page/funding-impact/types.ts
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/header/index.ts
  frontend/containers/open-call-page/header/types.ts
  frontend/containers/open-call-page/index.ts
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/investor/index.ts
  frontend/containers/open-call-page/investor/types.ts
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/open-call-page/overview/index.ts
  frontend/containers/open-call-page/overview/types.ts
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/project-page/overview/types.ts
  frontend/pages/open-call/[id]/index.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

test: use correct enum snapshot
  backend/spec/fixtures/snapshots/api/v1/enums.json
Due: none

Add correct endpoint and remove search from 2 columsn
  frontend/containers/dashboard/open-calls/table/component.tsx
  frontend/containers/dashboard/search-and-info/component.tsx
  frontend/lang/transifex/zu.json
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

Create open call public page
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/funding-impact/types.ts
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/header/types.ts
  frontend/containers/open-call-page/index.ts
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/investor/types.ts
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/open-call-page/overview/types.ts
  frontend/containers/open-call-page/section-links/component.tsx
  frontend/containers/open-call-page/section-links/index.ts
  frontend/containers/open-call-page/section-links/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/open-call/[id]/index.tsx
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

return some mosaic locales
  backend/config/locales/zu.yml
Due: none

fix: migration when mosaics is nil
  backend/db/migrate/20220817071734_create_project_developer_priority_landscapes.rb
Due: backend-lint

fix review issues and hide total number of open calls when loading
  frontend/containers/dashboard/open-calls/table/cells/actions/types.ts
  frontend/containers/dashboard/open-calls/table/cells/status/index.ts
  frontend/containers/dashboard/open-calls/table/cells/status/types.ts
  frontend/containers/dashboard/open-calls/table/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Let 905 fe implement the open calls list in the dashboard of investors (#477)
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/actions/index.ts
  frontend/containers/dashboard/open-calls/table/cells/actions/types.ts
  frontend/containers/dashboard/open-calls/table/cells/instrument-types/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/instrument-types/index.ts
  frontend/containers/dashboard/open-calls/table/cells/instrument-types/types.ts
  frontend/containers/dashboard/open-calls/table/cells/status/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/status/index.ts
  frontend/containers/dashboard/open-calls/table/cells/status/types.ts
  frontend/containers/dashboard/open-calls/table/component.tsx
  frontend/containers/dashboard/open-calls/table/index.ts
  frontend/containers/dashboard/open-calls/table/types.ts
  frontend/containers/dashboard/search-and-info/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/open-calls.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: Adding include param to OpenCall endpoints
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

test: adding missed snapshots
  backend/spec/fixtures/snapshots/api/v1/get-open-call-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-include-relationships.json
Due: none

Change review
  frontend/components/map/controls/fullscreen/types.ts
  frontend/components/menu/popup/types.ts
  frontend/containers/open-call-page/chart/component.tsx
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/funding-impact/types.ts
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/investor/types.ts
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/open-call-page/overview/types.ts
  frontend/containers/open-call-page/section-links/component.tsx
  frontend/containers/open-call-page/section-links/types.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

Allow the user to launch an open call
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/types.ts
  frontend/lang/transifex/zu.json
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

LET-886 Allow the user to close an open call
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

LET-887 Allow the user to delete an open call
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

fix: Enforce account language for stuff created via API
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/location.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
Due: backend-lint

Refactor code to change mosaic enums for priority landscape location
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-developer-form/pages/about.tsx
  frontend/containers/project-developer-form/types.ts
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/hooks/useInterests.ts
  frontend/pages/for-investors.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/schemas/project-developer.ts
  frontend/services/locations/locations.ts
  frontend/types/projectDeveloper.ts
  frontend/validations/project-developer.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix project developer page
  frontend/containers/tags-grid/component.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change get open call by id
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

Allow investor users to launch, close and delete open calls from the Dashboard list (#479)
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/types.ts
  frontend/lang/transifex/zu.json
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix the PD account edition
  frontend/containers/project-developer-form/component.tsx
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Refactor code to change mosaic enums for priority landscape location (#485)
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-developer-form/pages/about.tsx
  frontend/containers/project-developer-form/types.ts
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/hooks/useInterests.ts
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/for-investors.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/schemas/project-developer.ts
  frontend/services/account/index.ts
  frontend/services/locations/locations.ts
  frontend/types/projectDeveloper.ts
  frontend/validations/project-developer.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: Adding code to priority landscapes
  backend/app/serializers/api/v1/location_serializer.rb
  backend/db/migrate/20220819092444_add_code_to_priority_landscapes.rb
  backend/db/schema.rb
  backend/lib/tasks/priority_landscapes.rake
  backend/spec/fixtures/snapshots/api/v1/get-location.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-location-type.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-parent-id.json
  backend/spec/fixtures/snapshots/api/v1/locations.json
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Fix type errors
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/investor/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Adjust the layout
  frontend/containers/breadcrumbs/component.tsx
  frontend/containers/open-call-page/chart/component.tsx
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/funding-impact/types.ts
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/index.ts
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/investor/types.ts
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/open-call-page/overview/types.ts
  frontend/containers/open-call-page/section-links/component.tsx
  frontend/containers/open-call-page/section-links/index.ts
  frontend/containers/open-call-page/section-links/types.ts
  frontend/containers/profile-card/component.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/open-call/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix React warnings
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/investor/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Priority landscape filter
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/services/api/filterer.rb
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Fix type issue
  frontend/components/map/controls/fullscreen/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Let 889 fe implement the open call public page (#482)
  frontend/components/menu/popup/types.ts
  frontend/containers/breadcrumbs/component.tsx
  frontend/containers/open-call-page/chart/component.tsx
  frontend/containers/open-call-page/chart/index.ts
  frontend/containers/open-call-page/chart/types.ts
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/funding-impact/index.ts
  frontend/containers/open-call-page/funding-impact/types.ts
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/header/index.ts
  frontend/containers/open-call-page/header/types.ts
  frontend/containers/open-call-page/index.ts
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/investor/index.ts
  frontend/containers/open-call-page/investor/types.ts
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/open-call-page/overview/index.ts
  frontend/containers/open-call-page/overview/types.ts
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/project-page/overview/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/open-call/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

Reference priority landscapes by code
  frontend/helpers/pages.ts
  frontend/pages/for-investors.tsx
  frontend/services/locations/locations.ts
  frontend/types/locations.ts
Due: frontend-lint, frontend-i18n, frontend-types

Reference priority landscapes by `code` instead of `id` (#488)
  frontend/helpers/pages.ts
  frontend/pages/for-investors.tsx
  frontend/services/locations/locations.ts
  frontend/types/locations.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: List of the open calls at backoffice
  backend/app/controllers/backoffice/open_calls_controller.rb
  backend/app/models/open_call.rb
  backend/app/models/open_call_application.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/services/backoffice/csv/open_call_exporter.rb
  backend/app/views/backoffice/base/_full_text_filter.html.erb
  backend/app/views/backoffice/base/_navigation.html.erb
  backend/app/views/backoffice/open_calls/_filters.html.erb
  backend/app/views/backoffice/open_calls/index.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/db/migrate/20220822094637_create_open_call_applications.rb
  backend/db/migrate/20220822104832_add_open_call_applications_count_to_open_calls.rb
  backend/db/schema.rb
  backend/spec/factories/open_call_applications.rb
  backend/spec/models/open_call_application_spec.rb
  backend/spec/services/backoffice/csv/open_call_exporter_spec.rb
  backend/spec/system/backoffice/open_calls_spec.rb
Due: backend-lint

test: use correct filter name
  backend/spec/system/backoffice/open_calls_spec.rb
Due: backend-lint

fix: language mismatch - refactoring set_locale wrapper
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/controllers/concerns/api/localization.rb
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
Due: backend-lint

Fix bug where SDGs not restored on investor form
  frontend/containers/investor-form/component.tsx
  frontend/containers/investor-form/pages/impacts.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
