Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

fix: removing obsolete open_call_applications association
  backend/app/models/project_developer.rb
Due: backend-lint

Add service to get a list of open calls + hook to use the open calls list
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

Load list of open calls in the DiscoverPage layout
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Simplify how data is loaded on the DiscoverPage layout
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove stray comment on the DiscoverPage layout
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Display list of Open calls in the Discover/OpenCalls page
  frontend/lang/transifex/zu.json
  frontend/pages/discover/open-calls.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add openCall and investor mockups
  frontend/lang/transifex/zu.json
  frontend/mockups/investor.json
  frontend/mockups/openCall.json
Due: none

Add OpenCall card
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-card/index.ts
  frontend/containers/open-call-card/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/discover/open-calls.tsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n, frontend-types

Add open call card storybook story
  frontend/containers/open-call-card/component.stories.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add instrument_type sorting option to the sorting buttons
  frontend/components/sorting-buttons/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add the ability to specify the target sorting options to the useSortingByOptions hook
  frontend/layouts/discover-page/helpers.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fixes inconsistencies in locales (also LET-948)
  frontend/pages/_app.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Adapt discover page layout to the refactored useSortingByOptions hook
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add notice to the discover/search/open-calls page
  frontend/containers/discover-notice/component.tsx
  frontend/containers/discover-notice/index.ts
  frontend/containers/discover-notice/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/discover/open-calls.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: API endpoint for deleting Open Call Applications
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add DiscoverNotice close button text for screen readers
  frontend/containers/discover-notice/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix OpenCallCard displaying the wrong instrument types
  frontend/containers/open-call-card/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove instrument_type from the OpenCall search sorting options
  frontend/components/sorting-buttons/types.ts
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/helpers.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix translations in OpenCallCard
  frontend/containers/open-call-card/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add titles to the discover pages
  frontend/lang/transifex/zu.json
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Impact Area enum contains Impact flag
  backend/app/models/impact.rb
  backend/app/models/impact_area.rb
  backend/app/serializers/api/v1/enums/impact_area_serializer.rb
  backend/app/views/backoffice/projects/_form.html.erb
  backend/spec/fixtures/snapshots/api/v1/enums.json
Due: backend-lint

fix: translation of impacts at backoffice
  backend/app/views/backoffice/projects/_form.html.erb
Due: none

Add open call cards, open call search page (#507)
  frontend/containers/discover-notice/component.tsx
  frontend/containers/discover-notice/index.ts
  frontend/containers/discover-notice/types.ts
  frontend/containers/open-call-card/component.stories.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-card/index.ts
  frontend/containers/open-call-card/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/helpers.ts
  frontend/mockups/investor.json
  frontend/mockups/openCall.json
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n, frontend-types

Group the impacts by dimension
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/impact.tsx
  frontend/containers/project-form/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

feat: API for list of OpenCallApplications for private area
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-investor.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open_call_applications-include-relationships.json
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Warn user if select all impacts from one dimension
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/impact.tsx
  frontend/containers/project-form/types.ts
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Make the tooltip interactive and accessible
  frontend/components/forms/field-info/component.stories.tsx
  frontend/components/forms/field-info/component.tsx
  frontend/components/forms/field-info/types.ts
  frontend/containers/forms/filters/component.tsx
  frontend/containers/impact-chart/component.tsx
  frontend/containers/investor-form/pages/impacts.tsx
  frontend/containers/investor-form/pages/investment.tsx
  frontend/containers/investor-form/pages/profile.tsx
  frontend/containers/open-call-form/pages/expected-impact.tsx
  frontend/containers/open-call-form/pages/funding-information.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/project-developer-form/pages/about.tsx
  frontend/containers/project-developer-form/pages/profile.tsx
  frontend/containers/project-form/pages/funding.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/containers/project-form/pages/impact.tsx
  frontend/containers/project-form/pages/other-information.tsx
  frontend/containers/project-form/pages/project-description.tsx
  frontend/containers/project-form/pages/project-grow.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Update the impact info tooltip
  frontend/containers/project-form/pages/impact.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

feat: additional filters for open call applications
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: preload data inside open call applications api
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
Due: backend-lint

Add OpenCall application service/hook, enums, types
  frontend/enums/index.ts
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add resolver & validation to use in the OpenCall application form
  frontend/validations/open-call-application.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add OpenCallApplicationModal
  frontend/containers/open-call-application-modal/component.tsx
  frontend/containers/open-call-application-modal/index.ts
  frontend/containers/open-call-application-modal/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add OpenCallApplicationModal to the open call public page (header + cta at the bottom)
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/header/types.ts
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/investor/types.ts
  frontend/pages/open-call/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Prevent users from apply to open calls unless they're project developers, and only if the opencall is ongoing
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/investor/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add maximum message length to the open call application, matching the other validations
  frontend/validations/open-call-application.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add a height prop to the listbox, to allow it to fit in the OpenCallApplicationModal
  frontend/components/forms/combobox/component.tsx
  frontend/components/forms/combobox/types.ts
  frontend/components/forms/select/listbox/component.tsx
  frontend/components/forms/select/listbox/types.ts
  frontend/containers/open-call-application-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change the position of the OpenCAllApplicationModal submit button spinner to match the other ones
  frontend/containers/open-call-application-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix OpenCallApplicationModal not resetting correctly when an application is sent successfully
  frontend/containers/open-call-application-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Rename FieldInfo's infoText to content due to the change in PR #512
  frontend/containers/open-call-application-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
