Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

add account info link to edit profile
  frontend/containers/forms/select-language-form/component.tsx
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/hooks/use-user-account.ts
  frontend/hooks/useAccountOwner.ts
  frontend/pages/dashboard/account-information.tsx
  frontend/services/investors/investorsService.ts
  frontend/services/types.ts
  frontend/types/investor.ts
Due: frontend-lint, frontend-i18n, frontend-types

add translation
  frontend/lang/compiled/zu.json
  frontend/pages/dashboard/account-information.tsx
Due: frontend-lint, frontend-i18n, frontend-types

add link
  frontend/pages/dashboard/account-information.tsx
Due: frontend-lint, frontend-i18n, frontend-types

users table: basic copy
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/containers/dashboard/users/table/cells/actions/index.ts
  frontend/containers/dashboard/users/table/cells/actions/types.ts
  frontend/containers/dashboard/users/table/cells/invitation/component.tsx
  frontend/containers/dashboard/users/table/cells/invitation/index.ts
  frontend/containers/dashboard/users/table/cells/invitation/types.ts
  frontend/containers/dashboard/users/table/cells/user/component.tsx
  frontend/containers/dashboard/users/table/cells/user/index.ts
  frontend/containers/dashboard/users/table/cells/user/types.ts
  frontend/containers/dashboard/users/table/component.tsx
  frontend/containers/dashboard/users/table/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/users.tsx
  frontend/public/images/default-user-image.png
Due: frontend-lint, frontend-i18n, frontend-types

Improve table storybook story
  frontend/components/table/component.stories.tsx
Due: frontend-lint, frontend-i18n, frontend-types

refactoring: use uuid instead of friendly_id for project at backoffice
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/views/backoffice/projects/_form.html.erb
  backend/app/views/backoffice/projects/_section_status.html.erb
  backend/app/views/backoffice/projects/index.html.erb
Due: backend-lint

Add missing project developer image to project page header
  frontend/containers/project-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix map search overlapping project card
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

add includes parameter for account/investor and account/project_developer API endpoints
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-include-relationships.json
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
Due: backend-lint

Dashboard AccountInformation page tweaks (loading etc)
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/component.tsx
  frontend/pages/dashboard/account-information.tsx
  frontend/services/account/index.ts
  frontend/types/user.ts
Due: frontend-lint, frontend-i18n, frontend-types

Button component to support next/link 'as' decorator
  frontend/components/button/component.tsx
  frontend/components/button/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

ProjectDeveloper new/edit pages & form to support a returnTo url
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-developer-form/types.ts
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove created but unused helpers
  frontend/hooks/use-user-account.ts
  frontend/hooks/useAccountOwner.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update contact admin box
  frontend/helpers/pages.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/account-information.tsx
Due: frontend-lint, frontend-i18n, frontend-types

add created_at to investor/project developer API endpoints
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
Due: backend-lint

update API docs
  backend/swagger/v1/swagger.yaml
Due: none

ProjectDevelopers new/creation pages to decode returnPath in order to support query params
  frontend/pages/project-developers/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Project edition form to support returning to a specified path on completion/cancellation
  frontend/pages/project/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Dashboard/Projects view to encode returnPath URI when sending the user to the project edition view
  frontend/pages/dashboard/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix: backoffice localized fields show correct validation errors
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/controllers/concerns/backoffice/content_language.rb
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/accounts/_common_fields.html.erb
  backend/app/views/backoffice/investors/_form.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/projects/_form.html.erb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

Cloud scheduler to purge users monthly
  infrastructure/base/modules/cloud-scheduler/main.tf
  infrastructure/base/modules/cloud-scheduler/variables.tf
  infrastructure/base/modules/env/main.tf
Due: none

users table: fix cells
  frontend/components/button/constants.ts
  frontend/components/button/types.ts
  frontend/components/confirmation-prompt/component.stories.tsx
  frontend/components/confirmation-prompt/component.tsx
  frontend/components/confirmation-prompt/types.d.ts
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/containers/dashboard/users/table/cells/actions/types.ts
  frontend/containers/dashboard/users/table/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/services/account/index.ts
  frontend/services/users/userService.ts
  frontend/types/user.ts
Due: frontend-lint, frontend-i18n, frontend-types

users table: add sort params
  frontend/containers/dashboard/users/table/component.tsx
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

users table: fix substitutions
  frontend/containers/dashboard/users/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

users table: add searcher
  frontend/containers/dashboard/users/table/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

users table: searching styles
  frontend/components/search/component.tsx
  frontend/containers/dashboard/users/table/component.tsx
  frontend/pages/dashboard/users.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix commit
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

fix branch commit
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Disable sorting on Dashboard/Users actions column
  frontend/components/table/component.tsx
  frontend/components/table/types.d.ts
  frontend/pages/dashboard/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

WIP - upload shapefiles through backoffice as well
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/javascript/controllers/hello_controller.js
  backend/app/javascript/controllers/index.js
  backend/app/javascript/controllers/shapefile_controller.js
  backend/app/javascript/utils/shapefile.js
  backend/app/views/backoffice/projects/_form.html.erb
  backend/package.json
  backend/yarn.lock
Due: backend-lint

add translated messages to shapefile controller
  backend/app/javascript/controllers/shapefile_controller.js
  backend/app/javascript/utils/shapefile.js
  backend/app/views/backoffice/projects/_form.html.erb
  backend/config/locales/zu.yml
Due: none

fix translations
  backend/config/locales/zu.yml
Due: none

allow to upload zipped shapefile instead of multiple files
  backend/app/javascript/utils/shapefile.js
  backend/app/views/backoffice/projects/_form.html.erb
  backend/spec/fixtures/files/shapefile.zip
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

Add missing info to account information page
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/protected-page/component.tsx
  frontend/pages/dashboard/account-information.tsx
  frontend/services/account/index.ts
  frontend/types/investor.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n, frontend-types

fix biuild error
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

add success message for shapefile loading
  backend/app/javascript/controllers/shapefile_controller.js
  backend/app/views/backoffice/projects/_form.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

spec for shapefile upload failure message
  backend/app/javascript/controllers/shapefile_controller.js
  backend/app/javascript/utils/shapefile.js
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

feat: Allow to delete projects via Backoffice
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/projects/edit.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

shapefile upload: enhance supported formats
  backend/app/javascript/controllers/shapefile_controller.js
  backend/app/javascript/utils/shapefile.js
Due: none

add missing locale for geometry label
  backend/config/locales/zu.yml
Due: none

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
