Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn check-types

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}

Fix not translating error (#627)
  frontend/pages/dashboard/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix for "missing interpolation argument :email"
  backend/app/views/users/mailer/confirmation_instructions.html.erb
Due: none

Create scroll-to-top component
  frontend/components/scroll-to-top-button/component.tsx
  frontend/components/scroll-to-top-button/index.ts
  frontend/components/scroll-to-top-button/types.ts
  frontend/hooks/use-scroll-y.ts
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/static-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add _error page
  frontend/pages/404.tsx
  frontend/pages/_error.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add scroll to top on discover page
  frontend/components/scroll-to-top-button/component.tsx
  frontend/components/scroll-to-top-button/types.ts
  frontend/hooks/use-scroll-y.ts
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update the source strings file
  frontend/lang/transifex/zu.json
  frontend/pages/500.tsx
  frontend/pages/_error.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Create 404 and 500 pages (#631)
  frontend/lang/transifex/zu.json
  frontend/pages/404.tsx
  frontend/pages/500.tsx
  frontend/pages/_error.tsx
  frontend/public/images/internal-error.png
  frontend/public/images/not-found.png
Due: frontend-lint, frontend-i18n, frontend-types

Disable the input when hidden
  frontend/components/scroll-to-top-button/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Let 1214 fe add scroll to top button to most pages (#633)
  frontend/components/scroll-to-top-button/component.tsx
  frontend/components/scroll-to-top-button/index.ts
  frontend/components/scroll-to-top-button/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/static-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Attempted fix for "Discarded TranslateJob due to a ActiveJob::DeserializationError"
  backend/app/jobs/translate_job.rb
  backend/app/models/concerns/translatable.rb
  backend/spec/support/shared_examples/models/translatable.rb
Due: backend-lint

Update the Transifex CLI
  .github/workflows/backend-push-translations.yml
  .github/workflows/frontend-deployment.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

Translate attributes after_commit
  backend/app/models/concerns/translatable.rb
Due: backend-lint

Rename the Privacy Policy page
  frontend/components/privacy-notice/notice-content/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
  frontend/pages/terms-conditions.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add link to Terms & Conditions from Sign up page
  frontend/lang/transifex/zu.json
  frontend/pages/sign-up/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove link to see public profile in Dashboard
  frontend/containers/dashboard/account-information/public-profile/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Allow selection of multiple values for each filter
  frontend/containers/forms/active-filters/component.tsx
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update the impact sentence when impact is 0
  frontend/containers/impact-text/component.tsx
  frontend/containers/impact-text/types.ts
  frontend/containers/project-details/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add missing space before link in impact sentence
  frontend/containers/impact-text/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Allow user to input incomplete URLs
  frontend/helpers/pages.ts
  frontend/schemas/investor.ts
  frontend/schemas/project-developer.ts
Due: frontend-lint, frontend-i18n, frontend-types

Allow more LinkedIn URL formats
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update the Transifex CLI to fix some deployment failures (#635)
  .github/workflows/backend-push-translations.yml
  .github/workflows/frontend-deployment.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

Update open call page
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update project page layout
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add sign-up verification code page
  frontend/enums/index.ts
  frontend/layouts/auth-page/footer/component.tsx
  frontend/layouts/auth-page/footer/index.ts
  frontend/pages/sign-up/index.tsx
  frontend/pages/sign-up/verification.tsx
  frontend/services/email-confirmation/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add email confirmation to sign-up flow
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/layouts/auth-page/footer/component.tsx
  frontend/layouts/auth-page/footer/index.ts
  frontend/pages/sign-up/index.tsx
  frontend/pages/sign-up/verification.tsx
  frontend/public/images/sign-up-code.png
  frontend/services/email-confirmation/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

clear compiled
  frontend/lang/compiled/zu.json
Due: none

Add confirmation flow
  frontend/lang/transifex/zu.json
  frontend/pages/sign-up/index.tsx
  frontend/pages/sign-up/verification.tsx
  frontend/services/email-confirmation/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add confirmation flow
  frontend/pages/sign-up/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix review errors
  frontend/lang/transifex/zu.json
  frontend/pages/sign-up/index.tsx
  frontend/pages/sign-up/verification.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Let 1138 fe update the sign up flow to account for email verification (#620)
  frontend/enums/index.ts
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/pages/sign-up/index.tsx
  frontend/pages/sign-up/verification.tsx
  frontend/public/images/sign-up-code.png
  frontend/services/email-confirmation/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update mobile style of investor page
  frontend/containers/profile-header/component.tsx
  frontend/containers/social-contact/website-social/component.tsx
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Modified dynamic search scope to match on partial terms
  backend/app/models/admin.rb
  backend/app/models/concerns/searchable.rb
  backend/app/models/user.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
Due: backend-lint

Fix bug that prevented removal of active filter
  frontend/containers/forms/active-filters/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

change useBreakPoint function
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
  frontend/hooks/use-breakpoint.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add missing Hotjar key in a few Docker files
  frontend/Dockerfile
  frontend/docker-compose-test.yml
Due: none

Fix useBreakpoint to correctly set the default breakpoint as the largest one
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
  frontend/hooks/use-breakpoint.ts
Due: frontend-lint, frontend-i18n, frontend-types

change useBreakPoint function (#645)
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
  frontend/hooks/use-breakpoint.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add missing Hotjar key in a few Docker files (#646)
  frontend/Dockerfile
  frontend/docker-compose-test.yml
Due: none

Update share links styles
  frontend/containers/share-icons/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix styles
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types
