Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Project page Impact section to use copy coming from the enums endpoint
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/impact/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add missing data to project public page overview section
  frontend/containers/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add missing data to project public page funding section
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/funding/types.ts
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

Move Project public page header into the containers/project-page folder
  frontend/containers/project-header/component.stories.tsx
  frontend/containers/project-header/index.ts
  frontend/containers/project-page/header/component.stories.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/header/index.ts
  frontend/containers/project-page/header/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Minor Project public page code/import cleanup
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Minor getProject projectService tweak for readability purposes
  frontend/pages/project/[id]/index.tsx
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix issue with project developer card throwing an error if there is no photo
  frontend/containers/profile-card/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Hide project public page funding if the project isn't seeking any
  frontend/containers/project-page/funding/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Minor project public page styling tweaks to better match the designs
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Improve project public page responsiveness on mobile
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Display all developer contacts in the project public page, when available and user has permissions
  frontend/containers/project-page/contact/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Hide priority landscape from project public page - not to be added yet
  frontend/containers/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Revert "Map uses custom Mapbox' basemap"
  frontend/.env.sample
  frontend/.storybook/main.js
  frontend/README.md
  frontend/components/map/component.tsx
  frontend/components/map/constants.ts
  frontend/next.config.js
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Set max duration to 36 months
  backend/app/models/project.rb
  backend/spec/models/project_spec.rb
Due: backend-lint

fix: manage errors client and server
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/lang/transifex/zu.json
  frontend/types/user.ts
  frontend/validations/invitedUsers.ts
Due: frontend-lint, frontend-i18n, frontend-types

Create project developer form component
  frontend/containers/forms/select-language-form/component.tsx
  frontend/containers/forms/select-language-form/index.ts
  frontend/containers/forms/select-language-form/types.ts
  frontend/containers/investor-form-pages/index.ts
  frontend/containers/investor-form-pages/types.ts
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-developer-form/index.ts
  frontend/containers/project-developer-form/types.ts
  frontend/enums/index.ts
  frontend/pages/investors/new.tsx
  frontend/pages/project-developers/new.tsx
  frontend/services/project-developers/projectDevelopersService.ts
Due: frontend-lint, frontend-i18n, frontend-types

backoffice: investor edit page
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/views/backoffice/investors/_form.html.erb
  backend/app/views/backoffice/investors/_section_profile.html.erb
  backend/app/views/backoffice/investors/edit.html.erb
  backend/app/views/backoffice/investors/index.html.erb
  backend/config/routes/backoffice.rb
Due: backend-lint

missing fields, checkbox styles
  backend/app/views/backoffice/investors/_form.html.erb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/zu.yml
Due: backend-lint

refactoring and specs for investor edit
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/concerns/backoffice/content_language.rb
  backend/app/views/backoffice/accounts/_common_fields.html.erb
  backend/app/views/backoffice/accounts/_content_language_form.html.erb
  backend/app/views/backoffice/accounts/_status_form.html.erb
  backend/app/views/backoffice/base/_content_language_selector.html.erb
  backend/app/views/backoffice/investors/_form.html.erb
  backend/app/views/backoffice/investors/_section_language.html.erb
  backend/app/views/backoffice/investors/_section_profile.html.erb
  backend/app/views/backoffice/investors/_section_status.html.erb
  backend/app/views/backoffice/project_developers/_section_language.html.erb
  backend/app/views/backoffice/project_developers/_section_profile.html.erb
  backend/app/views/backoffice/project_developers/_section_status.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/investors_spec.rb
Due: backend-lint

Fix contact duplication
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/developers/component.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

add delete account button for project developers
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
Due: backend-lint

add specs for project developer delete
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

backoffice: remove investor
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/views/backoffice/investors/edit.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/investors_spec.rb
Due: backend-lint

feat: Invitation API endpoints
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/invitations_controller.rb
  backend/app/models/ability.rb
  backend/app/models/user.rb
  backend/app/views/users/mailer/invitation_instructions.html.erb
  backend/config/initializers/devise.rb
  backend/config/locales/devise_invitable.en.yml
  backend/config/routes/api.rb
  backend/db/migrate/20220614090413_devise_invitable_add_to_users.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/invitation.json
  backend/spec/requests/api/v1/invitation_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

add a better way to display svg icons, button with icon
  backend/app/assets/images/arrow-left.svg
  backend/app/assets/images/search.svg
  backend/app/assets/images/trash.svg
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/base/_breadcrumbs.html.erb
  backend/app/views/backoffice/base/_full_text_filter.html.erb
  backend/app/views/backoffice/investors/edit.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
Due: backend-lint

feat: account/users API endpoint
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/controllers/api/v1/invitations_controller.rb
  backend/app/models/ability.rb
  backend/app/serializers/api/v1/user_serializer.rb
  backend/config/initializers/devise.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-users.json
  backend/spec/fixtures/snapshots/api/v1/email-confirmation.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/invitation.json
  backend/spec/fixtures/snapshots/api/v1/session.json
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/fixtures/snapshots/api/v1/user.json
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

fix: first and last name can be nullable when fresh user is invited
  backend/config/initializers/devise.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

refactoring: Only changed attributes are translated
  backend/app/models/concerns/translatable.rb
  backend/app/services/translations/translate.rb
  backend/spec/services/translations/translate_spec.rb
  backend/spec/support/shared_examples/models/translatable.rb
Due: backend-lint

fix: translate job
  backend/app/jobs/translate_job.rb
Due: backend-lint

feat: Job for purging expired users
  backend/app/controllers/jobs/base_controller.rb
  backend/app/controllers/jobs/users_controller.rb
  backend/config/routes/jobs.rb
  backend/spec/requests/jobs/test_spec.rb
  backend/spec/requests/jobs/users_controller_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

try to load google places API
  frontend/containers/discover-map/component.tsx
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Project sustainability impacts
  README.md
Due: none

map searcher: set script on component
  frontend/containers/discover-map/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

map searcher: add location searcher component
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/discover-map/location-searcher/index.ts
  frontend/containers/discover-map/location-searcher/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

map searcher: add mock key
  frontend/containers/discover-map/location-searcher/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

map searcher: map bpunds on searching
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

map searcher: add project slice to redux store
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/store/index.ts
  frontend/store/projects/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

map searcher: set classname styles
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

refactor: chnage project developer form to use the same componnet for create and update
  frontend/components/forms/combobox/component.tsx
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/forms/select-language-form/component.tsx
  frontend/containers/investor-form-pages/pages/profile.tsx
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/types.ts
  frontend/containers/project-developer-form-pages/index.ts
  frontend/containers/project-developer-form-pages/pages/profile.tsx
  frontend/containers/project-developer-form-pages/pages/project-developer-outro.tsx
  frontend/containers/project-developer-form-pages/types.tsx
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-developer-form/types.ts
  frontend/helpers/pages.ts
  frontend/hooks/useInterests.ts
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/sign-up/account-type.tsx
  frontend/schemas/project-developer.ts
  frontend/services/account/index.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/validations/project-developer.ts
Due: frontend-lint, frontend-i18n, frontend-types

Change form pages files to project-developer-form
  frontend/containers/project-developer-form-pages/index.ts
  frontend/containers/project-developer-form-pages/types.tsx
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-developer-form/pages/about.tsx
  frontend/containers/project-developer-form/pages/profile.tsx
  frontend/containers/project-developer-form/pages/project-developer-outro.tsx
  frontend/containers/project-developer-form/types.ts
  frontend/helpers/pages.ts
  frontend/hooks/useInterests.ts
Due: frontend-lint, frontend-i18n, frontend-types

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
