Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: yarn i18n:extract && git add lang/transifex/*

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

refactor language model
  backend/app/controllers/concerns/api/localization.rb
  backend/app/models/account.rb
  backend/app/models/investor.rb
  backend/app/models/language.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
Due: backend-lint

add translations piece to readme
  backend/README.md
Due: none

add enums endpoint and serializers
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/controllers/api/v1/instrument_types_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/models/category.rb
  backend/app/models/concerns/enum_model.rb
  backend/app/models/impact.rb
  backend/app/models/instrument_type.rb
  backend/app/models/investor_type.rb
  backend/app/models/project_developer_type.rb
  backend/app/models/sdg.rb
  backend/app/models/ticket_size.rb
  backend/app/serializers/api/v1/enums/category_serializer.rb
  backend/app/serializers/api/v1/enums/enum_serializer.rb
  backend/app/serializers/api/v1/enums/impact_serializer.rb
  backend/app/serializers/api/v1/enums/instrument_type_serializer.rb
  backend/app/serializers/api/v1/enums/investor_type_serializer.rb
  backend/app/serializers/api/v1/enums/project_developer_type_serializer.rb
  backend/app/serializers/api/v1/enums/sdg_serializer.rb
  backend/app/serializers/api/v1/enums/ticket_size_serializer.rb
  backend/config/routes.rb
Due: backend-lint

refactoring: Use rswag for investor API tests
  backend/Gemfile
  backend/Gemfile.lock
  backend/README.md
  backend/config/initializers/rswag_api.rb
  backend/config/initializers/rswag_ui.rb
  backend/config/routes.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/support/shared_examples/api/with_not_found_error.rb
  backend/spec/swagger_helper.rb
  backend/swagger/.keep
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add Language type and make use of it in the ProfileHeader
  frontend/containers/profile-header/types.ts
  frontend/types/index.ts
Due: frontend-lint, frontend-i18n

add descriptions to couple enums
  backend/app/models/category.rb
  backend/app/models/concerns/enum_model.rb
  backend/app/models/impact.rb
  backend/app/models/instrument_type.rb
  backend/app/models/ticket_size.rb
  backend/app/serializers/api/v1/enums/category_serializer.rb
  backend/app/serializers/api/v1/enums/impact_serializer.rb
  backend/app/serializers/api/v1/enums/instrument_type_serializer.rb
  backend/config/locales/zu.yml
Due: backend-lint

ProfileHeader to show original message language, if any.
  frontend/containers/profile-header/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

change enum slugs to use hyphens
  backend/app/models/category.rb
  backend/app/models/investor_type.rb
  backend/config/locales/zu.yml
  backend/spec/factories/investor.rb
  backend/spec/factories/project.rb
  backend/spec/factories/project_developer.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/investors-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
Due: backend-lint

Base LanguageType off Languages enum, to simplify the changes needed to add/remove languages
  frontend/types/index.ts
Due: frontend-lint, frontend-i18n

add specs, remove old controller
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/controllers/api/v1/instrument_types_controller.rb
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/requests/api/v1/enums_spec.rb
Due: backend-lint

refactoring: Use rswag for rest of the API tests
  backend/README.md
  backend/app/controllers/api/v1/base_controller.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

refactoring: Use rswag for Enum API tests
  backend/spec/requests/api/v1/enums_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add helper to return translated language names for a given locale
  frontend/containers/profile-header/component.tsx
  frontend/helpers/intl.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Fixing project funding display condition on ProfileHeader
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n

Centering DeveloperAbout logo in the page for small screens
  frontend/containers/developer-about/component.tsx
Due: frontend-lint, frontend-i18n

Implement the input component
  frontend/components/forms/component.stories.tsx
  frontend/components/forms/input/component.stories.tsx
  frontend/components/forms/input/component.tsx
  frontend/components/forms/input/constants.ts
  frontend/components/forms/input/index.ts
  frontend/components/forms/input/types.d.ts
  frontend/components/forms/input/types.ts
  frontend/components/forms/validations.ts
  frontend/package.json
  frontend/tailwind.config.js
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Improve the appearance of Storybook
  frontend/.storybook/manager-head.html
  frontend/.storybook/manager.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Update the `Input`'s story
  frontend/components/forms/input/component.stories.tsx
Due: frontend-lint, frontend-i18n

feat: Location model and importer (with Colombia Wiki data)
  backend/app/models/location.rb
  backend/app/models/location_type.rb
  backend/app/services/importers/locations.rb
  backend/db/migrate/20220317074221_create_locations.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/db/seeds/files/colombia_departments.csv
  backend/db/seeds/files/colombia_municipalities.csv
  backend/spec/factories/location.rb
  backend/spec/fixtures/files/dummy_colombia_departments.csv
  backend/spec/fixtures/files/dummy_colombia_municipalities.csv
  backend/spec/models/location_spec.rb
  backend/spec/services/importers/locations_spec.rb
Due: backend-lint

Implement the `Textarea` component
  frontend/components/forms/input/component.tsx
  frontend/components/forms/textarea/component.stories.tsx
  frontend/components/forms/textarea/component.tsx
  frontend/components/forms/textarea/index.ts
  frontend/components/forms/textarea/types.d.ts
  frontend/components/forms/textarea/types.ts
Due: frontend-lint, frontend-i18n

Frontend Dockerfile - first iteration
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/entrypoint.sh
  frontend/package.json
Due: none

feat: checkbox component * add error control
  frontend/components/forms/checkbox/component.tsx
  frontend/components/forms/checkbox/constants.ts
Due: frontend-lint, frontend-i18n

feat: LocationMember model
  backend/app/models/location.rb
  backend/app/models/location_member.rb
  backend/app/models/location_type.rb
  backend/db/migrate/20220318141809_create_location_members.rb
  backend/db/schema.rb
  backend/spec/factories/location_member.rb
  backend/spec/models/location_member_spec.rb
Due: backend-lint

feat: Added regions to location importer (plus Colombia data)
  backend/app/services/importers/locations.rb
  backend/db/seeds.rb
  backend/db/seeds/files/colombia_municipalities.csv
  backend/db/seeds/files/colombia_regions.csv
  backend/spec/fixtures/files/dummy_colombia_regions.csv
  backend/spec/services/importers/locations_spec.rb
Due: backend-lint

feat: checkout component * Change checkout component to use itself to create style and remove label from it * Add checkbox-checked.svg to public/images * Adapt storybook component
  frontend/components/forms/checkbox/component.stories.tsx
  frontend/components/forms/checkbox/component.tsx
  frontend/components/forms/checkbox/types.d.ts
  frontend/public/images/checkbox-checked.svg
Due: frontend-lint, frontend-i18n

feat: checkbox component fix focus style
  frontend/components/forms/checkbox/component.tsx
Due: frontend-lint, frontend-i18n

Implement the textarea component (#31)
  frontend/components/forms/input/component.tsx
  frontend/components/forms/textarea/component.stories.tsx
  frontend/components/forms/textarea/component.tsx
  frontend/components/forms/textarea/index.ts
  frontend/components/forms/textarea/types.d.ts
  frontend/components/forms/textarea/types.ts
Due: frontend-lint, frontend-i18n

feat: checkbox component Fix build errors
  frontend/components/forms/checkbox/types.d.ts
  frontend/components/forms/select/multi/component.tsx
  frontend/containers/profile-header/component.tsx
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
Due: frontend-lint, frontend-i18n

Update frontend/components/forms/checkbox/component.stories.tsx
  frontend/components/forms/checkbox/component.stories.tsx
Due: frontend-lint, frontend-i18n

feat: API endpoint for locations
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/controllers/api/v1/locations_controller.rb
  backend/app/models/location_type.rb
  backend/app/serializers/api/v1/enums/location_type_serializer.rb
  backend/app/serializers/api/v1/location_serializer.rb
  backend/app/services/importers/locations.rb
  backend/config/locales/zu.yml
  backend/config/routes.rb
  backend/spec/factories/location.rb
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-location-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-location-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-location.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-location-type.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-parent-id.json
  backend/spec/fixtures/snapshots/api/v1/locations-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/locations-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/locations.json
  backend/spec/requests/api/v1/locations_spec.rb
  backend/spec/services/importers/locations_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: checkbox component * remove react-area * fix classNames * add input type=checkbox * fix storybook accessibility
  frontend/components/forms/checkbox/component.stories.tsx
  frontend/components/forms/checkbox/component.tsx
  frontend/components/forms/checkbox/types.ts
Due: frontend-lint, frontend-i18n

fix: preload relations
  backend/app/controllers/api/v1/locations_controller.rb
Due: backend-lint

refactoring: use trusted dataset for colombia locations
  backend/app/services/importers/locations.rb
  backend/db/seeds/files/colombia_departments.csv
  backend/db/seeds/files/colombia_municipalities.csv
  backend/db/seeds/files/colombia_regions.csv
  backend/spec/fixtures/files/dummy_colombia_departments.csv
  backend/spec/fixtures/files/dummy_colombia_municipalities.csv
  backend/spec/services/importers/locations_spec.rb
Due: backend-lint

Allow node 14 on the FE; rename GH action
  .github/workflows/frontend-staging-deployment.yml
  frontend/package.json
Due: none

feat: checkbox component * remove unecessary component prop * change error style class * add style to disabled * create new storybook for disabled component
  frontend/components/forms/checkbox/component.stories.tsx
  frontend/components/forms/checkbox/component.tsx
  frontend/components/forms/checkbox/types.ts
Due: frontend-lint, frontend-i18n

feat: checkbox component * remove required prop from Checkbox component on forms/select/multi/component
  frontend/components/forms/select/multi/component.tsx
Due: frontend-lint, frontend-i18n

Add user model, session and user endpoints
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/sessions_controller.rb
  backend/app/controllers/api/v1/users_controller.rb
  backend/app/controllers/concerns/api/authentication.rb
  backend/app/controllers/concerns/api/errors.rb
  backend/app/models/account.rb
  backend/app/models/user.rb
  backend/app/serializers/api/v1/user_serializer.rb
  backend/config/environments/development.rb
  backend/config/environments/test.rb
  backend/config/initializers/devise.rb
  backend/config/locales/devise.en.yml
  backend/config/routes.rb
  backend/db/migrate/20220321094956_devise_create_users.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/user.rb
  backend/spec/fixtures/snapshots/api/v1/session.json
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/fixtures/snapshots/api/v1/user.json
  backend/spec/models/user_spec.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/api/v1/session_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/spec/support/request_helpers.rb
  backend/spec/swagger_helper.rb
Due: backend-lint

add letter opener, sign in user after account creation, but not confirmed
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/users_controller.rb
  backend/app/controllers/concerns/api/authentication.rb
  backend/app/models/user.rb
  backend/app/serializers/api/v1/user_serializer.rb
  backend/config/environments/development.rb
Due: backend-lint

actually add role to user
  backend/app/models/user.rb
  backend/db/migrate/20220321094956_devise_create_users.rb
  backend/db/schema.rb
  backend/spec/factories/user.rb
  backend/spec/fixtures/snapshots/api/v1/session.json
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/fixtures/snapshots/api/v1/user.json
Due: backend-lint

small refactor
  backend/app/controllers/api/v1/csrf_controller.rb
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/controllers/api/v1/sessions_controller.rb
  backend/app/controllers/api/v1/users_controller.rb
  backend/app/controllers/concerns/api/authentication.rb
  backend/app/controllers/concerns/api/errors.rb
  backend/config/routes.rb
  backend/spec/factories/user.rb
  backend/spec/requests/api/v1/session_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/spec/support/request_helpers.rb
  backend/spec/support/shared_examples/api/with_not_authorized_error.rb
Due: backend-lint

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
