Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Display list of favorited investors in dashboard/favorites/investors
  frontend/pages/dashboard/favorites/investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Prepare layout for favorited open calls in dashboard/favorites/open-calls
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/favorites/open-calls.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add queries for Favorite projects, project developers, investors list
  frontend/enums/index.ts
  frontend/services/account/favoritesService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Invalidate projects, project developers, investors queries on favoriting/unfavoriting them
  frontend/enums/index.ts
  frontend/layouts/dashboard-favorites/component.tsx
  frontend/services/account/favoritesService.ts
  frontend/services/investors/investorsService.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Dashboard/favorites to show loading spinner when refetching stale data
  frontend/layouts/dashboard-favorites/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Improve Dashboard layout loading displays
  frontend/layouts/dashboard/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Improve dashboard favorites layout display
  frontend/layouts/dashboard-favorites/component.tsx
  frontend/layouts/dashboard/component.tsx
  frontend/pages/dashboard/favorites/investors.tsx
  frontend/pages/dashboard/favorites/open-calls.tsx
  frontend/pages/dashboard/favorites/project-developers.tsx
  frontend/pages/dashboard/favorites/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add project/profile card wrapper component to help with the hover to delete behavior
  frontend/containers/dashboard/favorites/card-hover-to-delete/component.tsx
  frontend/containers/dashboard/favorites/card-hover-to-delete/index.ts
  frontend/containers/dashboard/favorites/card-hover-to-delete/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Show delete icon/button when hovering over dashboard/favorites cards
  frontend/pages/dashboard/favorites/investors.tsx
  frontend/pages/dashboard/favorites/project-developers.tsx
  frontend/pages/dashboard/favorites/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add CardHoverToDelete component storybook story
  frontend/containers/dashboard/favorites/card-hover-to-delete/component.stories.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix Dashboard/Favorites card delete icon alignments
  frontend/containers/dashboard/favorites/card-hover-to-delete/component.tsx
  frontend/pages/dashboard/favorites/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix dashboard/favorites z-index issues
  frontend/layouts/dashboard/component.tsx
  frontend/pages/dashboard/favorites/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix dashboard/favorites delete button hidden behind element for first item
  frontend/pages/dashboard/favorites/investors.tsx
  frontend/pages/dashboard/favorites/open-calls.tsx
  frontend/pages/dashboard/favorites/project-developers.tsx
  frontend/pages/dashboard/favorites/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Enable maps backend api
  infrastructure/base/main.tf
Due: none

Bump TF version to 1.2.4
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/versions.tf
  infrastructure/remote-state/versions.tf
Due: none

New instance variable to differentiate staging from production
  backend/.env.sample
  backend/ENV_VARS.md
  backend/config/environments/production.rb
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
Due: backend-lint

Set default value for env var
  infrastructure/base/modules/env/variables.tf
Due: none

Uncomment metatags on header
  frontend/components/head/component.tsx
  frontend/pages/_document.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add image
  frontend/public/images/heco_invest_thumbnail.png
Due: none

Rewritten to better express intention behind this
  backend/config/environments/production.rb
Due: backend-lint

Simplify data fetching on the DashboardFavorites layout
  frontend/layouts/dashboard-favorites/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

User can unfavorite Projects, Project developers, Investors individually from dashboard/favorites
  frontend/pages/dashboard/favorites/investors.tsx
  frontend/pages/dashboard/favorites/project-developers.tsx
  frontend/pages/dashboard/favorites/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix bug causing a table crash when canSort is set to false but a column accessor has not been set
  frontend/components/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change email message
  frontend/containers/share-icons/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/containers/share-icons/component.tsx
  frontend/containers/share-icons/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add extracted translations
  frontend/lang/transifex/zu.json
Due: none

Fix project cards text alignment when project name spans multiple lines
  frontend/containers/project-card/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add information page
  frontend/components/forms/date-picker-calendar/component.tsx
  frontend/components/forms/date-picker-calendar/index.ts
  frontend/components/forms/date-picker-calendar/theme.ts
  frontend/components/forms/date-picker-calendar/types.ts
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/index.ts
  frontend/containers/open-call-form/open-call-calendar/component.tsx
  frontend/containers/open-call-form/pages/closingDate.tsx
  frontend/containers/open-call-form/pages/expectedImpact.tsx
  frontend/containers/open-call-form/pages/fundingInformation.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/open-call-form/types.ts
  frontend/package.json
  frontend/pages/open-calls/new.tsx
  frontend/types/open-calls.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Fix bugs
  frontend/pages/invitation.tsx
  frontend/pages/sign-in/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix building error
  frontend/containers/share-icons/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change invitation content to a separeted function
  frontend/pages/invitation.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add information page
  frontend/containers/forms/location-selectors/component.tsx
  frontend/containers/forms/location-selectors/index.ts
  frontend/containers/forms/location-selectors/types.ts
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/types.ts
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/index.ts
  frontend/containers/open-call-form/pages/closing-date.tsx
  frontend/containers/open-call-form/pages/funding-information.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/open-call-form/types.ts
  frontend/containers/project-form/pages/general-information.tsx
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: API for Open Call creation
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/models/ability.rb
  backend/app/models/open_call.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220808082718_changes_for_open_calls.rb
  backend/db/schema.rb
  backend/spec/factories/open_call.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call-not-found.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
  backend/spec/models/open_call_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add open call form and open calls/new page
  frontend/components/forms/date-picker-calendar/component.tsx
  frontend/components/forms/date-picker-calendar/types.ts
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/index.ts
  frontend/containers/open-call-form/pages/closing-date.tsx
  frontend/containers/open-call-form/pages/expected-impact.tsx
  frontend/containers/open-call-form/pages/expectedImpact.tsx
  frontend/containers/open-call-form/pages/funding-information.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/open-call-form/pages/pending-verification.tsx
  frontend/containers/open-call-form/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/open-calls/new.tsx
  frontend/schemas/open-call.ts
  frontend/types/open-calls.ts
  frontend/validations/open-call.ts
Due: frontend-lint, frontend-i18n, frontend-types

Remove delete icon from owner on users list
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/containers/dashboard/users/table/cells/actions/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Let 859 fe fix token invalid error when a user with a light account type is invited to the platform (#459)
  frontend/pages/invitation.tsx
  frontend/pages/sign-in/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove delete icon from owner on users list (#462)
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/containers/dashboard/users/table/cells/actions/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: API for Open Call update
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220808082718_changes_for_open_calls.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Fix review issues
  frontend/components/toast/component.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/share-icons/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix share link path
  frontend/containers/share-icons/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
