Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

feat: Draft projects are not shown at backoffice
  backend/app/controllers/backoffice/projects_controller.rb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

test: sleep after shapefile is attached
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

Fix typo
  frontend/containers/project-page/funding/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add links for 'for-project-developers' page
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/containers/layouts/navigation/component.tsx
  frontend/enums/index.ts
  frontend/lang/compiled/zu.json
  frontend/layouts/static-page/footer/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

test: sleep before shapefile is attached
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

refactoring: Only Admins can access background job events API
  backend/app/controllers/api/v1/background_job_events_controller.rb
  backend/spec/requests/api/v1/background_job_events_spec.rb
Due: backend-lint

Fix logout
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-out.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Extract logic to verify if a query return path exists into the useQueryReturnPath hook
  frontend/containers/project-form/component.tsx
  frontend/helpers/pages.ts
  frontend/pages/investors/edit.tsx
  frontend/pages/investors/new.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/project/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add Alert component default neutral style (not success nor warning)
  frontend/components/alert/component.stories.tsx
  frontend/components/alert/component.tsx
  frontend/components/alert/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add 'warning' type prop to Alerts that require a warning alert style
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/pages/sign-in/forgot-password.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: notify PDs on project status change
  backend/app/models/project.rb
  backend/app/models/project_involvement.rb
  backend/spec/models/project_involvement_spec.rb
  backend/spec/models/project_spec.rb
Due: backend-lint

fix: Invited users can sign in
  backend/app/models/user.rb
  backend/spec/requests/api/v1/session_spec.rb
Due: backend-lint

Fix priority landscapes map layout
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

test: increasing sleep time for shapefile test
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

another increase of shapefile waiting time :/
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

fix: Jobs instance can access backoffice routes
  backend/config/routes.rb
Due: backend-lint

Add ContentLanguageAlert component to display on PD & Investor edition forms
  frontend/containers/forms/content-language-alert/component.stories.tsx
  frontend/containers/forms/content-language-alert/component.tsx
  frontend/containers/forms/content-language-alert/index.ts
  frontend/containers/forms/content-language-alert/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add support to display a content language tag on the header of the MultiPageLayout component
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/containers/multi-page-layout/header/types.ts
  frontend/containers/multi-page-layout/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add ContentLanguage alerts to Investor & PD forms
  frontend/containers/investor-form/component.tsx
  frontend/containers/project-developer-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Display content language tag on PD & Investor forms header except on the language selector page
  frontend/containers/investor-form/component.tsx
  frontend/containers/project-developer-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add translation
  frontend/lang/compiled/zu.json
Due: none

use using_wait_time instead of sleep
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

Display content language tag on the Project form
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/helpers.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add ContentLanguage alert to Project form
  frontend/containers/project-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Rename project form header to 'Edit project' when user is editing a project
  frontend/lang/transifex/zu.json
  frontend/pages/project/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

remove lang/compiled/zu text
  frontend/lang/compiled/zu.json
Due: none

Extract translation
  frontend/lang/transifex/zu.json
Due: none

Add link to map pins
  frontend/components/map/layers/cluster/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Debug deployment
  frontend/pages/_app.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix priority landscapes map layout (#358)
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add select pin callback
  frontend/components/map/layers/cluster/component.tsx
  frontend/components/map/layers/cluster/types.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/types.ts
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Include select pin of not listed projects
  frontend/containers/project-details/component.tsx
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

map searcher: add script to layout
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/forms/geometry/component.tsx
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

project form: add location searcher
  frontend/containers/forms/geometry/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Rollback vercel cli version in CI
  .github/workflows/frontend-deployment.yml
Due: none

home: add feedbak style fixes
  frontend/containers/home/start-banner/component.tsx
  frontend/containers/home/use-platform/component.tsx
  frontend/containers/home/working/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

fix(front): home improvements[LET-650] (#366)
  frontend/containers/home/start-banner/component.tsx
  frontend/containers/home/use-platform/component.tsx
  frontend/containers/home/working/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix loading Google Maps
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/forms/geometry/component.tsx
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Can change ownership via backoffice
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/models/account.rb
  backend/app/models/user.rb
  backend/app/views/backoffice/accounts/_owner_form.html.erb
  backend/app/views/backoffice/investors/_section_owner.html.erb
  backend/app/views/backoffice/investors/edit.html.erb
  backend/app/views/backoffice/project_developers/_section_owner.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/config/locales/zu.yml
  backend/spec/factories/account.rb
  backend/spec/models/account_spec.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
