Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

shapefile backoffice: allow multiple so someone can either upload zip or individual shp files
  backend/app/views/backoffice/projects/_form.html.erb
Due: none

Change comments
  frontend/pages/invitation/index.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove a hard-coded account name
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add investor account update page
  frontend/containers/investor-form/component.tsx
  frontend/containers/investor-form/index.ts
  frontend/containers/investor-form/pages/impacts.tsx
  frontend/containers/investor-form/pages/investment.tsx
  frontend/containers/investor-form/pages/other-information.tsx
  frontend/containers/investor-form/pages/priority.tsx
  frontend/containers/investor-form/pages/profile.tsx
  frontend/containers/investor-form/types.ts
  frontend/pages/investors/edit.tsx
  frontend/schemas/investor.ts
  frontend/services/account/index.ts
  frontend/types/index.ts
  frontend/types/investor.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix edit profile link
  frontend/enums/index.ts
  frontend/pages/dashboard/account-information.tsx
Due: frontend-lint, frontend-i18n, frontend-types

invite users modal: desactivate autocomplete
  frontend/containers/users/invite-users-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

nvite users modal: decrease modal size
  frontend/containers/users/invite-users-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

invite users modal: add hover state to chips
  frontend/containers/users/invite-users-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix: add bold to display name
  frontend/components/confirmation-prompt/component.tsx
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

fix: remove harcoded account name
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

fix: search styles
  frontend/components/search/component.tsx
  frontend/containers/users/invite-users-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add forms/switch component
  frontend/components/forms/switch/component.stories.tsx
  frontend/components/forms/switch/component.tsx
  frontend/components/forms/switch/index.ts
  frontend/components/forms/switch/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Do not overwrite the `locale` param in interceptor
  frontend/services/api.ts
Due: frontend-lint, frontend-i18n, frontend-types

Force localisation of requests initiated on server
  frontend/hoc/locale.ts
  frontend/pages/about.tsx
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/dashboard/favorites.tsx
  frontend/pages/dashboard/open-call-applications.tsx
  frontend/pages/dashboard/open-calls.tsx
  frontend/pages/dashboard/projects.tsx
  frontend/pages/dashboard/users.tsx
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/pages/index.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/investors/new.tsx
  frontend/pages/investors/pending.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/project-developers/pending.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/pages/projects/new.tsx
  frontend/pages/projects/pending.tsx
  frontend/pages/sign-in/forgot-password.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/account-type.tsx
  frontend/pages/sign-up/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Force localisation of requests initiated on client
  frontend/hooks/me/index.ts
  frontend/hooks/query.ts
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/services/account/index.ts
  frontend/services/enums/enumService.ts
  frontend/services/investors/investorsService.ts
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add uptime checks
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/modules/uptime-check/main.tf
  infrastructure/base/modules/uptime-check/variables.tf
  infrastructure/base/variables.tf
  infrastructure/base/vars/terraform.tfvars
Due: none

Map uses custom Mapbox' basemap
  frontend/.env.sample
  frontend/README.md
  frontend/components/map/component.tsx
  frontend/components/map/constants.ts
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

feat: New API endpoints required enabling invitation
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/controllers/api/v1/invitations_controller.rb
  backend/app/controllers/api/v1/users_controller.rb
  backend/app/models/ability.rb
  backend/app/models/user.rb
  backend/app/serializers/api/v1/user_serializer.rb
  backend/app/views/users/mailer/invitation_instructions.html.erb
  backend/config/initializers/devise.rb
  backend/config/locales/devise_invitable.en.yml
  backend/config/routes/api.rb
  backend/db/migrate/20220614090413_devise_invitable_add_to_users.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-users.json
  backend/spec/fixtures/snapshots/api/v1/get-invitation.json
  backend/spec/fixtures/snapshots/api/v1/invitation-accepted.json
  backend/spec/fixtures/snapshots/api/v1/invitation-create.json
  backend/spec/fixtures/snapshots/api/v1/session.json
  backend/spec/fixtures/snapshots/api/v1/user-create-by-invitation.json
  backend/spec/fixtures/snapshots/api/v1/user.json
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/spec/requests/api/v1/invitation_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add env vars to frontend dockerfile
  frontend/Dockerfile
Due: none

Refactor project form paged Edit and Create to use the same form component
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/helpers.ts
  frontend/containers/project-form/index.tsx
  frontend/containers/project-form/pages/funding.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/containers/project-form/pages/impact.tsx
  frontend/containers/project-form/pages/other-information.tsx
  frontend/containers/project-form/pages/pending-approval.tsx
  frontend/containers/project-form/pages/project-description.tsx
  frontend/containers/project-form/pages/project-grow.tsx
  frontend/containers/project-form/types.ts
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

refactoring: Adding created_at attribute to all serializers
  backend/app/serializers/api/v1/location_serializer.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/app/serializers/api/v1/project_image_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/serializers/api/v1/user_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/email-confirmation.json
  backend/spec/fixtures/snapshots/api/v1/get-location.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-location-type.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-parent-id.json
  backend/spec/fixtures/snapshots/api/v1/locations.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/fixtures/snapshots/api/v1/session.json
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/fixtures/snapshots/api/v1/user.json
Due: backend-lint

updating rswag schema
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Fixing i18n
  frontend/lang/transifex/zu.json
Due: none

Add components/expando component
  frontend/components/expando/component.stories.tsx
  frontend/components/expando/component.tsx
  frontend/components/expando/index.ts
  frontend/components/expando/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: Adding default sorting to background job events
  backend/app/controllers/api/v1/background_job_events_controller.rb
  backend/spec/fixtures/snapshots/api/v1/background-job-events.json
  backend/spec/system_helper.rb
Due: backend-lint

Update About page mobile style
  frontend/pages/about.tsx
  frontend/public/images/about-about-the-impact.png
  frontend/public/images/about-biodiversity.png
  frontend/public/images/about-climate.png
  frontend/public/images/about-community.png
  frontend/public/images/about-google.png
  frontend/public/images/about-intro-mobile.png
  frontend/public/images/about-water.png
Due: frontend-lint, frontend-i18n, frontend-types

Update domains to reflect the new DNS change
  frontend/.env.sample
  frontend/mockups/api/v1/account/investor.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/project.json
  frontend/next.config.js
Due: frontend-lint, frontend-i18n

Private endpoint to return project developer's projects
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/account/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: Allow to change language at Backoffice
  backend/app/controllers/backoffice/admins/sessions_controller.rb
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/concerns/backoffice/localization.rb
  backend/app/views/layouts/_language_selector.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/app/views/layouts/devise.html.erb
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/localization_spec.rb
Due: backend-lint

Removed dependency on API::Sorter, removed sorting support altogether for now
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

remove mockup
  frontend/pages/invitation/index.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

remove en.yml
  backend/config/locales/en.yml
Due: none

rake task to download transifex locales
  backend/.gitignore
  backend/README.md
  backend/entrypoint.sh
  backend/lib/tasks/transifex.rake
Due: none

Fix sign-in / sign-out redirect
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/containers/layouts/user-menu/component.tsx
  frontend/hooks/me/index.ts
  frontend/lang/compiled/zu.json
  frontend/layouts/protected-page/component.tsx
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/dashboard/index.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-out.tsx
  frontend/services/account/index.ts
  frontend/services/authentication/authService.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/users/userService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Delete console logs)
  frontend/hooks/me/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

allow to use tx command from anywhere
  backend/Dockerfile
Due: none

Update frontend/pages/investors/edit.tsx
  frontend/pages/investors/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/pages/investors/new.tsx
  frontend/pages/investors/new.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
