Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

feat: Return approved flag for User
  backend/app/serializers/api/v1/user_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/email-confirmation.json
  backend/spec/fixtures/snapshots/api/v1/session.json
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/fixtures/snapshots/api/v1/user.json
Due: backend-lint

refactoring: Keep project-maps.json ordered by created at by default
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/swagger/v1/swagger.yaml
Due: backend-lint

when updating review_status, set reviewed_at timestamp
  backend/app/models/account.rb
  backend/spec/models/account_spec.rb
Due: backend-lint

Fix style
  frontend/containers/profile-header/component.tsx
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n

feat: Adding priority landscape to Projects
  backend/app/models/location_geometry.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/db/migrate/20220526092240_add_priority_landscape_to_projects.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Project models update
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

Revert "Project models update"
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

fix style
  frontend/containers/image-gallery/component.tsx
Due: frontend-lint, frontend-i18n

backoffice: add investors index page
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/investors_spec.rb
Due: backend-lint

update project models
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

Refactor ImpactChart component to have a compact mode + placeholder & styling
  frontend/components/impact-chart/component.stories.tsx
  frontend/components/impact-chart/component.tsx
  frontend/components/impact-chart/types.ts
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Update project card component to use the refactored ImpactChart in compact mode
  frontend/containers/project-card/component.tsx
  frontend/lang/transifex/zu.json
  frontend/public/images/temp-placeholders/impact-shape.png
Due: frontend-lint, frontend-i18n

project developers: non project developers case
  frontend/layouts/project-page/developers/component.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

fix build error
  frontend/containers/project-card/component.stories.tsx
  frontend/containers/project-details/component.stories.tsx
Due: frontend-lint, frontend-i18n

LET-258 - Jobs instances
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
  infrastructure/base/modules/env/main.tf
Due: none

change design
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.tsx
  frontend/containers/filter-tags/component.tsx
  frontend/containers/filter-tags/index.ts
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/helpers/pages.ts
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n

remove impacts from filters
  frontend/containers/forms/filters/component.tsx
Due: frontend-lint, frontend-i18n

add note on filters
  frontend/containers/forms/filters/component.tsx
Due: frontend-lint, frontend-i18n

feat: Unapproved Investors/PDs are forbidden to access
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/concerns/api/errors.rb
  backend/app/models/ability.rb
  backend/spec/fixtures/snapshots/api/v1/investors-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
Due: backend-lint

FE - Small impact visualisation component (search results) (#222)
  frontend/components/impact-chart/component.stories.tsx
  frontend/components/impact-chart/component.tsx
  frontend/components/impact-chart/types.ts
  frontend/containers/project-card/component.tsx
  frontend/lang/transifex/zu.json
  frontend/public/images/temp-placeholders/impact-shape.png
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

fix: fix tag-group style
  frontend/components/forms/tag-group/component.tsx
Due: frontend-lint, frontend-i18n

feat: Only Project/OpenCalls of approved accounts are visible
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/models/ability.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
Due: backend-lint

Fix image exception when creating project
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

Fix Project form image uploader not accepting images via input click on Chrome
  frontend/containers/project-form-pages/pages/general-information.tsx
Due: frontend-lint, frontend-i18n

Add impact on sorter options for projects
  frontend/components/sorting-buttons/component.tsx
  frontend/components/sorting-buttons/types.ts
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/helpers.ts
Due: frontend-lint, frontend-i18n

fix social media validation schemmas
  frontend/schemas/investor.ts
  frontend/schemas/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Update frontend/components/forms/combobox/types.ts
  frontend/components/forms/combobox/types.ts
Due: frontend-lint, frontend-i18n

Fix review issues
  frontend/components/forms/combobox/component.tsx
  frontend/components/forms/combobox/types.ts
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/containers/forms/filters/component.tsx
  frontend/helpers/pages.ts
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

change regex
  frontend/schemas/investor.ts
  frontend/schemas/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Fix Project creation form header copy
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

feat: project image gallery Create component and add to the project page
  frontend/components/carousel/component.tsx
  frontend/components/carousel/types.ts
  frontend/containers/image-gallery/component.tsx
  frontend/containers/image-gallery/index.ts
  frontend/containers/image-gallery/types.ts
  frontend/containers/project-header/component.tsx
Due: frontend-lint, frontend-i18n

Adjust image style
  frontend/containers/image-gallery/component.tsx
  frontend/containers/project-header/component.tsx
Due: frontend-lint, frontend-i18n

translate alt text
  frontend/containers/image-gallery/component.tsx
Due: frontend-lint, frontend-i18n

remove replace image temporary fix
  frontend/containers/image-gallery/component.tsx
  frontend/containers/project-header/component.tsx
Due: frontend-lint, frontend-i18n

add image alt
  frontend/containers/image-gallery/component.tsx
Due: frontend-lint, frontend-i18n

Update frontend/components/carousel/types.ts
  frontend/components/carousel/types.ts
Due: frontend-lint, frontend-i18n

fix review issues
  frontend/components/carousel/slide/component.tsx
  frontend/components/modal/component.tsx
  frontend/containers/image-gallery/component.tsx
  frontend/containers/project-header/component.tsx
Due: frontend-lint, frontend-i18n

Update frontend/components/carousel/component.tsx
  frontend/components/carousel/component.tsx
Due: frontend-lint, frontend-i18n

feat: add filter options
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/containers/forms/filters/component.stories.tsx
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/index.ts
  frontend/containers/forms/filters/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/helpers/pages.ts
  frontend/layouts/discover-page/component.tsx
  frontend/mockups/categories.json
  frontend/mockups/enums.json
  frontend/mockups/impacts.json
  frontend/mockups/mosaics.json
  frontend/mockups/projectDeveloperTypes.json
  frontend/services/enums/enumService.ts
Due: frontend-lint, frontend-i18n
