Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

change dayjs locale to _app
  frontend/containers/dashboard/open-call-applications/table/component.tsx
  frontend/containers/dashboard/open-call-details/table/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/pages/_app.tsx
Due: frontend-lint, frontend-i18n, frontend-types

change layout
  frontend/containers/open-call-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix date translation (#664)
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/pages/_app.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Adjust impact calculation explanation texts
  frontend/containers/faq-page/answers/projects/project-impact/component.tsx
  frontend/containers/modals/impact/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Rescue exception in after_commit log and explicitly report error
  backend/app/models/concerns/translatable.rb
Due: backend-lint

Tag docker containers based on branch
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudbuild-webhook/main.tf
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/variables.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
Due: none

FIx style
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Stress tests JMeter configuration and report
  backend/load_tests/HeCo stress tests Oct 18th 2022.pdf
  backend/load_tests/HeCoJMeter.jmx
Due: none

Add 5k, 15k and 25k user load test files
  backend/load_tests/15k users.jmx
  backend/load_tests/25k users.jmx
  backend/load_tests/5k users.jmx
Due: none

Load testing for the homepage using JMeter
  .gitignore
  backend/load_tests/25k users.jmx
  backend/load_tests/5k users.jmx
  backend/load_tests/HeCo stress tests Oct 18th 2022.pdf
  backend/load_tests/HeCoJMeter.jmx
  load_tests/HecoHomepage.jmx
Due: none

Fix style
  frontend/components/badge-navigation/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix main section layout
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update cards title font size
  frontend/containers/open-call-card/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-card/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Improve the alignment of the breadcrumbs
  frontend/containers/open-call-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix some styles conflicts
  frontend/containers/open-call-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update open call page style for mobiles (#651)
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Address deployment issues
  .github/workflows/backend-push-translations.yml
  .github/workflows/frontend-deployment.yml
  backend/Dockerfile
  backend/lib/tasks/transifex.rake
  frontend/Dockerfile
Due: none

Update discover mobile layout
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/pages/discover/projects.tsx
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/open-calls.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/project-developers.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change bg
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

LET-1195 - Install transifex CLI outside of project folder
  .github/workflows/backend-push-translations.yml
  .github/workflows/frontend-deployment.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

Change breakpoint
  frontend/containers/layouts/discover-search/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change breakpoint
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/navigation/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change card style
  frontend/containers/profile-header/component.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Indicate that account picture is required
  backend/app/views/backoffice/base/_image_with_thumbnail.html.erb
  backend/app/views/backoffice/investors/_form.html.erb
  backend/app/views/backoffice/open_calls/_form.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/users/_form.html.erb
Due: none

Fix carousel
  frontend/components/carousel/component.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Added updated_at to project and open call serializers
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
Due: backend-lint

fix build error
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

LET-1195 - Install transifex CLI outside of project folder (#672)
  .github/workflows/backend-push-translations.yml
  .github/workflows/frontend-deployment.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

Regenerated swagger docs
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Created / updated timestamps in project and open call form
  backend/app/views/backoffice/open_calls/edit.html.erb
  backend/app/views/backoffice/projects/edit.html.erb
  backend/config/locales/zu.yml
Due: none

Replace alpine with Debian bullseye on docker images
  backend/Dockerfile
  frontend/Dockerfile
Due: none

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
