Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

Add SDGs data mock
  frontend/mockups/sdgs.json
Due: none

make sure that DirectUploadsController inherits API setup
  backend/app/controllers/api/v1/direct_uploads_controller.rb
Due: backend-lint

Use new SDGs data mock in existing components
  frontend/containers/sdgs/component.stories.tsx
  frontend/containers/sdgs/component.tsx
  frontend/containers/sdgs/constants.ts
  frontend/containers/sdgs/index.ts
  frontend/containers/sdgs/types.ts
  frontend/enums/index.ts
  frontend/pages/investor/[id]/index.tsx
  frontend/types/enums.ts
Due: frontend-lint, frontend-i18n

Add form/SDGs component
  frontend/containers/forms/sdgs/component.stories.tsx
  frontend/containers/forms/sdgs/component.tsx
  frontend/containers/forms/sdgs/index.ts
  frontend/containers/forms/sdgs/sdg/component.tsx
  frontend/containers/forms/sdgs/sdg/index.ts
  frontend/containers/forms/sdgs/sdg/types.ts
  frontend/containers/forms/sdgs/types.ts
Due: frontend-lint, frontend-i18n

Fix transparent border around mock sdgs causing border issues in forms/SDGs
  frontend/public/images/sdgs/1-no-poverty.png
  frontend/public/images/sdgs/10-reduced-inequalities.png
  frontend/public/images/sdgs/11-sustainable-cities.png
  frontend/public/images/sdgs/12-responsible-consumption.png
  frontend/public/images/sdgs/13-climate-action.png
  frontend/public/images/sdgs/14-life-below-water.png
  frontend/public/images/sdgs/15-life-on-land.png
  frontend/public/images/sdgs/16-peace-justice.png
  frontend/public/images/sdgs/17-partnership.png
  frontend/public/images/sdgs/2-zero-hunger.png
  frontend/public/images/sdgs/3-good-health.png
  frontend/public/images/sdgs/4-quality-education.png
  frontend/public/images/sdgs/5-gender-equality.png
  frontend/public/images/sdgs/6-clean-water.png
  frontend/public/images/sdgs/7-clean-energy.png
  frontend/public/images/sdgs/8-decent-work.png
  frontend/public/images/sdgs/9-industry-innovation.png
Due: none

fix: adding missing variables to docker-compose-test.yml
  backend/docker-compose-test.yml
Due: none

feat: profile picture upload
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

adding ActiveStorage::SetCurrent to DirectUploadsController
  backend/app/controllers/api/v1/direct_uploads_controller.rb
Due: backend-lint

moving authorization to routes
  backend/app/controllers/api/v1/direct_uploads_controller.rb
  backend/config/routes.rb
  backend/config/routes/api.rb
  backend/spec/requests/direct_upload_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Adding form page layout
  frontend/layouts/form-page/component.stories.tsx
  frontend/layouts/form-page/component.tsx
  frontend/layouts/form-page/index.tsx
  frontend/layouts/form-page/types.ts
Due: frontend-lint, frontend-i18n

Existing forms make use of the FormPageLayout
  frontend/pages/investors/new.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/project-developers/pending.tsx
Due: frontend-lint, frontend-i18n

Remove NakedPageLayout - no longer needed
  frontend/layouts/naked-page/component.stories.tsx
  frontend/layouts/naked-page/component.tsx
  frontend/layouts/naked-page/index.ts
  frontend/layouts/naked-page/types.ts
Due: frontend-lint, frontend-i18n

Change PD texts (#106)
  frontend/hooks/useInterests.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

feat: PD API returns also list of Projects and Involved Projects
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/models/project_developer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/spec/factories/project_developer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: PD endpoints allow to include relations at response
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Added missing category description
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/swagger/v1/swagger.yaml
Due: none

Add fixed viewport layout for creation forms (#111)
  frontend/layouts/form-page/component.stories.tsx
  frontend/layouts/form-page/component.tsx
  frontend/layouts/form-page/index.tsx
  frontend/layouts/form-page/types.ts
  frontend/layouts/naked-page/component.stories.tsx
  frontend/layouts/naked-page/component.tsx
  frontend/layouts/naked-page/index.ts
  frontend/layouts/naked-page/types.ts
  frontend/pages/investors/new.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/project-developers/pending.tsx
Due: frontend-lint, frontend-i18n

Single project category
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/db/migrate/20220421142923_change_project_can_have_only_one_category.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
Due: backend-lint

Relax CORS config for staging
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/modules/storage/main.tf
  infrastructure/base/modules/storage/variables.tf
  infrastructure/remote-state/.terraform.lock.hcl
Due: none

Add a `MultiCombobox` component
  frontend/components/forms/multi-combobox/component.stories.tsx
  frontend/components/forms/multi-combobox/component.tsx
  frontend/components/forms/multi-combobox/dropdown-indicator/component.tsx
  frontend/components/forms/multi-combobox/dropdown-indicator/index.ts
  frontend/components/forms/multi-combobox/dropdown-indicator/types.ts
  frontend/components/forms/multi-combobox/helpers.ts
  frontend/components/forms/multi-combobox/index.ts
  frontend/components/forms/multi-combobox/menu-option/component.tsx
  frontend/components/forms/multi-combobox/menu-option/index.ts
  frontend/components/forms/multi-combobox/menu-option/types.ts
  frontend/components/forms/multi-combobox/multi-value-remove/component.tsx
  frontend/components/forms/multi-combobox/multi-value-remove/index.ts
  frontend/components/forms/multi-combobox/multi-value-remove/types.ts
  frontend/components/forms/multi-combobox/option/component.tsx
  frontend/components/forms/multi-combobox/option/index.ts
  frontend/components/forms/multi-combobox/option/types.ts
  frontend/components/forms/multi-combobox/types.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/styles/globals.css
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Add focus outline to Select all button in forms/SDGs component
  frontend/containers/forms/sdgs/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

feat: Allow to mark Projects and PDs as favourite
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/favourite_project_developers_controller.rb
  backend/app/controllers/api/v1/favourite_projects_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/models/favourite_project.rb
  backend/app/models/favourite_project_developer.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/models/user.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220426073907_create_favourite_projects.rb
  backend/db/migrate/20220426073933_create_favourite_project_developers.rb
  backend/db/schema.rb
  backend/spec/factories/favourite_project_developers.rb
  backend/spec/factories/favourite_projects.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/favourite_project_developer_spec.rb
  backend/spec/models/favourite_project_spec.rb
  backend/spec/requests/api/v1/favourite_projects_spec.rb
  backend/spec/requests/favourite_project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

update of swagger doc
  backend/spec/models/favourite_project_developer_spec.rb
  backend/spec/models/favourite_project_spec.rb
  backend/spec/requests/api/v1/favourite_project_developers_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: project creation form create project types create projects/new page add base and first page of the form
  frontend/containers/project-form-pages/index.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/enums/index.ts
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
  frontend/services/enums/enumService.ts
  frontend/services/helpers.ts
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/types.ts
  frontend/types/enums.ts
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

Update frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/component.tsx
Due: frontend-lint, frontend-i18n

fix: build error
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

adding uniq validations to favourite models
  backend/app/controllers/api/v1/favourite_project_developers_controller.rb
  backend/app/controllers/api/v1/favourite_projects_controller.rb
  backend/app/models/favourite_project.rb
  backend/app/models/favourite_project_developer.rb
  backend/spec/models/favourite_project_developer_spec.rb
  backend/spec/models/favourite_project_spec.rb
Due: backend-lint

Add forms/ProjectGallery component
  frontend/containers/forms/project-gallery/component.stories.tsx
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/index.ts
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/index.ts
  frontend/containers/forms/project-gallery/project-gallery-image/types.ts
  frontend/containers/forms/project-gallery/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

paste second page
  frontend/containers/project-form-pages/index.tsx
  frontend/containers/project-form-pages/pages/project-description.tsx
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

remove onchangeimage prop
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
Due: frontend-lint, frontend-i18n

Let 168 profile picture upload component (#105)
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/index.ts
  frontend/components/forms/image-uploader/types.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

fix: review errors
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/pages/project-description.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/types.ts
Due: frontend-lint, frontend-i18n

minor tweaks/fixes after CR
  backend/app/controllers/api/v1/favourite_project_developers_controller.rb
  backend/app/controllers/api/v1/favourite_projects_controller.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

fix: ENV variables inside routes can be either true or "true"
  backend/config/routes.rb
Due: backend-lint

feat: project creation form add 3 more pages
  frontend/containers/project-form-pages/pages/funding.tsx
  frontend/containers/project-form-pages/pages/impact.tsx
  frontend/containers/project-form-pages/pages/project-description.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/enums/index.ts
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
Due: frontend-lint, frontend-i18n

remove second page from this PR
  frontend/containers/project-form-pages/index.tsx
  frontend/containers/project-form-pages/pages/project-description.tsx
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
Due: frontend-lint, frontend-i18n

Address some more feedback
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/lang/transifex/zu.json
  frontend/schemas/project.ts
Due: frontend-lint, frontend-i18n

Let 352 fe project creation form (#117)
  frontend/containers/project-form-pages/index.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
  frontend/services/enums/enumService.ts
  frontend/services/helpers.ts
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/types.ts
  frontend/types/enums.ts
  frontend/types/project.ts
  frontend/validations/project.ts
Due: frontend-lint, frontend-i18n

bundle update
  backend/Gemfile.lock
Due: none

ticket size description changes
  backend/app/models/ticket_size.rb
  backend/app/serializers/api/v1/enums/ticket_size_serializer.rb
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/enums.json
Due: backend-lint
