Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

Added sparse fieldset to project developers and open calls
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/spec/fixtures/snapshots/api/v1/get-open-call-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
Due: backend-lint

add projects
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/controllers/concerns/api/sparse_fieldset.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/config/routes.rb
  backend/db/migrate/20220307165412_create_projects.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-not-found.json
  backend/spec/fixtures/snapshots/api/v1/get-project-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
Due: backend-lint

update rest of specs to use deterministic faker values
  backend/spec/factories/account.rb
  backend/spec/factories/investor.rb
  backend/spec/factories/open_call.rb
  backend/spec/factories/project_developer.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
Due: backend-lint

add missing validations in other models
  backend/app/models/account.rb
  backend/app/models/investor.rb
  backend/app/models/open_call.rb
  backend/app/models/project_developer.rb
  backend/spec/models/account_spec.rb
  backend/spec/models/investor_spec.rb
  backend/spec/models/open_call_spec.rb
  backend/spec/models/project_developer_spec.rb
Due: backend-lint

Create dependabot.yml for ruby dependencies
  .github/dependabot.yml
Due: none

backend transifex, follow with frontend convention and zulu language trick
  backend/.tx/config
  backend/app/models/account.rb
  backend/app/models/concerns/static_model.rb
  backend/app/models/investor.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/config/application.rb
  backend/config/initializers/locale.rb
  backend/config/locales/en.yml
  backend/config/locales/zu.yml
Due: backend-lint

update backend dependencies
  backend/Gemfile.lock
Due: none

Replace `lodash` by `lodash-es`
  frontend/.eslintrc.json
  frontend/components/button/component.tsx
  frontend/components/map/component.tsx
  frontend/layouts/static-page/component.tsx
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Replace `lodash` by `lodash-es` to reduce the bundle size (#24)
  frontend/.eslintrc.json
  frontend/components/button/component.tsx
  frontend/components/map/component.tsx
  frontend/layouts/static-page/component.tsx
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

feat: simple health check endpoint
  backend/Gemfile.lock
  backend/config/routes.rb
  backend/spec/requests/health_check_spec.rb
Due: backend-lint

Add SDG images
  frontend/public/images/sdgs/1-no-poverty.png
  frontend/public/images/sdgs/10-reduced-inequalities.png
  frontend/public/images/sdgs/11-sustainable-cities.png
  frontend/public/images/sdgs/12-responsible-consumption.png
  frontend/public/images/sdgs/13-climate-action.png
  frontend/public/images/sdgs/14-life-below-water.png
  frontend/public/images/sdgs/15-life-on-land.png
  frontend/public/images/sdgs/16-peace-justice.png
  frontend/public/images/sdgs/17-partnership.png
  frontend/public/images/sdgs/2-zero-hunger.png
  frontend/public/images/sdgs/3-good-health.png
  frontend/public/images/sdgs/4-quality-education.png
  frontend/public/images/sdgs/5-gender-equality.png
  frontend/public/images/sdgs/6-clean-water.png
  frontend/public/images/sdgs/7-clean-energy.png
  frontend/public/images/sdgs/8-decent-work.png
  frontend/public/images/sdgs/9-industry-innovation.png
Due: none

Add SGDs component
  frontend/containers/.gitkeep
  frontend/containers/sdgs/component.stories.tsx
  frontend/containers/sdgs/component.tsx
  frontend/containers/sdgs/constants.ts
  frontend/containers/sdgs/index.ts
  frontend/containers/sdgs/types.ts
Due: frontend-lint, frontend-i18n

Add CategoryTag component
  frontend/components/tag/component.tsx
  frontend/containers/category-tag/component.stories.tsx
  frontend/containers/category-tag/component.tsx
  frontend/containers/category-tag/index.ts
  frontend/containers/category-tag/types.ts
Due: frontend-lint, frontend-i18n

Add TagsGrid component
  frontend/containers/tags-grid/component.stories.tsx
  frontend/containers/tags-grid/component.tsx
  frontend/containers/tags-grid/index.ts
  frontend/containers/tags-grid/types.ts
  frontend/helpers/slugify.ts
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Add WebsiteSocialContact component
  frontend/containers/website-social-contact/component.stories.tsx
  frontend/containers/website-social-contact/component.tsx
  frontend/containers/website-social-contact/constants.ts
  frontend/containers/website-social-contact/index.ts
  frontend/containers/website-social-contact/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Add Profile/About component
  frontend/containers/profile-about/component.tsx
  frontend/containers/profile-about/index.ts
  frontend/containers/profile-about/types.ts
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Add different style options to LayoutContainer
  frontend/components/layout-container/component.tsx
  frontend/components/layout-container/types.ts
Due: frontend-lint, frontend-i18n

Add investor profile page
  frontend/components/button/constants.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/pages/investor/[id]/index.tsx
  frontend/public/images/temp-placeholders/nesst-logo.png
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Add ProfileHeader component
  frontend/containers/profile-header/component.stories.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/index.ts
  frontend/containers/profile-header/types.ts
  frontend/lang/transifex/zu.json
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Reorganize WebsiteSocialContact component fields
  frontend/containers/website-social-contact/component.tsx
Due: frontend-lint, frontend-i18n

Add prop to StaticPageLayout to make it so that default top margin is optional
  frontend/layouts/static-page/component.tsx
  frontend/layouts/static-page/types.ts
Due: frontend-lint, frontend-i18n

Replace Investor page header with redesigned one
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Changing ProfileAbout component to DeveloperAbout for future reuse
  frontend/containers/developer-about/component.stories.tsx
  frontend/containers/developer-about/component.tsx
  frontend/containers/developer-about/index.ts
  frontend/containers/developer-about/types.ts
  frontend/containers/profile-about/component.tsx
  frontend/containers/profile-about/index.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Remove unused Tag variants from Storybook
  frontend/components/tag/component.stories.tsx
Due: frontend-lint, frontend-i18n

Improve DeveloperAbout developer photo alt text
  frontend/containers/developer-about/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Prevent 'undefined' when no className is specified for a component
  frontend/components/layout-container/component.tsx
  frontend/containers/developer-about/component.tsx
Due: frontend-lint, frontend-i18n

Add Profile logo placeholder
  frontend/containers/developer-about/component.tsx
  frontend/public/images/placeholders/profile-logo.png
Due: frontend-lint, frontend-i18n

Improve DeveloperAbout translations
  frontend/containers/developer-about/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Fixing bad margins/paddings on DeveloperAbout profile photo in tiny screens
  frontend/containers/developer-about/component.tsx
Due: frontend-lint, frontend-i18n

Fixing WebsiteSocialMedia text overflow on tiny screens
  frontend/containers/website-social-contact/component.tsx
Due: frontend-lint, frontend-i18n

Add 'developerId' prop to DeveloperAbout and link to developer page
  frontend/containers/developer-about/component.tsx
  frontend/containers/developer-about/types.ts
Due: frontend-lint, frontend-i18n

Fix ProfileHeader bug where if the num of projects funded or not funded is 0, the display would break
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n

Improve ProfileHeader image alt text translations
  frontend/containers/profile-header/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Fix typos in mock data
  frontend/containers/profile-header/component.stories.tsx
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Add 'title' to SDGs images
  frontend/containers/sdgs/component.tsx
Due: frontend-lint, frontend-i18n

Minor change to Investor page imports
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n

chore: update of rails version
  backend/Gemfile.lock
Due: none

Addressing possible radial background issues on Safari
  frontend/containers/profile-header/component.tsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Add title and description to the investor's page head
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Use getServerSideProps in Investor page
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n
