Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

fit on iphone 5
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/developers/component.tsx
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/impact/component.tsx
  frontend/layouts/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n

change project-page directory
  frontend/containers/project-page/component.tsx
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/contact/index.ts
  frontend/containers/project-page/contact/types.ts
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/developers/index.ts
  frontend/containers/project-page/developers/types.ts
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/funding/index.ts
  frontend/containers/project-page/funding/types.ts
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/impact/index.ts
  frontend/containers/project-page/impact/types.ts
  frontend/containers/project-page/index.ts
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/project-page/overview/index.ts
  frontend/containers/project-page/overview/types.ts
  frontend/containers/project-page/types.ts
  frontend/layouts/project-page/contact/index.ts
  frontend/layouts/project-page/developers/index.ts
  frontend/layouts/project-page/funding/index.ts
  frontend/layouts/project-page/impact/index.ts
  frontend/layouts/project-page/overview/index.ts
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Check frontend types only when frontend code is modified (#234)
  lefthook.yml
Due: none

test
  frontend/components/map/layers.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layers.ts
Due: frontend-lint, frontend-i18n

feat: New numerical filter for Project impacts
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/services/api/filterer.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

fix: replace Impact Modal component on about page
  frontend/pages/about.tsx
Due: frontend-lint, frontend-i18n

Release v0.6.0
  package.json
Due: none

fix: componentize profile card
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-page/developers/component.tsx
Due: frontend-lint, frontend-i18n

fix: add ContactInformationModal to contact section
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-page/contact/component.tsx
Due: frontend-lint, frontend-i18n

fix: add ContactInformationModal to contact section
  frontend/containers/project-page/contact/component.tsx
Due: frontend-lint, frontend-i18n

fix: add main developer to developers
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-page/developers/component.tsx
Due: frontend-lint, frontend-i18n

fix: add link to profile card on developers
  frontend/containers/project-page/developers/component.tsx
Due: frontend-lint, frontend-i18n

feat: Sends emails on Account approve or reject
  backend/.env.sample
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/backoffice/accounts_controller.rb
  backend/app/mailers/user_mailer.rb
  backend/app/views/user_mailer/approved.html.erb
  backend/app/views/user_mailer/rejected.html.erb
  backend/config/locales/zu.yml
  backend/spec/mailers/user_mailer_spec.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  infrastructure/base/modules/env/main.tf
Due: backend-lint

fix: adding FRONTEND_URL to github workflow
  .github/workflows/backend-tests.yml
  backend/docker-compose-test.yml
Due: none

Feat: add markers and clusters add project-map endpoint on project service
  frontend/components/map/layers/cluster/component.tsx
  frontend/components/map/layers/cluster/index.ts
  frontend/components/map/layers/cluster/types.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layers.ts
  frontend/containers/discover-map/pin-cluster/component.tsx
  frontend/containers/discover-map/pin-cluster/helper.ts
  frontend/containers/discover-map/pin-cluster/index.ts
  frontend/containers/discover-map/pin-cluster/types.ts
  frontend/containers/discover-map/pin.tsx
  frontend/containers/discover-map/pin/component.tsx
  frontend/containers/discover-map/pin/index.ts
  frontend/containers/discover-map/pin/types.ts
  frontend/containers/discover-map/types.ts
  frontend/helpers/project.ts
  frontend/package.json
  frontend/services/projects/projectService.ts
  frontend/svgs/project/marker.svg
  frontend/svgs/project/trusted-marker.svg
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

fix flaky backend tests - snapshots ignore included array
  backend/Gemfile
  backend/Gemfile.lock
  backend/spec/rails_helper.rb
Due: backend-lint

fixing account users count in backoffice
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/spec/factories/account.rb
Due: backend-lint

feat: Add params to projetc map search
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/pin-cluster/component.tsx
  frontend/containers/discover-map/pin-cluster/helper.ts
  frontend/helpers/project.ts
  frontend/services/projects/projectService.ts
  frontend/services/types.ts
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

backoffice: add projects index
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/models/concerns/enum_model.rb
  backend/app/views/backoffice/projects/index.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/db/seeds.rb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

enable turbo
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/layouts/application.html.erb
  backend/app/views/layouts/backoffice.html.erb
Due: none

workaround for sorting by category
  backend/app/models/concerns/enum_model.rb
  backend/app/models/project.rb
  backend/app/views/backoffice/projects/index.html.erb
Due: backend-lint

backoffice: projects as admin_root
  backend/config/routes/backoffice.rb
Due: backend-lint

remove sorting by status for now
  backend/app/views/backoffice/projects/index.html.erb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

feat: Favourite Investor API endpoint
  backend/app/controllers/api/v1/favourite_investors_controller.rb
  backend/app/controllers/api/v1/favourite_project_developers_controller.rb
  backend/app/controllers/api/v1/favourite_projects_controller.rb
  backend/app/models/ability.rb
  backend/app/models/favourite_investor.rb
  backend/app/models/investor.rb
  backend/app/models/user.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220603080408_create_favourite_investors.rb
  backend/db/schema.rb
  backend/spec/factories/favourite_investors.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/models/favourite_investor_spec.rb
  backend/spec/requests/api/v1/favourite_investors_spec.rb
  backend/spec/requests/api/v1/favourite_project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

count number of rows in projects list
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

refactoring: make user assignment at favourite controllers more transparent
  backend/app/controllers/api/v1/favourite_investors_controller.rb
  backend/app/controllers/api/v1/favourite_project_developers_controller.rb
  backend/app/controllers/api/v1/favourite_projects_controller.rb
Due: backend-lint

fix build errors
  frontend/components/map/layers/cluster/types.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/pin-cluster/helper.ts
  frontend/containers/discover-map/pin-cluster/index.ts
  frontend/containers/discover-map/pin-cluster/types.ts
  frontend/services/projects/projectService.ts
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

add missing test mosaic
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

revert map/layer change
  frontend/components/map/layers.ts
Due: frontend-lint, frontend-i18n

project page: basic overview component
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/component.tsx
  frontend/layouts/project-page/index.ts
  frontend/layouts/project-page/overview/component.tsx
  frontend/layouts/project-page/overview/index.ts
  frontend/layouts/project-page/overview/types.ts
  frontend/layouts/project-page/types.ts
  frontend/pages/project/[id]/index.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

project page: basic overview component
  frontend/layouts/project-page/overview/component.tsx
  frontend/mockups/project.json
Due: frontend-lint, frontend-i18n

project page: basic map
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/layouts/auth-page/header/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/project-page/overview/component.tsx
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

project page: add funding basic structure
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/funding/index.ts
  frontend/layouts/project-page/funding/types.ts
  frontend/pages/project/[id]/index.tsx
  frontend/svgs/project/funding/checklist-pen.svg
  frontend/svgs/project/funding/ecology-plant-hand.svg
  frontend/svgs/project/funding/envelope.svg
  frontend/svgs/project/funding/information-circle.svg
  frontend/svgs/project/funding/monetization-approve.svg
  frontend/svgs/project/funding/paper-write.svg
  frontend/svgs/project/funding/performance-presentation-graph.svg
  frontend/svgs/project/funding/phone-circle.svg
  frontend/svgs/project/funding/stopwatch.svg
  frontend/svgs/project/funding/target-correct.svg
  frontend/svgs/project/funding/team-meeting.svg
Due: frontend-lint, frontend-i18n

project developers: add developer card
  frontend/layouts/project-page/developers/component.tsx
Due: frontend-lint, frontend-i18n

funding and development: style details
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/impact/component.tsx
  frontend/layouts/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n

project page: separate sections on layout components
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/developers/component.tsx
  frontend/layouts/project-page/developers/index.ts
  frontend/layouts/project-page/developers/types.ts
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/impact/component.tsx
  frontend/layouts/project-page/impact/index.ts
  frontend/layouts/project-page/impact/types.ts
  frontend/layouts/project-page/overview/component.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n

project public page: add contact footer with contact disables when contacts are not available
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/contact/component.tsx
  frontend/layouts/project-page/contact/index.ts
  frontend/layouts/project-page/contact/types.ts
  frontend/layouts/project-page/developers/component.tsx
  frontend/layouts/project-page/developers/index.ts
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/funding/index.ts
  frontend/layouts/project-page/impact/index.ts
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n

project public page: conditional rendering contact section
  frontend/layouts/project-page/contact/component.tsx
Due: frontend-lint, frontend-i18n

project public page: add impact basics section
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n

impact: add default value to location select
  frontend/layouts/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n
