Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

feat: signup form resolve review issues change form validation to use yup scheme
  frontend/components/forms/validation.ts
  frontend/package.json
  frontend/pages/sign-up.tsx
  frontend/services/users/userService.ts
  frontend/tailwind.config.js
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

feat: sign-up form change form flex to have just one column on small devices
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

feat: signup form remove unused svg move form validation file to /validations/signup change form validation attrs
  frontend/package.json
  frontend/pages/sign-up.tsx
  frontend/svgs/notifications/warning-outlined.svg
  frontend/validations/signup.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

feat: singup form remove onError function
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

feat: sign-up form create sign-up page component create userService create signup types install react-hook-form library
  frontend/components/forms/rhf-validations.ts
  frontend/pages/sign-up.tsx
  frontend/services/users/userService.ts
  frontend/types/signup.ts
Due: frontend-lint, frontend-i18n

feat: signup form * Add translation components * Style form
  frontend/pages/sign-up.tsx
  frontend/svgs/notifications/warning-outlined.svg
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

feat: sign-up form * replace Input components * replace email validation
  frontend/components/forms/rhf-validations.ts
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

feat: sign up form * Add new checkbox component
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

feat: sign-up form * change page style
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

feat: sign-up form * add padding to page
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

clear active jobs during tests
  backend/config/environments/test.rb
  backend/spec/rails_helper.rb
Due: backend-lint

use /account instead of /user for current user API endpoints
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/config/routes.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Attempt to fix the FE Docker deployment
  frontend/Dockerfile
  infrastructure/base/main.tf
Due: none

Simplify dockerfile for FE
  frontend/Dockerfile
  infrastructure/README.md
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/variables.tf
Due: none

infrastructure basics
  .gitignore
  infrastructure/README.md
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/main.tf
  infrastructure/base/outputs.tf
  infrastructure/base/variables.tf
  infrastructure/base/vars/terraform.tfvars
  infrastructure/base/versions.tf
  infrastructure/remote-state/.terraform.lock.hcl
  infrastructure/remote-state/main.tf
  infrastructure/remote-state/variables.tf
  infrastructure/remote-state/vars/terraform.tfvars
  infrastructure/remote-state/versions.tf
Due: none

Tweaks to cloudbuild config for FE
  infrastructure/base/LICENSE
  infrastructure/base/README.md
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
Due: none

Frontend docker image build with Cloud Build
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
  infrastructure/base/variables.tf
Due: none

Attempt to fix the FE Docker deployment
  frontend/Dockerfile
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
Due: none

Basic cloud build setup for FE
  infrastructure/README.md
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudbuild-webhook/main.tf
  infrastructure/base/modules/cloudbuild-webhook/outputs.tf
  infrastructure/base/modules/cloudbuild-webhook/variables.tf
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
  infrastructure/base/modules/gcr/main.tf
  infrastructure/base/modules/gcr/variables.tf
  infrastructure/base/variables.tf
  infrastructure/base/vars/terraform.tfvars
  infrastructure/base/versions.tf
Due: none

Backend docker file
  backend/Dockerfile
  backend/Gemfile
  backend/README.md
  backend/entrypoint.sh
  infrastructure/base/modules/cloudbuild/main.tf
Due: none

prod credentials
  backend/.gitignore
  backend/config/credentials/production.yml.enc
Due: none

Probably this is correct for --without
  backend/Dockerfile
Due: none

tzinfo dependencies
  backend/Dockerfile
Due: none

rswag deps
  backend/Gemfile
  backend/Gemfile.lock
Due: none

MVP wrap-up for the infrastructure
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/outputs.tf
  infrastructure/base/modules/dns/main.tf
  infrastructure/base/modules/dns/outputs.tf
  infrastructure/base/modules/dns/variables.tf
  infrastructure/base/modules/load-balancer/main.tf
  infrastructure/base/modules/load-balancer/outputs.tf
  infrastructure/base/modules/load-balancer/variables.tf
  infrastructure/base/modules/network/main.tf
  infrastructure/base/modules/sql/main.tf
  infrastructure/base/modules/sql/variables.tf
  infrastructure/base/modules/storage/main.tf
  infrastructure/base/modules/storage/variables.tf
  infrastructure/base/outputs.tf
  infrastructure/base/variables.tf
  infrastructure/base/vars/terraform.tfvars
  infrastructure/remote-state/heco.terraform.tfstate
  infrastructure/remote-state/heco.terraform.tfstate.backup
Due: none

Backend docker deployment with transifex
  backend/Dockerfile
  infrastructure/base/main.tf
Due: none
