Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: yarn i18n:extract && git add lang/transifex/*

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Possibility to display the map fullscreen
  frontend/components/map/controls/fullscreen/component.stories.tsx
  frontend/components/map/controls/fullscreen/component.tsx
  frontend/components/map/controls/fullscreen/index.ts
  frontend/components/map/controls/fullscreen/types.ts
  frontend/containers/forms/geometry/component.tsx
  frontend/lang/transifex/zu.json
  frontend/styles/globals.css
Due: frontend-lint, frontend-i18n

User can draw on the map
  frontend/containers/forms/geometry/component.tsx
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Visually display the invalid state
  frontend/containers/forms/geometry/component.tsx
Due: frontend-lint, frontend-i18n

Add geometry input in project creation form
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
  frontend/types/project.ts
  frontend/validations/project.ts
Due: frontend-lint, frontend-i18n

Fix small issue on pending screen
  frontend/lang/transifex/zu.json
  frontend/pages/projects/pending.tsx
Due: frontend-lint, frontend-i18n

Fix exception when saving project without ticket size
  backend/db/migrate/20220502081414_remove_not_null_on_ticket_size.rb
  backend/db/migrate/20220502081603_remove_not_null_on_instrument_types.rb
  backend/db/schema.rb
  backend/spec/models/project_spec.rb
Due: backend-lint

Prevent user from leaving form with logo link
  frontend/containers/multi-page-layout/header/component.tsx
Due: frontend-lint, frontend-i18n

See if this fixes GH "Failed to fetch" issue
  .github/workflows/backend-tests.yml
Due: none

PDs can create projects from dashboard
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/component.stories.tsx
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/dashboard/index.ts
  frontend/layouts/dashboard/types.ts
  frontend/pages/dashboard/index.tsx
  frontend/pages/projects/new.tsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Update the query filters in the FE
  frontend/lang/transifex/zu.json
  frontend/services/locations/locations.ts
  frontend/types/locations.ts
Due: frontend-lint, frontend-i18n

Cloudtasker running locally
  backend/.env.sample
  backend/ENV_VARS.md
  backend/Gemfile
  backend/Gemfile.lock
  backend/Procfile.dev
  backend/README.md
  backend/app/controllers/api/v1/test_jobs_controller.rb
  backend/app/jobs/test_job.rb
  backend/app/mailers/test_job_mailer.rb
  backend/config/application.rb
  backend/config/initializers/cloudtasker.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/test_jobs_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: Full text searching
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/models/concerns/searchable.rb
  backend/app/models/investor.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/services/api/filterer.rb
  backend/spec/models/investor_spec.rb
  backend/spec/models/open_call_spec.rb
  backend/spec/models/project_developer_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/spec/support/shared_examples/models/searchable.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add role binding for service account for requests to signBlob
  infrastructure/base/modules/cloudrun/main.tf
Due: none

WIP
  backend/.env.sample
  backend/ENV_VARS.md
  infrastructure/base/modules/cloud_tasks/variables.tf
  infrastructure/base/modules/env/main.tf
Due: none

fix: define empty schema for rswag endpoints so json is properly setup
  backend/spec/requests/api/v1/favourite_project_developers_spec.rb
  backend/spec/requests/api/v1/favourite_projects_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Google Cloud Translation running locally
  backend/.env.sample
  backend/ENV_VARS.md
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/jobs/translations/translate_project_job.rb
  backend/app/services/translations/translate_content.rb
  backend/app/services/translations/translate_project.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/services/translations/translate_project_spec.rb
Due: backend-lint

Enable Translation API via terraform (perhaps...)
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/translation/main.tf
Due: none

Simplyfy by using translatable_attributes instead of reinventing the wheel
  backend/app/services/translations/translate_project.rb
  backend/spec/services/translations/translate_project_spec.rb
Due: backend-lint

feat: locations selectors add location selectors interdependent filters
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/pages/projects/new.tsx
  frontend/services/enums/enumService.ts
  frontend/services/helpers.ts
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/locations.ts
Due: frontend-lint, frontend-i18n

feat: Restricting visibility of contact attributes to approved accounts
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/models/account.rb
  backend/app/models/user.rb
  backend/app/serializers/api/base_serializer.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/location_serializer.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/app/serializers/api/v1/project_image_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/serializers/api/v1/user_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/models/account_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
Due: backend-lint

Add a second input to take the uploaded file value
  frontend/components/forms/image-uploader/component.tsx
  frontend/services/direct-upload/directUpload.ts
Due: frontend-lint, frontend-i18n

feat: direct upload Create direct upload function Add it to the pr form - profile picture
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/head/component.tsx
  frontend/package.json
  frontend/services/account/index.ts
  frontend/services/direct-upload/directUpload.ts
  frontend/services/enums/enumService.ts
  frontend/services/projects/projectService.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

change imageUploader component to set value fom the upload
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/pages/project-developers/new.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/services/direct-upload/directUpload.ts
  frontend/services/direct-upload/helper.ts
  frontend/services/projects/projectService.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Bump cloudbuild timeouts
  infrastructure/base/modules/cloudbuild/main.tf
Due: none

Bump cloudbuild machine type
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/modules/cloudbuild/main.tf
Due: none

paste component
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/forms/uploader/index.ts
  frontend/containers/forms/uploader/types.ts
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

fix: remove content-type=form-data from request
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n

Update frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
Due: frontend-lint, frontend-i18n

fix: build error
  frontend/containers/project-form-pages/pages/general-information.tsx
Due: frontend-lint, frontend-i18n

feat: locations selectors (#144)
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/pages/projects/new.tsx
  frontend/services/enums/enumService.ts
  frontend/services/helpers.ts
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/locations.ts
Due: frontend-lint, frontend-i18n

translation supports other resources (not just Project)
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/jobs/translate_job.rb
  backend/app/jobs/translations/translate_project_job.rb
  backend/app/services/translations/translate.rb
  backend/app/services/translations/translate_content.rb
  backend/app/services/translations/translate_project.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/services/translations/translate_project_spec.rb
  backend/spec/services/translations/translate_spec.rb
Due: backend-lint

replace texts
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
Due: frontend-lint, frontend-i18n

fix: build error
  frontend/components/forms/image-uploader/component.tsx
Due: frontend-lint, frontend-i18n

Let 344 fe upload the profile picture using direct upload and convert back the multipart form into json data (#146)
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/components/head/component.tsx
  frontend/package.json
  frontend/pages/project-developers/new.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/services/account/index.ts
  frontend/services/direct-upload/directUpload.ts
  frontend/services/direct-upload/helper.ts
  frontend/services/projects/projectService.ts
  frontend/types/projectDeveloper.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

feat: Adding sorting to index API endpoints (Project, PD, Investor, OpenCall)
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/services/api/sorter.rb
  backend/spec/fixtures/snapshots/api/v1/investors-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/sorter_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Release v0.4.0
  package.json
Due: none

Add breadcrumbs component
  frontend/containers/breadcrumbs/component.tsx
  frontend/containers/breadcrumbs/index.ts
  frontend/containers/breadcrumbs/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Add Breadcrumbs to Project Developer, Project, Investor pages
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Add Breadcrumbs component to Storybook
  frontend/.storybook/preview.js
  frontend/containers/breadcrumbs/component.stories.tsx
Due: frontend-lint, frontend-i18n

Improve breadcrumbs accessibility
  frontend/containers/breadcrumbs/component.tsx
Due: frontend-lint, frontend-i18n

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
