Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

Fix profile header image not filling the container correctly in all resolution
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n

feat: Full text searching takes into account expected_impact column
  backend/app/services/api/filterer.rb
Due: backend-lint

feat: investor creation form Add form pages
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/investor-form-pages/index.ts
  frontend/containers/investor-form-pages/pages/impacts.tsx
  frontend/containers/investor-form-pages/pages/investment.tsx
  frontend/containers/investor-form-pages/pages/other-information.tsx
  frontend/containers/investor-form-pages/pages/priority.tsx
  frontend/containers/investor-form-pages/pages/profile.tsx
  frontend/containers/investor-form-pages/pages/select-language.tsx
  frontend/containers/investor-form-pages/types.ts
  frontend/helpers/user.ts
  frontend/pages/investors/new.tsx
  frontend/pages/investors/pending.tsx
  frontend/schemas/investor.ts
  frontend/services/account/index.ts
  frontend/types/index.ts
  frontend/types/investor.ts
  frontend/types/projectDeveloper.ts
  frontend/validations/investor.ts
Due: frontend-lint, frontend-i18n

Let 353 update the header and contact section of the pd public page (#147)
  frontend/containers/category-tag/component.tsx
  frontend/containers/category-tag/types.ts
  frontend/containers/developer-about/component.tsx
  frontend/containers/developer-about/types.ts
  frontend/containers/profile-header/component.stories.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/project-header/component.stories.tsx
  frontend/containers/project-header/component.tsx
  frontend/containers/project-header/index.ts
  frontend/containers/project-header/types.ts
  frontend/containers/social-contact/contact-information-modal/component.stories.tsx
  frontend/containers/social-contact/contact-information-modal/component.tsx
  frontend/containers/social-contact/contact-information-modal/index.ts
  frontend/containers/social-contact/contact-information-modal/types.ts
  frontend/containers/social-contact/website-social-contact/index.ts
  frontend/containers/social-contact/website-social/component.stories.tsx
  frontend/containers/social-contact/website-social/component.tsx
  frontend/containers/social-contact/website-social/index.ts
  frontend/containers/social-contact/website-social/types.ts
  frontend/lang/transifex/zu.json
  frontend/mockups/project.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/svgs/contact/email.svg
  frontend/svgs/contact/phone.svg
  frontend/types/project.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Fixing i18n not being fully extracted
  frontend/lang/transifex/zu.json
Due: none

Add DiscoverSearch component
  frontend/containers/discover-search/component.stories.tsx
  frontend/containers/discover-search/component.tsx
  frontend/containers/discover-search/index.ts
  frontend/containers/discover-search/types.ts
Due: frontend-lint, frontend-i18n

fix: add max size validation to image uploader
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/helpers/pages.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Add icon component
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n

change texts
  frontend/containers/investor-form-pages/pages/profile.tsx
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n

feat: investor public page Change page to use data from api
  frontend/containers/sdgs/types.ts
  frontend/enums/index.ts
  frontend/pages/investor/[id]/index.tsx
  frontend/services/investors/investorsService.ts
  frontend/types/index.ts
  frontend/types/investor.ts
Due: frontend-lint, frontend-i18n

Remove `console.log`
  frontend/components/forms/image-uploader/component.tsx
Due: frontend-lint, frontend-i18n

fix: add max size validation to image uploader (#163)
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/helpers/pages.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Fixing i18n not being fully extracted (#158)
  frontend/lang/transifex/zu.json
Due: none

Data work directory
  data/.dockerignore
  data/.editorconfig
  data/.env.example
  data/.github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  data/.github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  data/.gitignore
  data/.pre-commit-config.yaml
  data/CHANGELOG.md
  data/LICENSE
  data/Makefile
  data/README.md
  data/docker-compose.yml
  data/docs/Makefile
  data/docs/adr/instructions.md
  data/docs/adr/template.md
  data/docs/commands.rst
  data/docs/conf.py
  data/docs/getting-started.rst
  data/docs/index.rst
  data/docs/make.bat
  data/docs/module.rst
  data/notebooks/.dockerignore
  data/notebooks/Dockerfile
  data/notebooks/Final/.gitkeep
  data/notebooks/Lab/.gitkeep
  data/notebooks/generate_token.py
  data/notebooks/jupyter_notebook_config.py
  data/notebooks/requirements.txt
  data/notebooks/templates/init/initial_template.ipynb
  data/requirements.txt
  data/setup.cfg
  data/setup.py
  data/test_environment.py
  data/tests/__init__.py
  data/tests/conftest.py
  data/tests/example.csv
  data/tests/test_data.py
  data/tests/test_heco.py
  data/tox.ini
Due: none

Update frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Update frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n

ProjectCard changes (verified badge, prop simplification, mockup updates)
  frontend/containers/project-card/component.stories.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-card/types.ts
  frontend/lang/transifex/zu.json
  frontend/mockups/project.json
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

Update ProjectDeveloper page ProjectCard to use project as a single prop
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Update ProjectHeader to use correct property to display the verified badge
  frontend/containers/project-header/component.tsx
Due: frontend-lint, frontend-i18n

Update bad DiscoverSearch incorrect type default
  frontend/containers/discover-search/types.ts
Due: frontend-lint, frontend-i18n

fix: review errors
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/pages/project-developer/[id]/index.tsx
  frontend/services/project-developers/projectDevelopersService.ts
Due: frontend-lint, frontend-i18n

feat: obtain centroid from existing geojson
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/services/geo_jsons/center_finder.rb
  backend/app/validators/project_geometry_validator.rb
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/services/geo_jsons/center_finder_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Adding geos dev lib to github workflow
  .github/workflows/backend-tests.yml
Due: none

Add role binding for service account for requests to signBlob
  infrastructure/base/modules/cloudrun/main.tf
Due: none

Add BadgeNavigation component
  frontend/components/badge-navigation/component.stories.tsx
  frontend/components/badge-navigation/component.tsx
  frontend/components/badge-navigation/index.ts
  frontend/components/badge-navigation/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Remove redundant aria-label in BadgeNavigation
  frontend/components/badge-navigation/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Improve BadgeNavigation styling
  frontend/components/badge-navigation/component.tsx
Due: frontend-lint, frontend-i18n

Install dependencies before bundle install is run
  .github/workflows/backend-tests.yml
Due: none

Add pagination component + usePagination hook
  frontend/components/button/constants.ts
  frontend/components/button/types.ts
  frontend/components/pagination/component.stories.tsx
  frontend/components/pagination/component.tsx
  frontend/components/pagination/index.ts
  frontend/components/pagination/types.ts
  frontend/hooks/usePagination.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Update Pagination component aria-labels
  frontend/components/pagination/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Force focus ring on pagination buttons
  frontend/components/pagination/component.tsx
Due: frontend-lint, frontend-i18n

disable outside requests at tests
  backend/Gemfile
  backend/Gemfile.lock
  backend/spec/spec_helper.rb
Due: backend-lint

Rebuild bundle install cache
  .github/workflows/backend-linters.yml
  .github/workflows/backend-security.yml
  .github/workflows/backend-tests.yml
Due: none

renaming center_finder.rb class
  backend/app/services/geo_jsons/to_centroid.rb
  backend/app/validators/project_geometry_validator.rb
  backend/spec/services/geo_jsons/to_centroid_spec.rb
Due: backend-lint

add comment
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n

feat: project image gallery Create component and add to the project page
  frontend/components/carousel/component.tsx
  frontend/components/carousel/types.ts
  frontend/containers/image-gallery/component.tsx
  frontend/containers/image-gallery/index.ts
  frontend/containers/image-gallery/types.ts
  frontend/containers/project-header/component.tsx
Due: frontend-lint, frontend-i18n

Add BadgeNavigation component (#160)
  frontend/components/badge-navigation/component.stories.tsx
  frontend/components/badge-navigation/component.tsx
  frontend/components/badge-navigation/index.ts
  frontend/components/badge-navigation/types.ts
Due: frontend-lint, frontend-i18n

Add pagination component + usePagination hook (#161)
  frontend/components/button/constants.ts
  frontend/components/button/types.ts
  frontend/components/pagination/component.stories.tsx
  frontend/components/pagination/component.tsx
  frontend/components/pagination/index.ts
  frontend/components/pagination/types.ts
  frontend/hooks/usePagination.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Add GMaps Places API key to FE infrastructure
  .nvmrc
  frontend/README.md
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/variables.tf
  infrastructure/base/versions.tf
  package.json
Due: none
