Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Update the copyright holder
  LICENSE
  data/LICENSE
Due: none

Update the button's wording of the error pages
  frontend/lang/transifex/zu.json
  frontend/pages/404.tsx
  frontend/pages/500.tsx
  frontend/pages/_error.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Finalisation of klab poll_impact_demands job
  backend/app/jobs/klab/poll_impact_demands_job.rb
  backend/app/services/klab/calculate_project_impact_score.rb
  backend/app/services/klab/export_artifact.rb
  backend/app/services/klab/poll_ticket.rb
  backend/app/services/klab/submit_context.rb
  backend/spec/fixtures/vcr_cassettes/klab/demands_for_open_ticket.json
  backend/spec/fixtures/vcr_cassettes/klab/demands_for_resolved_ticket.json
  backend/spec/jobs/klab/poll_impact_demands_job_spec.rb
Due: backend-lint

Fix logo's visibility in crash error page
  frontend/containers/layouts/logo/component.tsx
  frontend/containers/layouts/logo/types.ts
  frontend/layouts/dashboard/header/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/static-page/header/component.tsx
  frontend/layouts/static-page/header/types.ts
  frontend/pages/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add new GA event to track entity visits
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/open-call/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Finalisation of klab calculate_impacts job
  backend/app/jobs/impact_calculation_job.rb
  backend/app/jobs/klab/calculate_impacts_job.rb
  backend/app/jobs/klab/submit_contexts_job.rb
  backend/app/models/project.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/app/services/klab/build_context_string.rb
  backend/db/migrate/20230120094013_add_demands_calculated_to_projects.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/jobs/impact_calculation_job_spec.rb
  backend/spec/jobs/klab/calculate_impacts_job_spec.rb
  backend/spec/jobs/klab/submit_contexts_job_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/services/impacts/calculate_for_project_spec.rb
Due: backend-lint

chore: update of Rails and other gems
  backend/Gemfile.lock
Due: none

fix: mark demands as calculated when they are polled from Klab
  backend/app/jobs/klab/poll_impact_demands_job.rb
  backend/spec/jobs/klab/poll_impact_demands_job_spec.rb
Due: backend-lint

Update map layer selector and
  frontend/components/expando/component.tsx
  frontend/components/map/legend/component.stories.tsx
  frontend/components/map/legend/item/component.tsx
  frontend/components/map/legend/item/types.d.ts
  frontend/components/map/legend/mock.tsx
  frontend/components/map/legend/types.d.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layer-info/component.tsx
  frontend/containers/discover-map/layer-info/index.ts
  frontend/containers/discover-map/layer-info/types.ts
  frontend/containers/discover-map/layer-legend/component.tsx
  frontend/containers/discover-map/layer-tooltip/component.tsx
  frontend/containers/discover-map/layer-tooltip/index.ts
  frontend/containers/discover-map/layer-tooltip/types.ts
  frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/discover-map/map-layers-selector/types.ts
  frontend/hooks/useLayers.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add legend info
  frontend/components/map/legend/item/component.tsx
  frontend/components/map/legend/item/types.d.ts
  frontend/components/map/legend/types.d.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layer-legend/component.tsx
  frontend/containers/discover-map/map-layers-selector/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update map layers selectot
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layer-tooltip/component.tsx
  frontend/containers/discover-map/layer-tooltip/types.ts
  frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/discover-map/map-layers-selector/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/containers/layouts/logo/component.tsx
  frontend/containers/layouts/logo/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/containers/layouts/logo/types.ts
  frontend/containers/layouts/logo/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/discover-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/layouts/dashboard/header/component.tsx
  frontend/layouts/dashboard/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix typo
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update map search location
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix icon bug
  frontend/components/forms/tag/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update map search location (#747)
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix icon bug (#748)
  frontend/components/forms/tag/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/discover-map/map-layers-selector/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Updated Rails to 7.0.4.1
  backend/Gemfile
  backend/Gemfile.lock
Due: none

feat: Adding service for building k.LAB context string
  backend/app/jobs/klab/submit_contexts_job.rb
  backend/app/services/klab/README.md
  backend/app/services/klab/build_context_string.rb
  backend/app/services/klab/calculate_project_impact_score.rb
  backend/app/services/klab/run.rb
  backend/app/services/klab/submit_context.rb
  backend/spec/jobs/klab/submit_contexts_job_spec.rb
  backend/spec/services/klab/build_context_string_spec.rb
  backend/spec/services/klab/calculate_project_impact_score_spec.rb
Due: backend-lint

fix: use utc time
  backend/app/services/klab/build_context_string.rb
Due: backend-lint

Add explanation of currency in FAQs
  frontend/containers/faq-page/answers/projects/project-info/component.tsx
  frontend/containers/faq-page/answers/shared-lists/funding-types/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add explanation of currency in public pages
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/project-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix: remove extra hour from time period inside context string
  backend/app/services/klab/build_context_string.rb
Due: backend-lint

test: situation when no intersection between project and location exists
  backend/spec/services/klab/build_context_string_spec.rb
Due: backend-lint

test: changing project geometry so it makes more sense
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
Due: backend-lint

feat: Adding simple rake task which recalculates impacts with k.LAB values
  backend/lib/tasks/klab.rake
Due: none

fix: task description
  backend/lib/tasks/klab.rake
Due: none

Fix review issues
  frontend/components/expando/component.tsx
  frontend/components/map/legend/item/component.tsx
  frontend/components/map/legend/item/types.d.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layer-info-modal/component.tsx
  frontend/containers/discover-map/layer-info-modal/index.ts
  frontend/containers/discover-map/layer-info-modal/types.ts
  frontend/containers/discover-map/layer-info/component.tsx
  frontend/containers/discover-map/layer-info/types.ts
  frontend/containers/discover-map/layer-legend/component.tsx
  frontend/containers/discover-map/layer-legend/types.ts
  frontend/containers/discover-map/map-help/component.tsx
  frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/discover-map/map-layers-selector/types.ts
  frontend/containers/discover-map/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Revert small PR change
  frontend/containers/discover-map/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Let 1346 fe improve map layers options visibility (#746)
  frontend/components/expando/component.tsx
  frontend/components/map/legend/component.stories.tsx
  frontend/components/map/legend/item/component.tsx
  frontend/components/map/legend/item/types.d.ts
  frontend/components/map/legend/mock.tsx
  frontend/components/map/legend/types.d.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layer-info-modal/component.tsx
  frontend/containers/discover-map/layer-info-modal/index.ts
  frontend/containers/discover-map/layer-info-modal/types.ts
  frontend/containers/discover-map/layer-info/component.tsx
  frontend/containers/discover-map/layer-info/index.ts
  frontend/containers/discover-map/layer-info/types.ts
  frontend/containers/discover-map/layer-legend/component.tsx
  frontend/containers/discover-map/layer-legend/types.ts
  frontend/containers/discover-map/layer-tooltip/component.tsx
  frontend/containers/discover-map/layer-tooltip/index.ts
  frontend/containers/discover-map/layer-tooltip/types.ts
  frontend/containers/discover-map/map-help/component.tsx
  frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/discover-map/map-layers-selector/types.ts
  frontend/containers/discover-map/types.ts
  frontend/hooks/useLayers.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

refactoring: set impact to zero when k.LAB API returns error
  backend/app/jobs/klab/poll_impact_demands_job.rb
  backend/app/jobs/klab/submit_contexts_job.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/spec/fixtures/vcr_cassettes/klab/duplicity_artifacts_resolved_ticket.json
  backend/spec/jobs/klab/poll_impact_demands_job_spec.rb
  backend/spec/jobs/klab/submit_contexts_job_spec.rb
  backend/spec/services/impacts/calculate_for_project_spec.rb
Due: backend-lint

Sets KLAB_ENABLED env var
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
Due: none

fix: Klab context builder supports geojson data of Feature/FeatureCollection type
  backend/app/services/geo_jsons/to_centroid.rb
  backend/app/services/geo_jsons/to_geometry.rb
  backend/app/services/klab/build_context_string.rb
  backend/spec/services/geo_jsons/to_geometry_spec.rb
Due: backend-lint

fix: Klab returns sustainability instead of demand
  backend/app/jobs/klab/poll_impact_demands_job.rb
  backend/app/services/klab/calculate_project_impact_score.rb
  backend/app/services/klab/export_artifact.rb
  backend/spec/jobs/klab/poll_impact_demands_job_spec.rb
  backend/spec/services/klab/calculate_project_impact_score_spec.rb
Due: backend-lint

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
