Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Minor fixed for project edition form
  frontend/containers/project-form/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Make optional cover selection in project gallery
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Allow edition of open calls
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/helpers.ts
  frontend/containers/open-call-form/pages/closing-date.tsx
  frontend/containers/open-call-form/pages/expected-impact.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/open-call-form/types.ts
  frontend/pages/open-call/[id]/edit.tsx
  frontend/pages/open-call/[id]/index.tsx
  frontend/pages/open-calls/new.tsx
  frontend/schemas/open-call.ts
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add more info to the upload shapefile - project form
  frontend/components/forms/field-info/component.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

feat: Notify investor owner when open call is destroyed via API
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/mailers/investor_mailer.rb
  backend/app/views/investor_mailer/open_call_destroyed.html.erb
  backend/config/locales/zu.yml
  backend/spec/mailers/investor_mailer_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
Due: backend-lint

Add more info to the upload shapefile - project form (#494)
  frontend/components/forms/field-info/component.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add hook to favorite/unfavorite open calls to open-call-service
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add functionality to the open call page's header's favorite button
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/header/types.ts
  frontend/pages/open-call/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add functionality to the open call's page's CTA's favorite button
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/investor/types.ts
  frontend/pages/open-call/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Rely on the invalidation provided by react-query to update data when a user favorites an open call
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/investor/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix LocationSelectors not using initial values to filter locations
  frontend/containers/forms/location-selectors/component.stories.tsx
  frontend/containers/forms/location-selectors/component.tsx
  frontend/containers/forms/location-selectors/types.ts
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/project-form/pages/general-information.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Set up the open call page to allow drafted open calls to be previewed
  frontend/containers/open-call-page/header/component.tsx
  frontend/next.config.js
  frontend/pages/open-call/[id]/index.tsx
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add "Preview open call" option in the dashboard list of open calls
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Enable 'Edit' open call button in the my area rows dropdown
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Quick fix to prevent open calls actions menu for the first row being cut off
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Improve some types
  frontend/pages/open-call/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Users can preview drafted open calls (#496)
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/lang/transifex/zu.json
  frontend/next.config.js
  frontend/pages/open-call/[id]/index.tsx
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: API for marking/unmarking open calls as favourite
  backend/app/controllers/api/v1/favourite_open_calls_controller.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/requests/api/v1/favourite_open_calls_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

fixing typo at email locale
  backend/config/locales/zu.yml
Due: none

Fix LocationSelectors filters not being applied correctly if the default values are undefined at first
  frontend/containers/forms/location-selectors/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix LocationSelectors not using initial values to filter locations (#497)
  frontend/containers/forms/location-selectors/component.stories.tsx
  frontend/containers/forms/location-selectors/component.tsx
  frontend/containers/forms/location-selectors/types.ts
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/project-form/pages/general-information.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove unnecessary overflow classes form Table component
  frontend/components/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Job API for closing open calls past deadline
  backend/app/controllers/jobs/open_calls_controller.rb
  backend/app/models/open_call.rb
  backend/config/locales/zu.yml
  backend/config/routes/jobs.rb
  backend/spec/models/open_call_spec.rb
  backend/spec/requests/jobs/open_calls_controller_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Hopefully schedules closing expired open calls to run daily
  infrastructure/base/modules/env/main.tf
Due: none

at future -> in the future
  backend/app/models/open_call.rb
  backend/config/locales/zu.yml
Due: backend-lint

Release v1.1.0
  package.json
Due: none

feat: Verify/Unverify/Delete open call at backoffice
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/open_calls_controller.rb
  backend/app/views/backoffice/open_calls/index.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/open_calls_spec.rb
Due: backend-lint

Remove no longer necessary workarounds for the issue of table menus being cut off
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/containers/dashboard/projects/table/cells/actions/component.tsx
  frontend/containers/dashboard/row-menu/component.tsx
  frontend/containers/dashboard/row-menu/types.ts
  frontend/containers/dashboard/users/table/cells/role/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove z-index causing the info card on the project public page to be displayed above the header
  frontend/containers/project-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix incorrect opencall api url (favoriting)
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix 3-dot menu options not always fully visible (Dashboard) (#499)
  frontend/components/table/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/containers/dashboard/projects/table/cells/actions/component.tsx
  frontend/containers/dashboard/row-menu/component.tsx
  frontend/containers/dashboard/row-menu/types.ts
  frontend/containers/dashboard/users/table/cells/role/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix incorrect opencall api url (favoriting) (#502)
  frontend/services/open-call/open-call-service.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix spacing between the project page header & overview on mobile
  frontend/containers/project-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix project page info card being displayed above the header (#501)
  frontend/containers/project-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Display 0-10 total impact scores
  frontend/containers/impact-text/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix the display of the impact modal
  frontend/containers/modals/impact/component.tsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n, frontend-types

Adjust spacing on open call public page
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/share-icons/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Adjust font-size of open call public page title
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/project-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix translation issue with project public page
  frontend/containers/project-page/funding/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: New API endpoint for creating open call applications
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/models/ability.rb
  backend/app/models/open_call_application.rb
  backend/app/serializers/api/v1/open_call_application_serializer.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220825081811_changes_for_open_call_applications.rb
  backend/db/schema.rb
  backend/spec/factories/open_call_applications.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/models/open_call_application_spec.rb
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
