Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Fix icon size
  frontend/containers/faq-page/faq-expando/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Let 1157 fe tweak the project and open call public page layout (#642)
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/share-icons/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change style
  frontend/containers/faq-page/faq-expando/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix style
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix logo aspect
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix copy-paste function
  frontend/pages/settings/security.tsx
  frontend/pages/sign-in/code.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix copy-paste function
  frontend/pages/sign-in/code.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix faqs section open-close icons size (#647)
  frontend/containers/faq-page/faq-expando/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update the login flow to account for 2 fa (#616)
  frontend/enums/index.ts
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/pages/settings/security.tsx
  frontend/pages/sign-in/code.tsx
  frontend/pages/sign-in/index.tsx
  frontend/services/authentication/authService.ts
  frontend/types/sign-in.ts
  frontend/validations/sign-in.ts
Due: frontend-lint, frontend-i18n, frontend-types

Added status column and renamed old status column to Verification
  backend/app/helpers/application_helper.rb
  backend/app/services/backoffice/csv/open_call_exporter.rb
  backend/app/services/backoffice/csv/project_exporter.rb
  backend/app/views/backoffice/open_calls/index.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/services/backoffice/csv/open_call_exporter_spec.rb
  backend/spec/services/backoffice/csv/project_exporter_spec.rb
Due: backend-lint

Backoffice search specs
  backend/spec/system/backoffice/admins_spec.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/open_calls_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
  backend/spec/system/backoffice/users_spec.rb
Due: backend-lint

Update project developer page to mobile version
  frontend/containers/project-card/component.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Revert "Update the Transifex CLI to fix some deployment failures (#635)"
  .github/workflows/backend-push-translations.yml
  .github/workflows/frontend-deployment.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

Temporarily revert "Update the Transifex CLI to fix some deployment failures" to fix deployment issues (#650)
  .github/workflows/backend-push-translations.yml
  .github/workflows/frontend-deployment.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

Update investor page style for mobiles
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/overview/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

API partial search specs
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
Due: backend-lint

Remove underline from text in error pages
  frontend/lang/transifex/zu.json
  frontend/pages/404.tsx
  frontend/pages/500.tsx
  frontend/pages/_error.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update project public page mobile layout
  frontend/containers/impact-chart/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Explain delay before resending verification email
  frontend/lang/transifex/zu.json
  frontend/pages/sign-up/verification.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change style of discovery pages on mobile version
  frontend/components/badge-navigation/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/package.json
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/public/images/discover-hero.png
  frontend/tailwind.config.js
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Reduced the timeout when resending confirmation email
  backend/app/models/user.rb
  backend/spec/models/user_spec.rb
Due: backend-lint

Fix style
  frontend/containers/profile-header/component.tsx
  frontend/containers/tags-grid/component.tsx
  frontend/layouts/static-page/footer/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Reduce buttons gap when don't fit horizontally
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Always align the green section with the header bar
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Give round corners to the green section always
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Correctly align the account name on desktop
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix card
  frontend/containers/profile-header/component.tsx
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Release v1.5.0
  package.json
Due: none

Revert to 1638e749
  frontend/containers/profile-header/component.tsx
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Prevent profile picture from losing aspect ratio
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Improve layout when little content in white card
  frontend/containers/profile-header/component.tsx
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix production dependency vulnerability
  frontend/yarn.lock
Due: none

Fix date translation
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/pages/_app.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Use new tileset for sub-basin boundaries layer
  frontend/hooks/useLayers.ts
Due: frontend-lint, frontend-i18n, frontend-types

Display ticket sizes in currency on investor page
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Display ticket sizes in currency on Discover
  frontend/containers/forms/active-filters/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add localte to open call date
  frontend/containers/dashboard/open-call-applications/table/component.tsx
  frontend/containers/dashboard/open-call-details/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add new environment variable to Docker files
  frontend/Dockerfile
  frontend/docker-compose-test.yml
Due: none

Add documentation of the new environment variable
  frontend/.env.sample
  frontend/README.md
Due: none

Update investor page - mobile (#643)
  frontend/containers/profile-header/component.tsx
  frontend/containers/social-contact/website-social/component.tsx
  frontend/containers/tags-grid/component.tsx
  frontend/layouts/static-page/footer/component.tsx
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
