Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

Minor breadcrumbs component improvements
  frontend/containers/breadcrumbs/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

integrate with form
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/types.ts
  frontend/containers/forms/project-gallery/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/forms/uploader/types.ts
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/pages/projects/new.tsx
  frontend/public/images/upload-gallery.svg
  frontend/schemas/project.ts
  frontend/services/account/index.ts
  frontend/services/direct-upload/directUpload.ts
  frontend/services/direct-upload/helper.ts
  frontend/svgs/ui/upload.svg
  frontend/types/direct-upload.ts
  frontend/types/project.ts
  frontend/validations/project.ts
Due: frontend-lint, frontend-i18n

refactoring: Removing multipart support from API endpoints
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Disable queue adapter while infrastructure not ready
  backend/config/application.rb
  backend/config/environments/development.rb
Due: backend-lint

refactoring: Migrating Review status to Account model
  backend/app/models/account.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/models/concerns/reviewable.rb
  backend/app/models/investor.rb
  backend/app/models/project_developer.rb
  backend/db/migrate/20220505100023_move_review_status_to_accounts.rb
  backend/db/schema.rb
  backend/spec/factories/account.rb
  backend/spec/factories/investor.rb
  backend/spec/factories/project_developer.rb
  backend/spec/models/account_spec.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
Due: backend-lint

test: approved account can see contact information via public endpoints
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-approved-account.json
  backend/spec/requests/api/v1/project_developers_spec.rb
Due: backend-lint

feat: restrict contact info visibility even to investors
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/db/migrate/20220505100023_move_review_status_to_accounts.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/requests/api/v1/investors_spec.rb
Due: backend-lint

remove obsolete preloading
  backend/app/controllers/api/v1/project_developers_controller.rb
Due: backend-lint

tweaking snapshots a bit
  backend/spec/fixtures/snapshots/api/v1/investors-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
Due: none

feat: image-uploader gallery
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/forms/uploader/types.ts
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/pages/project-developers/new.tsx
  frontend/pages/projects/new.tsx
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n

explicit order for controller with failing specs
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
Due: backend-lint

make sure migration does not crashes with validation error
  backend/db/migrate/20220505100023_move_review_status_to_accounts.rb
Due: backend-lint

Temporarily turn off approved filter
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/spec/fixtures/snapshots/api/v1/investors-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

fix: remove console.log
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

feat: favorite PD Add favorite functionality Create hook with API request to add or remove from favorites
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/pages/project-developer/[id]/index.tsx
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Fix post-merge
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
Due: none

feature: project creation form/add field errors from the API
  frontend/helpers/pages.ts
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

add secondary default sorting decide dynamically if attribute is localised
  backend/app/services/api/sorter.rb
  backend/spec/services/api/sorter_spec.rb
Due: backend-lint

Add breadcrumbs component to Project/Project Developer/Investor pages (#149)
  frontend/.storybook/preview.js
  frontend/containers/breadcrumbs/component.stories.tsx
  frontend/containers/breadcrumbs/component.tsx
  frontend/containers/breadcrumbs/index.ts
  frontend/containers/breadcrumbs/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n

feature: project creation form/add field errors from the API (#155)
  frontend/helpers/pages.ts
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

fix: fix favorite button style
  frontend/containers/profile-header/component.tsx
Due: frontend-lint, frontend-i18n

fix: fix favorite button style
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
Due: frontend-lint, frontend-i18n

Update frontend/containers/forms/uploader/component.tsx
  frontend/containers/forms/uploader/component.tsx
Due: frontend-lint, frontend-i18n

merge review changes
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/forms/uploader/index.ts
  frontend/containers/forms/uploader/types.ts
Due: frontend-lint, frontend-i18n

feat: New Account-Investor API endpoints
  backend/app/controllers/api/v1/accounts/base_controller.rb
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/config/locales/zu.yml
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor.json
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/support/shared_examples/api/with_not_authorized_error.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add project header component
  frontend/containers/category-tag/component.tsx
  frontend/containers/category-tag/types.ts
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-header/component.stories.tsx
  frontend/containers/project-header/component.tsx
  frontend/containers/project-header/index.ts
  frontend/containers/project-header/types.ts
  frontend/lang/transifex/zu.json
  frontend/mockups/project.json
  frontend/pages/project/[id]/index.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

WebsiteSocialContact > WebsiteSocial
  frontend/containers/developer-about/component.tsx
  frontend/containers/developer-about/types.ts
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/social-contact/website-social-contact/index.ts
  frontend/containers/social-contact/website-social/component.stories.tsx
  frontend/containers/social-contact/website-social/component.tsx
  frontend/containers/social-contact/website-social/index.ts
  frontend/containers/social-contact/website-social/types.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Add ContactInfoModal component
  frontend/containers/social-contact/contact-information-modal/component.stories.tsx
  frontend/containers/social-contact/contact-information-modal/component.tsx
  frontend/containers/social-contact/contact-information-modal/index.ts
  frontend/containers/social-contact/contact-information-modal/types.ts
  frontend/lang/transifex/zu.json
  frontend/svgs/contact/email.svg
  frontend/svgs/contact/phone.svg
Due: frontend-lint, frontend-i18n

Add Contact button & modal to ProfileHeader and ProjectHeader components
  frontend/containers/profile-header/component.stories.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/project-header/component.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

Fixing several linting errors & mock
  frontend/containers/category-tag/types.ts
  frontend/containers/project-header/component.stories.tsx
  frontend/containers/project-header/component.tsx
  frontend/mockups/project.json
  frontend/types/project.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Translate ContactInformationModal title
  frontend/containers/social-contact/contact-information-modal/component.tsx
Due: frontend-lint, frontend-i18n

Update ProjectHeader to match the new design changes
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n

fix: fix changes from review and fix image preview lost from remounted component
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/pages/projects/new.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

fix: handle no token error
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/services/direct-upload/directUpload.ts
Due: frontend-lint, frontend-i18n

feat: inverstor creation form
  frontend/containers/investor-form-pages/index.ts
  frontend/containers/investor-form-pages/types.ts
  frontend/types/investor.ts
Due: frontend-lint, frontend-i18n

Update frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
Due: frontend-lint, frontend-i18n

fix: review fixes
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/forms/uploader/types.ts
Due: frontend-lint, frontend-i18n

feat: automatically translate attributes on save
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/account.rb
  backend/app/models/concerns/translatable.rb
  backend/app/models/investor.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/services/translations/translate.rb
  backend/spec/models/account_spec.rb
  backend/spec/models/investor_spec.rb
  backend/spec/models/open_call_spec.rb
  backend/spec/models/project_developer_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/support/shared_examples/models/translatable.rb
Due: backend-lint

Let 345 fe image uploader (#152)
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/types.ts
  frontend/containers/forms/project-gallery/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/forms/uploader/index.ts
  frontend/containers/forms/uploader/types.ts
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/package.json
  frontend/pages/project-developers/new.tsx
  frontend/pages/projects/new.tsx
  frontend/public/images/upload-gallery.svg
  frontend/schemas/project.ts
  frontend/services/account/index.ts
  frontend/services/direct-upload/directUpload.ts
  frontend/svgs/ui/upload.svg
  frontend/types/direct-upload.ts
  frontend/types/project.ts
  frontend/validations/project.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n
