Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

fix: Minor fixes of Project exporter based on real data
  backend/app/services/backoffice/csv/project_exporter.rb
Due: backend-lint

refactoring: Use ticket size description at project exporter
  backend/app/services/backoffice/csv/project_exporter.rb
  backend/spec/services/backoffice/csv/project_exporter_spec.rb
Due: backend-lint

Add admin email notification when new account is created
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/mailers/admin_mailer.rb
  backend/app/views/admin_mailer/investor_created.html.erb
  backend/app/views/admin_mailer/project_developer_created.htm.erb
  backend/config/locales/zu.yml
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
Due: backend-lint

Set this to prevent from showing up in diff
  infrastructure/base/modules/gcr/main.tf
Due: none

Upgraded gcp providers
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/versions.tf
Due: none

Terraform upgrade
  infrastructure/base/versions.tf
Due: none

add new fields to other information
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/other-information.tsx
  frontend/schemas/project.ts
  frontend/types/project.ts
  frontend/validations/project.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

fix validations
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/other-information.tsx
  frontend/schemas/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

fix last year revenue validation
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/other-information.tsx
  frontend/schemas/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

Comment about basic auth
  backend/README.md
Due: none

Added a build step to update traffic to the last deployed jobs instance, since it seems to be left with 0% traffic
  infrastructure/base/modules/env/main.tf
Due: none

Update README.md
  infrastructure/README.md
Due: none

remove risk details text when set identified to false
  frontend/containers/project-form/pages/other-information.tsx
  frontend/schemas/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

allow send optional last year sales revenue
  frontend/schemas/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update priority locations translations
  backend/app/services/importers/geo_jsons/mosaics.rb
  backend/db/migrate/20231128121022_update_priority_landscape_translations.rb
  backend/db/schema.rb
  backend/spec/services/importers/geo_jsons/mosaics_spec.rb
Due: backend-lint

Moved klab password to secrets
  infrastructure/base/modules/env/main.tf
Due: none

Update priority landscape translation
  backend/app/services/importers/geo_jsons/mosaics.rb
  backend/spec/services/importers/geo_jsons/mosaics_spec.rb
Due: backend-lint

Add write access to error reporting to cloud run instances
  infrastructure/base/modules/cloudrun/main.tf
Due: none

Fix new account mailers, update mailer tests
  backend/app/views/admin_mailer/investor_created.html.erb
  backend/app/views/admin_mailer/project_developer_created.htm.erb
  backend/app/views/admin_mailer/project_developer_created.html.erb
  backend/config/locales/zu.yml
  backend/spec/mailers/admin_mailer_spec.rb
Due: backend-lint

bold public and add private tag
  frontend/containers/project-form/pages/other-information.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add url check to admin mailer test
  backend/spec/mailers/admin_mailer_spec.rb
Due: backend-lint

Update link url in new account mail notification
  backend/app/views/admin_mailer/investor_created.html.erb
  backend/app/views/admin_mailer/project_developer_created.html.erb
  backend/spec/mailers/admin_mailer_spec.rb
Due: backend-lint

change texts
  frontend/containers/for-public-pages/description/component.tsx
  frontend/containers/home/hero/component.tsx
  frontend/layouts/static-page/footer/component.tsx
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

add bold styles
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

update title and descriptions
  frontend/helpers/pages.ts
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

add add and update priority landscapes images
  frontend/public/images/for-investor/for-investor-priority-landscape-amazon-heart.png
  frontend/public/images/for-investor/for-investor-priority-landscape-amazonian-piedmont-massif.png
  frontend/public/images/for-investor/for-investor-priority-landscape-caribe.png
  frontend/public/images/for-investor/for-investor-priority-landscape-cordillera-central.png
  frontend/public/images/for-investor/for-investor-priority-landscape-cordillera-oriental.png
  frontend/public/images/for-investor/for-investor-priority-landscape-orinoquia-transition.png
  frontend/public/images/for-investor/for-investor-priority-landscape-orinoquia.png
  frontend/public/images/for-investor/for-investor-priority-landscape-pacifico-marino-costero.png
  frontend/public/images/for-investor/for-investor-priority-landscape-transicion-pacifico-caribe.png
  frontend/public/images/for-investor/for-investor-priority-landscapes.png
Due: none

turn map sticky on desktop
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

minor styles
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

change text
  frontend/containers/faq-page/answers/shared-lists/project-categories/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

update transifex
  frontend/lang/transifex/zu.json
Due: none

Update priority landscapes
  frontend/containers/faq-page/answers/account/project-developer-info/component.tsx
  frontend/hooks/useFaq.tsx
  frontend/hooks/useLayers.ts
  frontend/lang/transifex/zu.json
  frontend/pages/for-investors.tsx
  frontend/services/locations/locations.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix FAQ's text
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Change image src to useMemo
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update pacific-caribbean-transition image
  frontend/public/images/for-investor/for-investor-priority-landscape-transicion-pacifico-caribe.png
Due: none

add description and align items
  frontend/containers/for-public-pages/public-page-card/component.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix typo
  frontend/containers/faq-page/answers/account/project-developer-info/component.tsx
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

FIX
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add terms and coditions page content
  frontend/pages/terms-conditions.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Extract transifex ids
  frontend/lang/transifex/zu.json
Due: none

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
