Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Refactor of the table component to solve column content overlapping (#539)
  frontend/components/table/component.tsx
  frontend/containers/dashboard/open-call-applications/table/cells/actions/component.tsx
  frontend/containers/dashboard/open-call-applications/table/component.tsx
  frontend/containers/dashboard/open-call-details/table/component.tsx
  frontend/containers/dashboard/open-calls/table/component.tsx
  frontend/containers/dashboard/projects/table/component.tsx
  frontend/containers/dashboard/users/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

refactoring: Prefer usage of account name at backoffice
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

feat: Endpoint for current user account deletion
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Release v1.2.0
  package.json
Due: none

fix: rubocop offenses
  backend/spec/requests/api/v1/accounts/users_spec.rb
Due: backend-lint

Add financial information disclaimer to the project public page
  frontend/containers/project-page/funding/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Minor project page funding section padding change to better match the designs
  frontend/containers/project-page/funding/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix broken language notice when editing an open call
  frontend/pages/open-call/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add financial information disclaimer on project public page (#544)
  frontend/containers/project-page/funding/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add service to fetch an account's favorite open calls
  frontend/services/account/favoritesService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Dashboard favorites to show stats on the favorited open calls
  frontend/layouts/dashboard-favorites/component.tsx
  frontend/pages/dashboard/favorites/open-calls.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add ability for an user to manage their favorite open calls from the dashboard
  frontend/containers/open-call-card/component.tsx
  frontend/layouts/dashboard-favorites/component.tsx
  frontend/pages/dashboard/favorites/open-calls.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Missing parenthesis in the dashboard/favorites when the number of favorites is 0
  frontend/pages/dashboard/favorites/investors.tsx
  frontend/pages/dashboard/favorites/open-calls.tsx
  frontend/pages/dashboard/favorites/project-developers.tsx
  frontend/pages/dashboard/favorites/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add locale fallback to the opencall form (locale -> openCall locale -> account locale)
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/helpers.ts
  frontend/containers/open-call-form/types.ts
  frontend/pages/open-call/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Making it explicit in the account creation/edition forms that the field "name" is the account's name
  frontend/containers/investor-form/pages/profile.tsx
  frontend/containers/project-developer-form/pages/profile.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Making it explicit in the account creation/edition forms that the fie… (#547)
  frontend/containers/investor-form/pages/profile.tsx
  frontend/containers/project-developer-form/pages/profile.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Remove pages/projects/pending.tsx - it is not used anywhere
  frontend/pages/projects/pending.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix project-form linting (useCallback dependencies)
  frontend/containers/project-form/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Remove discover/search verification filters (commented out)
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/lang/transifex/zu.json
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

Remove references to verification from project (form) (commented out)
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/pending-approval.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove references to verification from project (card, details card, public page, dashboard) (commented out)
  frontend/containers/dashboard/projects/table/cells/status/component.tsx
  frontend/containers/dashboard/projects/table/cells/status/types.ts
  frontend/containers/dashboard/projects/table/component.tsx
  frontend/containers/project-card/component.stories.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.stories.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Remove references tom verification from project (map pins) (commented out)
  frontend/containers/discover-map/pin/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Remove references to verification from open calls (form) (commented out)
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/pages/pending-verification.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove references to verification from open calls (card) (commented out)
  frontend/containers/open-call-card/component.stories.tsx
  frontend/containers/open-call-card/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove references to verification from FAQ (commented out)
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix display of the open call cards investor information when there are many tags
  frontend/containers/open-call-card/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add entries in the FAQ about the account deletion
  frontend/containers/faq-page/answers/account/investor-account-deletion/component.tsx
  frontend/containers/faq-page/answers/account/investor-account-deletion/index.ts
  frontend/containers/faq-page/answers/account/project-developer-account-deletion/component.tsx
  frontend/containers/faq-page/answers/account/project-developer-account-deletion/index.ts
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix project form map zoom buttons not working after the user uses the location search
  frontend/containers/forms/geometry/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Hide all references to the verification process (#548)
  frontend/containers/dashboard/projects/table/cells/status/component.tsx
  frontend/containers/dashboard/projects/table/cells/status/types.ts
  frontend/containers/dashboard/projects/table/component.tsx
  frontend/containers/discover-map/pin/component.tsx
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/open-call-card/component.stories.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/pages/pending-verification.tsx
  frontend/containers/project-card/component.stories.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.stories.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/pending-approval.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/projects/pending.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add entries in the FAQ about the account deletion (#549)
  frontend/containers/faq-page/answers/account/investor-account-deletion/component.tsx
  frontend/containers/faq-page/answers/account/investor-account-deletion/index.ts
  frontend/containers/faq-page/answers/account/project-developer-account-deletion/component.tsx
  frontend/containers/faq-page/answers/account/project-developer-account-deletion/index.ts
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix project form map zoom buttons not working after the user uses the location search (#550)
  frontend/containers/forms/geometry/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix: API includes returns only projects which user can see
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/controllers/api/v1/favourite_investors_controller.rb
  backend/app/controllers/api/v1/favourite_open_calls_controller.rb
  backend/app/controllers/api/v1/favourite_project_developers_controller.rb
  backend/app/controllers/api/v1/favourite_projects_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/serializers/api/base_serializer.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/account/investors-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-include-relationships.json
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/swagger_helper.rb
Due: backend-lint

fix: rubocop offenses
  backend/spec/swagger_helper.rb
Due: backend-lint

Fix issue where map markers become desynchronised
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Filter the map markers by keywords
  frontend/containers/discover-map/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Link ARIES to some explanation
  frontend/containers/home/priorities/component.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/about.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Reduce several font sizes
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Adjust size of the items in the main navigation
  frontend/containers/layouts/logo/component.tsx
  frontend/containers/layouts/navigation/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Adjust the layout container's size
  frontend/components/layout-container/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Memoize filters/sorting/pagination at backoffice
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/concerns/backoffice/filter_memoization.rb
  backend/app/views/backoffice/base/_filters.html.erb
  backend/spec/system/backoffice/filter_memoization_spec.rb
Due: backend-lint

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
