Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Fix flow
  frontend/lang/compiled/zu.json
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/invitation/invitationService.ts
Due: frontend-lint, frontend-i18n, frontend-types

table component: fix margins
  frontend/components/table/component.tsx
  frontend/containers/dashboard/users/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix searcher
  frontend/containers/dashboard/users/table/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

fix hover state action buttons
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

users dashboard: remove mock data an exchange endpoint with correct one
  frontend/containers/dashboard/users/table/component.tsx
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

users dashboard: manual sorting and searching
  frontend/containers/dashboard/search-and-info/component.tsx
  frontend/containers/dashboard/users/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

users dashboard: remove api search
  frontend/containers/dashboard/users/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

users dashboard: remove pagination
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

users table: add role cell
  frontend/containers/dashboard/users/table/cells/role/component.tsx
  frontend/containers/dashboard/users/table/cells/role/index.ts
  frontend/containers/dashboard/users/table/cells/role/types.ts
  frontend/containers/dashboard/users/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

users table: translate invitation attributes
  frontend/containers/dashboard/users/table/cells/invitation/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix descktop style
  frontend/pages/about.tsx
  frontend/public/images/about-about-the-impact.png
  frontend/public/images/about/about-about-heco-large.png
  frontend/public/images/about/about-about-section.png
  frontend/public/images/about/about-biodiversity.jpeg
  frontend/public/images/about/about-biodiversity.png
  frontend/public/images/about/about-climate.jpeg
  frontend/public/images/about/about-climate.png
  frontend/public/images/about/about-community.jpg
  frontend/public/images/about/about-community.png
  frontend/public/images/about/about-google.png
  frontend/public/images/about/about-heco.jpg
  frontend/public/images/about/about-impact-chart.svg
  frontend/public/images/about/about-impact-lg.png
  frontend/public/images/about/about-impact.png
  frontend/public/images/about/about-intro-mobile.png
  frontend/public/images/about/about-intro.png
  frontend/public/images/about/about-water.jpg
  frontend/public/images/about/about-water.png
Due: frontend-lint, frontend-i18n, frontend-types

Migrate to new domain with redirects; refactor TF dns resources
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/outputs.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/modules/load-balancer/main.tf
  infrastructure/base/modules/load-balancer/variables.tf
  infrastructure/base/outputs.tf
  infrastructure/base/variables.tf
  infrastructure/base/vars/terraform.tfvars
Due: none

feat: Create Admin via backoffice
  backend/app/controllers/backoffice/admins_controller.rb
  backend/app/services/generate_password.rb
  backend/app/views/backoffice/admins/_form.html.erb
  backend/app/views/backoffice/admins/index.html.erb
  backend/app/views/backoffice/admins/new.html.erb
  backend/app/views/backoffice/base/_new_record.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/services/generate_password_spec.rb
  backend/spec/system/backoffice/admins_spec.rb
Due: backend-lint

feat: Adding forgot password feature
  backend/app/controllers/backoffice/admins_controller.rb
  backend/app/mailers/admin_mailer.rb
  backend/app/views/admin_mailer/first_time_login_instructions.html.erb
  backend/app/views/admins/passwords/edit.html.erb
  backend/app/views/admins/passwords/new.html.erb
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/backoffice/admins/index.html.erb
  backend/config/initializers/devise.rb
  backend/config/locales/zu.yml
  backend/spec/mailers/admin_mailer_spec.rb
  backend/spec/system/backoffice/admins_spec.rb
Due: backend-lint

Add send invitation validations
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/services/invitation/invitationService.ts
  frontend/types/invitation.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: Added ui_language to Admin formular
  backend/app/controllers/backoffice/admins_controller.rb
  backend/app/views/backoffice/admins/_form.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/admins_spec.rb
Due: backend-lint

chore: update of rails-html-sanitizer
  backend/Gemfile.lock
Due: none

test: prolonging reset password expiration time
  backend/spec/requests/api/v1/reset_password_spec.rb
Due: backend-lint

Extract a translation
  frontend/lang/transifex/zu.json
Due: none

fix: password views are localized
  backend/app/controllers/backoffice/admins/passwords_controller.rb
  backend/config/routes/backoffice.rb
Due: backend-lint

bug: 1) Fix discover search input autocomplete text persistence bug 2) Fix discover search input layout bug
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

bugs: 1) Fix discover search input autocomplete suggestion text persistence 2) Fix discover search input layout
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add discover search input on home page
  frontend/containers/forms/filters/component.tsx
  frontend/containers/home/hero/component.tsx
  frontend/containers/home/use-platform/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n, frontend-types

feat: Possibility to edit Admins via backoffice
  backend/app/controllers/backoffice/admins_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/accounts/_content_language_form.html.erb
  backend/app/views/backoffice/accounts/_status_form.html.erb
  backend/app/views/backoffice/admins/_form.html.erb
  backend/app/views/backoffice/admins/_section_information.html.erb
  backend/app/views/backoffice/admins/_section_password.html.erb
  backend/app/views/backoffice/admins/edit.html.erb
  backend/app/views/backoffice/admins/index.html.erb
  backend/app/views/backoffice/investors/_form.html.erb
  backend/app/views/backoffice/investors/edit.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/app/views/backoffice/projects/_form.html.erb
  backend/app/views/backoffice/projects/_section_status.html.erb
  backend/app/views/backoffice/projects/edit.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/admins_spec.rb
Due: backend-lint

add project status to serializer, controllers, change default status to published
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/models/project.rb
  backend/app/models/project_status.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/db/migrate/20220630095402_change_project_default_status.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

add specs, change ability add new context argument
  backend/app/controllers/api/v1/accounts/base_controller.rb
  backend/app/models/ability.rb
  backend/db/seeds.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/account/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
Due: backend-lint

remove closed from project status
  backend/config/locales/zu.yml
Due: none

add default value for project status to swagger, regenerate api docs
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Deleting users from my area
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Stuff
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/containers/project-details/favorite-contact/types.ts
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/helpers/project.ts
  frontend/hoc/auth.ts
  frontend/layouts/discover-page/component.tsx
  frontend/package.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/projects/projectService.ts
  frontend/types/project.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Missing translations
  frontend/lang/transifex/zu.json
Due: none

Add for-investors page
  frontend/helpers/pages.ts
  frontend/lang/compiled/zu.json
  frontend/pages/for-investors.tsx
  frontend/public/images/for-investor/for-investor-can-do-1.jpeg
  frontend/public/images/for-investor/for-investor-can-do-2.jpeg
  frontend/public/images/for-investor/for-investor-can-do-3.jpeg
  frontend/public/images/for-investor/for-investor-category.png
  frontend/public/images/for-investor/for-investor-priority-landscapes.png
  frontend/public/images/for-investor/for-investors-why-to-invest.jpg
  frontend/services/projects/projectService.ts
  frontend/svgs/project/project-card-arrow.svg
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n, frontend-types

Fix images
  frontend/lang/compiled/zu.json
  frontend/pages/about.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix styles on search and info component
  frontend/containers/dashboard/search-and-info/component.tsx
  frontend/lang/transifex/zu.json
  frontend/svgs/ui/remove-search.svg
Due: frontend-lint, frontend-i18n, frontend-types

fix styles
  frontend/containers/dashboard/users/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix sql tunnel port in README, add possiblity to change port for the database
  backend/config/database.yml
  infrastructure/README.md
Due: none

fix las column margin
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/services/projects/projectService.ts
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/pages/for-investors.tsx
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
