Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn check-types

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}

Hide unwanted grid line in compact mode
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix the alignment of the arcs relative to the grid
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix performance and stale data issue
  frontend/containers/impact-chart/component.tsx
  frontend/services/enums/enumService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Improve chart legibility on mobile
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix the position of the chart's tooltips
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix alignment issue on project page
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix crashes related to `useEnums` hook
  frontend/components/map/project-legend/component.tsx
  frontend/containers/impact-chart/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Let 1215 fe implement the new impact graph (#682)
  frontend/components/forms/field-info/component.tsx
  frontend/components/map/project-legend/component.tsx
  frontend/containers/impact-chart/component.tsx
  frontend/containers/modals/impact/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/helpers/impact-chart.ts
  frontend/public/images/about/about-impact-chart.png
  frontend/public/images/about/about-impact-chart.svg
  frontend/services/enums/enumService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Use custom server for basic auth
  frontend/middleware.ts
  frontend/package.json
  frontend/pages/api/basic-auth.ts
  frontend/server.js
Due: frontend-lint, frontend-i18n, frontend-types

Update README.md
  README.md
Due: none

Release v1.6.0
  package.json
Due: none

Add ellipsis to the breadcrumbs
  frontend/containers/breadcrumbs/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Display the SDGs in 3 columns on mobile
  frontend/containers/sdgs/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Improve visibility of spinner and project details
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix Discover filters panel on Chrome (Android)
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Documentation table of contents
  README.md
Due: none

Remove production check for enabling the auth
  frontend/server.js
Due: frontend-lint, frontend-i18n

Basic http auth for Rails app - backoffice only
  backend/app/controllers/backoffice/admins/passwords_controller.rb
  backend/app/controllers/backoffice/admins/sessions_controller.rb
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/concerns/backoffice/http_auth.rb
  backend/spec/requests/backoffice_http_auth_spec.rb
  backend/spec/support/request_helpers.rb
Due: backend-lint

Increase legibility of README file
  README.md
Due: none

Update the front-end README file
  frontend/README.md
Due: none

Replace Basic HTTP Auth by Next-auth
  frontend/.env.sample
  frontend/Dockerfile
  frontend/README.md
  frontend/docker-compose-test.yml
  frontend/middleware.ts
  frontend/package.json
  frontend/pages/api/auth/[...nextauth].ts
  frontend/server.js
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Remove the deployments to Vercel
  .github/workflows/frontend-deployment.yml
  .github/workflows/frontend-development-deployment.yml
  .github/workflows/frontend-push-translations.yml
  .github/workflows/frontend-staging-deployment.yml
  .github/workflows/frontend-tests.yml
Due: none

Basic auth for rswag ui
  backend/config/initializers/rswag_ui.rb
Due: backend-lint

Update some text on the FAQ
  frontend/containers/faq-page/answers/projects/project-info/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix regression from 0165595
  frontend/containers/forms/active-filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n, frontend-types

Env vars for FE staging auth
  infrastructure/base/modules/env/main.tf
Due: none

Close the suggestions list when selecting filter
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

LET-1290 - Fix crash when restoring Discover state
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix bugs related to the search on Discover (#691)
  frontend/containers/forms/active-filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update some text on the FAQ (#689)
  frontend/containers/faq-page/answers/projects/project-info/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Remove the deployments to Vercel (#687)
  .github/workflows/frontend-deployment.yml
  .github/workflows/frontend-development-deployment.yml
  .github/workflows/frontend-push-translations.yml
  .github/workflows/frontend-staging-deployment.yml
  .github/workflows/frontend-tests.yml
Due: none

Remove unwanted gap of loading overlay
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix the visibility of the Discover's filters panel on Chrome (Android) (#685)
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Enable access restriction when environment variables are set (#678)
  frontend/.env.sample
  frontend/Dockerfile
  frontend/README.md
  frontend/components/confirmation-prompt/types.d.ts
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/project-form/pages/funding.tsx
  frontend/containers/share-icons/component.tsx
  frontend/docker-compose-test.yml
  frontend/middleware.ts
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/auth/[...nextauth].ts
  frontend/yarn.lock
  infrastructure/base/modules/env/main.tf
Due: frontend-lint, frontend-i18n, frontend-types

Temporary controller and task for logging testing
  backend/app/controllers/api/v1/goes_controller.rb
  backend/app/jobs/test_error_job.rb
  backend/config/routes/api.rb
Due: backend-lint

Improve the responsiveness of the public pages and Discover (#684)
  frontend/containers/breadcrumbs/component.tsx
  frontend/containers/sdgs/component.tsx
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Temporary controller and task for logging testing
  backend/app/jobs/test_error_job.rb
Due: backend-lint

Temporary controller and task for logging testing - manual logging to error reporting
  backend/app/jobs/test_error_job.rb
Due: backend-lint
