Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: yarn i18n:extract && git add lang/transifex/*

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

configure warden to return jsonapi errors, add specs for testing if session key added
  backend/app/controllers/api/v1/sessions_controller.rb
  backend/app/controllers/api/v1/users_controller.rb
  backend/app/controllers/concerns/api/authentication.rb
  backend/app/models/user.rb
  backend/config/initializers/devise.rb
  backend/spec/requests/api/v1/session_spec.rb
Due: backend-lint

Add transifex pull to FE Dockerfile
  frontend/Dockerfile
Due: none

Pin transifex CLI version; use env var instead of file for transifex credentials
  .github/workflows/frontend-deployment.yml
Due: none

Removing compiled i18n
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
Due: none

Implement a `Select` component
  frontend/components/forms/select/component.stories.tsx
  frontend/components/forms/select/component.tsx
  frontend/components/forms/select/constants/popper-modifiers.ts
  frontend/components/forms/select/constants/theme.ts
  frontend/components/forms/select/index.ts
  frontend/components/forms/select/listbox/component.tsx
  frontend/components/forms/select/listbox/index.ts
  frontend/components/forms/select/listbox/types.ts
  frontend/components/forms/select/menu/component.tsx
  frontend/components/forms/select/menu/index.ts
  frontend/components/forms/select/multi/component.tsx
  frontend/components/forms/select/multi/index.ts
  frontend/components/forms/select/option/component.tsx
  frontend/components/forms/select/option/index.ts
  frontend/components/forms/select/option/types.ts
  frontend/components/forms/select/popover/component.tsx
  frontend/components/forms/select/popover/index.ts
  frontend/components/forms/select/popover/types.ts
  frontend/components/forms/select/single/component.tsx
  frontend/components/forms/select/single/index.ts
  frontend/components/forms/select/toggle/component.tsx
  frontend/components/forms/select/toggle/index.ts
  frontend/components/forms/select/types.d.ts
  frontend/components/forms/select/types.ts
  frontend/components/icon/component.tsx
  frontend/components/language-selector/component.tsx
  frontend/components/menu/item/component.tsx
  frontend/helpers/refs.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Add base carousel component
  frontend/components/carousel/component.tsx
  frontend/components/carousel/index.ts
  frontend/components/carousel/types.ts
  frontend/lang/transifex/zu.json
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Add usePropagablePointerEventHandler hook
  frontend/hooks/pointer-events.ts
Due: frontend-lint, frontend-i18n

Add ProjectCard component
  frontend/containers/project-card/component.tsx
  frontend/containers/project-card/index.ts
  frontend/containers/project-card/types.ts
  frontend/lang/transifex/zu.json
  frontend/public/images/temp-placeholders/impact-shape.png
Due: frontend-lint, frontend-i18n

Add developer project page
  frontend/lang/transifex/zu.json
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Improving ProjectCard Accessibility
  frontend/containers/project-card/component.tsx
  frontend/hooks/pointer-events.ts
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Project card to be able to both link to a project, and take a callback to trigger a modal with its details in the future
  frontend/containers/project-card/component.tsx
  frontend/containers/project-card/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Fixing dragging a slider with project cards activating the project card's '<a>' link
  frontend/containers/project-card/component.tsx
Due: frontend-lint, frontend-i18n

Add Carousel component to storybook
  frontend/components/carousel/component.stories.tsx
Due: frontend-lint, frontend-i18n

Adding ProjectCard component to storybook
  frontend/containers/project-card/component.stories.tsx
Due: frontend-lint, frontend-i18n

Fixing ProjectCard instrument color
  frontend/containers/project-card/component.tsx
Due: frontend-lint, frontend-i18n

Do not display Projects Carousel in the Project developer page, if it has none
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Split Carousel's sub-components into their own files
  frontend/components/carousel/aria-live/component.tsx
  frontend/components/carousel/aria-live/index.ts
  frontend/components/carousel/aria-live/types.ts
  frontend/components/carousel/arrows/component.tsx
  frontend/components/carousel/arrows/index.ts
  frontend/components/carousel/arrows/types.ts
  frontend/components/carousel/component.tsx
  frontend/components/carousel/index.ts
  frontend/components/carousel/paging/component.tsx
  frontend/components/carousel/paging/index.ts
  frontend/components/carousel/paging/types.ts
  frontend/components/carousel/slide/component.tsx
  frontend/components/carousel/slide/index.ts
  frontend/components/carousel/slide/types.ts
  frontend/components/carousel/types.ts
Due: frontend-lint, frontend-i18n

Add curl and bash to FE Docker image
  frontend/Dockerfile
Due: none

Use chevrons from react-feather as Carousel arrows
  frontend/components/carousel/arrows/component.tsx
Due: frontend-lint, frontend-i18n

Add aria-current to Carousel paging buttons
  frontend/components/carousel/paging/component.tsx
Due: frontend-lint, frontend-i18n

Project Developer page head following the same pattern as investor one
  frontend/containers/profile-header/component.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Fix typo in ProjectCard component
  frontend/containers/project-card/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Add missing translationt to ProjectCard
  frontend/containers/project-card/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

Minor Carousel component cleanup
  frontend/components/carousel/component.tsx
Due: frontend-lint, frontend-i18n

add code for unconfirmed error, add missing docs, fix specs
  backend/app/controllers/api/v1/sessions_controller.rb
  backend/config/initializers/devise.rb
  backend/config/routes.rb
  backend/spec/models/user_spec.rb
  backend/spec/requests/api/v1/session_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/spec/support/request_helpers.rb
  backend/spec/support/shared_examples/api/with_not_authorized_error.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: project developer form * Add page and inputs * Create types
  frontend/pages/setup/project-developer.tsx
  frontend/tailwind.config.js
  frontend/types/projectDeveloperSetup.ts
Due: frontend-lint, frontend-i18n

add devise i18n
  backend/Gemfile
  backend/Gemfile.lock
Due: none

Allow node 14 on the FE; rename GH action
  .github/workflows/frontend-staging-deployment.yml
  frontend/package.json
Due: none

Frontend Dockerfile - first iteration
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/entrypoint.sh
  frontend/package.json
Due: none

Carousel to display arrows on small screens
  frontend/components/carousel/component.tsx
Due: frontend-lint, frontend-i18n

add csrf as a security scheme, add request interceptor for swagger ui to pass header automatically from cookie
  backend/app/views/rswag/ui/home/index.html.erb
  backend/spec/requests/api/v1/session_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/spec/support/shared_examples/api/with_not_authorized_error.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

small refactor after review, no need for csrf controller, other changes
  backend/app/controllers/api/v1/csrf_controller.rb
  backend/app/controllers/api/v1/sessions_controller.rb
  backend/app/models/user.rb
  backend/config/locales/zu.yml
  backend/config/routes.rb
  backend/spec/requests/api/v1/session_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/spec/support/request_helpers.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: project developer form Add form validation errors
  frontend/pages/setup/project-developer.tsx
Due: frontend-lint, frontend-i18n

add confirmations controller
  backend/app/controllers/api/v1/email_confirmations_controller.rb
  backend/config/routes.rb
  backend/spec/fixtures/snapshots/api/v1/email-confirmation.json
  backend/spec/requests/api/v1/email_confirmation_spec.rb
Due: backend-lint

Implement the layout of the project developer public page (#32)
  frontend/components/carousel/aria-live/component.tsx
  frontend/components/carousel/aria-live/index.ts
  frontend/components/carousel/aria-live/types.ts
  frontend/components/carousel/arrows/component.tsx
  frontend/components/carousel/arrows/index.ts
  frontend/components/carousel/arrows/types.ts
  frontend/components/carousel/component.stories.tsx
  frontend/components/carousel/component.tsx
  frontend/components/carousel/index.ts
  frontend/components/carousel/paging/component.tsx
  frontend/components/carousel/paging/index.ts
  frontend/components/carousel/paging/types.ts
  frontend/components/carousel/slide/component.tsx
  frontend/components/carousel/slide/index.ts
  frontend/components/carousel/slide/types.ts
  frontend/components/carousel/types.ts
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-card/component.stories.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-card/index.ts
  frontend/containers/project-card/types.ts
  frontend/hooks/pointer-events.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project-developer/[id]/index.tsx
  frontend/public/images/temp-placeholders/impact-shape.png
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

config changes
  backend/config/initializers/devise.rb
Due: backend-lint

moar specs for email confirmations, generate api docs
  backend/spec/rails_helper.rb
  backend/spec/requests/api/v1/email_confirmation_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
