Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Update project mock with new geometries and impact scores
  frontend/mockups/project.json
Due: none

Add impact text & chart to Project search list, Project details card, and Project public page
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Move ImpactChart to /containers. It's a very project specific component
  frontend/containers/impact-chart/component.stories.tsx
  frontend/containers/impact-chart/component.tsx
  frontend/containers/impact-chart/index.ts
  frontend/containers/impact-chart/types.ts
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update project mockup with more realistic values
  frontend/mockups/project.json
Due: none

Fix ImpactChart tooltip showing on compact mode
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add ImpactScore by impact area to the project public page
  frontend/containers/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Searching at Backoffice
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/models/concerns/searchable.rb
  backend/app/services/api/filterer.rb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/backoffice/shared/_full_text_filter.html.erb
  backend/config/locales/zu.yml
  backend/spec/support/shared_examples/models/searchable.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

feat: edit PD account create project-developer/edit page refactor PD form
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/project-developer-form-pages/index.ts
  frontend/containers/project-developer-form-pages/pages/about.tsx
  frontend/containers/project-developer-form-pages/pages/profile.tsx
  frontend/containers/project-developer-form-pages/types.tsx
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project-developers/new.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/services/account/index.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n, frontend-types

add edit form for project developer - basic
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/validators/array_inclusion_validator.rb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/backoffice/shared/_account_fields.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
Due: backend-lint

small upgrade to form styles, add missing locales
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/config/locales/zu.yml
Due: none

add breadcrumbs, small refactor move shared to base
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/concerns/backoffice/breadcrumbs.rb
  backend/app/models/backoffice/breadcrumb.rb
  backend/app/views/backoffice/base/_account_fields.html.erb
  backend/app/views/backoffice/base/_breadcrumbs.html.erb
  backend/app/views/backoffice/base/_navigation.html.erb
  backend/app/views/backoffice/base/_pagination.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/layouts/backoffice.html.erb
Due: backend-lint

use tailwind rails, styles for horizontal multi checkbox list
  backend/Gemfile
  backend/Gemfile.lock
  backend/Procfile.dev
  backend/app/assets/images/checkbox-checked.svg
  backend/app/views/layouts/application.html.erb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/tailwind.config.js
  backend/package.json
  backend/spec/system_helper.rb
  backend/yarn.lock
Due: backend-lint

Add Naked layout
  frontend/layouts/naked/component.stories.tsx
  frontend/layouts/naked/component.tsx
  frontend/layouts/naked/index.ts
  frontend/layouts/naked/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add Dashboard layout
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/account-info/component.tsx
  frontend/layouts/dashboard/account-info/index.ts
  frontend/layouts/dashboard/account-info/types.ts
  frontend/layouts/dashboard/account-picture/component.tsx
  frontend/layouts/dashboard/account-picture/index.ts
  frontend/layouts/dashboard/account-picture/types.ts
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/dashboard/header/component.tsx
  frontend/layouts/dashboard/header/index.ts
  frontend/layouts/dashboard/header/types.ts
  frontend/layouts/dashboard/navigation/component.tsx
  frontend/layouts/dashboard/navigation/index.ts
  frontend/layouts/dashboard/navigation/types.ts
  frontend/layouts/dashboard/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add new Dashboard pages paths to enums
  frontend/enums/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add Dashboard placeholder pages w/permissions & redirects set
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/dashboard/favorites.tsx
  frontend/pages/dashboard/index.tsx
  frontend/pages/dashboard/open-call-applications.tsx
  frontend/pages/dashboard/open-calls.tsx
  frontend/pages/dashboard/projects.tsx
  frontend/pages/dashboard/users.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add useProjectDeveloper and useInvestor hooks to account service
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix ProjectCard component occasionally crashing due a lack of categories
  frontend/containers/project-card/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add basic header responsiveness to Dashboard layout
  frontend/layouts/dashboard/account-info/component.tsx
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/dashboard/header/component.tsx
  frontend/layouts/dashboard/navigation/component.tsx
  frontend/layouts/dashboard/navigation/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add Dashboard layout Storybook story
  frontend/enums/index.ts
  frontend/layouts/dashboard/component.stories.tsx
  frontend/layouts/dashboard/component.tsx
  frontend/mockups/api/v1/account/investor.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/api/v1/user/investor.json
  frontend/mockups/api/v1/user/project_developer.json
  frontend/package.json
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Fix minor Dashboard layout color issues
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove unnecessary useBreakpoint hook from Dashboard layout
  frontend/layouts/dashboard/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Improve Dashboard layout navigation accessibility
  frontend/layouts/dashboard/account-info/component.tsx
  frontend/layouts/dashboard/navigation/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix build on CI
  backend/Gemfile
  backend/Gemfile.lock
Due: none

add basic table component to storybook
  frontend/components/table/component.stories.tsx
  frontend/components/table/component.tsx
  frontend/components/table/index.ts
  frontend/components/table/types.d.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/svgs/ui/sort.svg
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

add pagination component to table
  frontend/components/table/component.stories.tsx
  frontend/components/table/component.tsx
  frontend/components/table/pagination/component.tsx
  frontend/components/table/pagination/index.ts
  frontend/components/table/pagination/types.d.ts
  frontend/components/table/types.d.ts
  frontend/package.json
  frontend/svgs/ui/arrow-right-2.svg
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

unneed commit
  frontend/components/table/pagination/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

table component: fixed pgination
  frontend/components/table/component.stories.tsx
  frontend/components/table/pagination/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

dashboard table: add user cell
  frontend/containers/dashboard/table/cells/user/component.tsx
  frontend/containers/dashboard/table/cells/user/index.ts
  frontend/containers/dashboard/table/cells/user/types.ts
  frontend/containers/dashboard/table/component.tsx
  frontend/containers/dashboard/table/index.ts
  frontend/containers/dashboard/table/types.ts
  frontend/pages/dashboard/index.tsx
  frontend/public/images/mock/dorothy-campbell.png
Due: frontend-lint, frontend-i18n, frontend-types

dashboard table: invitation cell
  frontend/containers/dashboard/table/cells/invitation/component.tsx
  frontend/containers/dashboard/table/cells/invitation/index.ts
  frontend/containers/dashboard/table/cells/invitation/types.ts
  frontend/containers/dashboard/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Filtering by status at Backoffice
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/services/api/filterer.rb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/app/views/backoffice/shared/_filters.html.erb
  backend/app/views/backoffice/shared/_full_text_filter.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

add form translations
  backend/app/views/layouts/application.html.erb
  backend/config/locales/zu.yml
  backend/spec/system_helper.rb
Due: backend-lint

more improvements to project developer form
  backend/app/views/backoffice/base/_account_fields.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/zu.yml
  backend/config/tailwind.config.js
Due: backend-lint

dashboard table: styles on invitation cell
  frontend/containers/dashboard/table/cells/invitation/component.tsx
  frontend/containers/dashboard/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

remove precomplied assets after system specs
  backend/spec/system_helper.rb
Due: backend-lint

dashboard table: add hideHeader attribute
  frontend/components/table/component.tsx
  frontend/containers/dashboard/table/cells/actions/component.tsx
  frontend/containers/dashboard/table/cells/actions/index.ts
  frontend/containers/dashboard/table/cells/actions/types.ts
  frontend/containers/dashboard/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

add missing enums like language and review status, add section for project developer edit
  backend/app/models/language.rb
  backend/app/models/review_status.rb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/project_developers/_section_language.html.erb
  backend/app/views/backoffice/project_developers/_section_profile.html.erb
  backend/app/views/backoffice/project_developers/_section_status.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/zu.yml
  backend/config/tailwind.config.js
Due: backend-lint

add section_link_to helper
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/project_developers/edit.html.erb
Due: backend-lint

add flash messages, redirect to the same edit page after save
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/base/_flash_messages.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/tailwind.config.js
Due: backend-lint

whitelist section names
  backend/app/views/backoffice/project_developers/edit.html.erb
Due: none

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
