Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Display validation errors when approving account failed
  backend/app/controllers/backoffice/accounts_controller.rb
  backend/app/views/backoffice/accounts/_status_form.html.erb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

Skip most validations when rejecting account
  backend/app/models/account.rb
  backend/spec/models/account_spec.rb
Due: backend-lint

Env vars for BE & FE basic http auth
  backend/.env.sample
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/variables.tf
Due: none

Improve HTTP basic auth env handling on TF; Document HTTP Basic auth env vars for the FE App
  frontend/README.md
  infrastructure/base/modules/env/main.tf
  infrastructure/base/variables.tf
Due: none

Remove unnecessary margin
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update project developer page to mobile version (#654)
  frontend/components/carousel/component.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add creation/edition date to project page and more
  frontend/containers/project-details/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/lang/transifex/zu.json
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add creation/edition date to open call page & more
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/types/open-calls.ts
Due: frontend-lint, frontend-i18n, frontend-types

LET-1259 - Add creation/edition date to some forms
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/containers/multi-page-layout/header/types.ts
  frontend/containers/multi-page-layout/types.ts
  frontend/containers/open-call-form/component.tsx
  frontend/containers/project-form/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Update README.md
  backend/README.md
Due: none

Delete hero.jpg
  docs/assets/hero.jpg
Due: none

Add files via upload
  docs/hero.jpg
Due: none

Move the hero picture to assets
  docs/assets/hero.jpg
Due: none

Update frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/components/badge-navigation/component.tsx
  frontend/components/badge-navigation/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

change bg size
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix bg heigth
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Adjust style detais
  frontend/containers/profile-card/component.tsx
  frontend/pages/discover/investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix issues with the filters button's padding
  frontend/containers/layouts/discover-search/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change style of discover pages on mobile version (#657)
  frontend/components/badge-navigation/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/package.json
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/public/images/discover-hero.png
  frontend/tailwind.config.js
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Fix build warnings and errors
  frontend/components/confirmation-prompt/types.d.ts
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/project-form/pages/funding.tsx
  frontend/containers/share-icons/component.tsx
  frontend/pages/_app.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add a Basic HTTP Authentication middleware
  frontend/middleware.ts
  frontend/package.json
  frontend/pages/api/basic-auth.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Document the environment variables
  frontend/.env.sample
  frontend/README.md
Due: none

Update the Docker files
  frontend/Dockerfile
  frontend/docker-compose-test.yml
Due: none

Update style
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Limit the maximum size of the impact chart
  frontend/containers/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update project public page mobile layout (#653)
  frontend/containers/impact-chart/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Rename imported icon
  frontend/containers/layouts/discover-search/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Remove unused code
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix layout issue on mobile
  frontend/containers/search-auto-suggestion/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update discover mobile layout (#671)
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/lang/transifex/zu.json
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n, frontend-types

change chart
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Adapt chart style
  frontend/components/forms/field-info/component.tsx
  frontend/containers/impact-chart/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/helpers/impact-chart.ts
Due: frontend-lint, frontend-i18n, frontend-types

Adjust chart bg
  frontend/containers/impact-chart/component.tsx
  frontend/helpers/impact-chart.ts
Due: frontend-lint, frontend-i18n, frontend-types

Change variable name
  frontend/helpers/impact-chart.ts
Due: frontend-lint, frontend-i18n, frontend-types

Change impact help image
  frontend/containers/modals/impact/component.tsx
  frontend/public/images/about/about-impact-chart.png
  frontend/public/images/about/about-impact-chart.svg
Due: frontend-lint, frontend-i18n, frontend-types

Add missing background colour in compact mode
  frontend/containers/impact-chart/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
