Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: yarn i18n:extract && git add lang/transifex/*

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

add translations
  frontend/lang/transifex/zu.json
Due: none

Update frontend/components/carousel/component.tsx
  frontend/components/carousel/component.tsx
Due: frontend-lint, frontend-i18n

Update frontend/components/carousel/types.ts
  frontend/components/carousel/types.ts
Due: frontend-lint, frontend-i18n

fix translation error
  frontend/lang/transifex/zu.json
Due: none

feat: Services for importing data from geojsons
  .github/workflows/backend-tests.yml
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/models/location.rb
  backend/app/models/location_type.rb
  backend/app/services/importers/geo_jsons/base.rb
  backend/app/services/importers/geo_jsons/basins.rb
  backend/app/services/importers/geo_jsons/countries.rb
  backend/app/services/importers/geo_jsons/mosaics.rb
  backend/app/services/importers/geo_jsons/municipalities.rb
  backend/config/database.yml
  backend/config/locales/zu.yml
  backend/db/migrate/20220516085522_add_geometry_to_locations.rb
  backend/db/schema.rb
  backend/db/seeds/files/colombia_departments.csv
  backend/db/seeds/files/colombia_municipalities.csv
  backend/db/seeds/files/colombia_regions.csv
  backend/docker-compose-test.yml
  backend/docker-compose.yml
  backend/lib/tasks/import_geojsons.rake
  backend/spec/fixtures/files/dummy_basins.geojson
  backend/spec/fixtures/files/dummy_colombia.geojson
  backend/spec/fixtures/files/dummy_mosaics.geojson
  backend/spec/fixtures/files/dummy_municipalities.geojson
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/services/importers/geo_jsons/basins_spec.rb
  backend/spec/services/importers/geo_jsons/countries_spec.rb
  backend/spec/services/importers/geo_jsons/mosaics_spec.rb
  backend/spec/services/importers/geo_jsons/municipalities_spec.rb
Due: backend-lint

make rake task more talkative :)
  backend/lib/tasks/import_geojsons.rake
Due: none

refactoring: use more upsert_all for better performance
  backend/app/services/importers/geo_jsons/base.rb
  backend/app/services/importers/geo_jsons/basins.rb
  backend/app/services/importers/geo_jsons/countries.rb
  backend/app/services/importers/geo_jsons/mosaics.rb
  backend/app/services/importers/geo_jsons/municipalities.rb
Due: backend-lint

delete all records missing at geojsons
  backend/app/services/importers/geo_jsons/base.rb
  backend/app/services/importers/geo_jsons/basins.rb
  backend/app/services/importers/geo_jsons/countries.rb
  backend/app/services/importers/geo_jsons/mosaics.rb
  backend/app/services/importers/geo_jsons/municipalities.rb
  backend/lib/tasks/import_geojsons.rake
Due: backend-lint

refactoring: Move location geometry to special table
  backend/.gitignore
  backend/app/models/location.rb
  backend/app/models/location_geometry.rb
  backend/app/services/importers/geo_jsons/base.rb
  backend/app/services/importers/geo_jsons/basins.rb
  backend/app/services/importers/geo_jsons/countries.rb
  backend/app/services/importers/geo_jsons/mosaics.rb
  backend/app/services/importers/geo_jsons/municipalities.rb
  backend/db/migrate/20220516085522_add_impact_demands_to_locations.rb
  backend/db/migrate/20220519095658_create_location_geometries.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/lib/tasks/import_geojsons.rake
  backend/spec/factories/location_geometries.rb
  backend/spec/models/location_geometry_spec.rb
  backend/spec/services/importers/geo_jsons/basins_spec.rb
  backend/spec/services/importers/geo_jsons/countries_spec.rb
  backend/spec/services/importers/geo_jsons/mosaics_spec.rb
  backend/spec/services/importers/geo_jsons/municipalities_spec.rb
Due: backend-lint

refactoring: Dropping location_members table and removing not needed csv locations data
  backend/app/controllers/api/v1/locations_controller.rb
  backend/app/models/location.rb
  backend/app/models/location_member.rb
  backend/app/serializers/api/v1/location_serializer.rb
  backend/app/services/importers/locations.rb
  backend/db/migrate/20220519124635_drop_location_members.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/db/seeds/files/.keep
  backend/db/seeds/files/colombia_departments.csv
  backend/db/seeds/files/colombia_municipalities.csv
  backend/db/seeds/files/colombia_regions.csv
  backend/spec/factories/location.rb
  backend/spec/factories/location_member.rb
  backend/spec/fixtures/snapshots/api/v1/get-location.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-location-type.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-parent-id.json
  backend/spec/fixtures/snapshots/api/v1/locations-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/locations-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/locations.json
  backend/spec/models/location_member_spec.rb
  backend/spec/services/importers/locations_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Let 419 fe investor creation form (#200)
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/investor-form-pages/index.ts
  frontend/containers/investor-form-pages/pages/impacts.tsx
  frontend/containers/investor-form-pages/pages/investment.tsx
  frontend/containers/investor-form-pages/pages/other-information.tsx
  frontend/containers/investor-form-pages/pages/priority.tsx
  frontend/containers/investor-form-pages/pages/profile.tsx
  frontend/containers/investor-form-pages/pages/select-language.tsx
  frontend/containers/investor-form-pages/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investors/new.tsx
  frontend/pages/investors/pending.tsx
  frontend/pages/project-developers/new.tsx
  frontend/schemas/investor.ts
  frontend/services/account/index.ts
  frontend/types/index.ts
  frontend/types/investor.ts
  frontend/types/projectDeveloper.ts
  frontend/validations/investor.ts
Due: frontend-lint, frontend-i18n

fix review issues
  frontend/components/carousel/slide/component.tsx
  frontend/components/modal/component.tsx
  frontend/containers/image-gallery/component.tsx
  frontend/containers/project-header/component.tsx
Due: frontend-lint, frontend-i18n

Fe allow users to search investors search page
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/pages/discover/investors.tsx
  frontend/services/investors/investorsService.ts
Due: frontend-lint, frontend-i18n

We need category in this endpoint for colour coding
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
Due: backend-lint

fix: enabling full_text param for Investor API endpoint
  backend/app/controllers/api/v1/investors_controller.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

project page: basic overview component
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/component.tsx
  frontend/layouts/project-page/index.ts
  frontend/layouts/project-page/overview/component.tsx
  frontend/layouts/project-page/overview/index.ts
  frontend/layouts/project-page/overview/types.ts
  frontend/layouts/project-page/types.ts
  frontend/pages/project/[id]/index.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

project page: basic overview component
  frontend/layouts/project-page/overview/component.tsx
  frontend/mockups/project.json
Due: frontend-lint, frontend-i18n

feat: Service for Impact calculation
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/jobs/impact_calculation_job.rb
  backend/app/models/impact_area.rb
  backend/app/models/location_geometry.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/app/validators/project_geometry_validator.rb
  backend/config/locales/zu.yml
  backend/db/migrate/20220518072022_add_center_to_projects.rb
  backend/db/migrate/20220518133729_add_impacts_to_projects.rb
  backend/spec/factories/location.rb
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/jobs/impact_calculation_job_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/services/impacts/calculate_for_project_spec.rb
  backend/spec/services/importers/geo_jsons/basins_spec.rb
  backend/spec/services/importers/geo_jsons/countries_spec.rb
  backend/spec/services/importers/geo_jsons/mosaics_spec.rb
  backend/spec/services/importers/geo_jsons/municipalities_spec.rb
  backend/spec/swagger_helper.rb
Due: backend-lint

feat: Project API serializer contains computed impacts
  backend/spec/swagger_helper.rb
Due: backend-lint

feat: Support sorting projects by impact values
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/jobs/impact_calculation_job.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/services/api/sorter.rb
  backend/app/services/geo_jsons/to_centroid.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/app/validators/project_geometry_validator.rb
  backend/db/migrate/20220518072022_add_centroid_to_projects.rb
  backend/db/migrate/20220518133729_add_impacts_to_projects.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/sorter_spec.rb
  backend/spec/services/geo_jsons/to_centroid_spec.rb
  backend/spec/services/impacts/calculate_for_project_spec.rb
  backend/spec/services/importers/geo_jsons/basins_spec.rb
  backend/spec/services/importers/geo_jsons/countries_spec.rb
  backend/spec/services/importers/geo_jsons/mosaics_spec.rb
  backend/spec/services/importers/geo_jsons/municipalities_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Create the project legend
  frontend/components/map/project-legend/component.tsx
  frontend/components/map/project-legend/index.ts
  frontend/components/map/project-legend/types.ts
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/lang/transifex/zu.json
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

project page: basic map
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/layouts/auth-page/header/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/project-page/overview/component.tsx
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

Display the legend on the Discover page
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/index.ts
  frontend/containers/discover-map/types.ts
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n

Fix project details card linking to project by id instead of slug
  frontend/containers/project-details/favorite-contact/component.tsx
Due: frontend-lint, frontend-i18n

ContactModal can now take an array of contacts + can display contact pictures
  frontend/containers/social-contact/contact-information-modal/component.stories.tsx
  frontend/containers/social-contact/contact-information-modal/component.tsx
  frontend/containers/social-contact/contact-information-modal/contact-item/component.tsx
  frontend/containers/social-contact/contact-information-modal/contact-item/index.ts
  frontend/containers/social-contact/contact-information-modal/contact-item/types.ts
  frontend/containers/social-contact/contact-information-modal/index.ts
  frontend/containers/social-contact/contact-information-modal/types.ts
Due: frontend-lint, frontend-i18n

Update existing components/stories to work with the refactored ContactDetailsModal
  frontend/containers/profile-header/component.stories.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/project-header/component.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n

Add ContactInformationModal to ProjectDetails card
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

create admin model
  backend/app/models/admin.rb
  backend/config/routes/backoffice.rb
  backend/db/migrate/20220524115625_devise_create_admins.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/admin.rb
  backend/spec/models/admin_spec.rb
Due: backend-lint

Update ContactInformationModal storybook story
  frontend/containers/social-contact/contact-information-modal/component.stories.tsx
Due: frontend-lint, frontend-i18n

fix seeds, add ui_language to admin model
  backend/app/models/admin.rb
  backend/db/migrate/20220524115625_devise_create_admins.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/admin.rb
Due: backend-lint

project page: add funding basic structure
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/funding/index.ts
  frontend/layouts/project-page/funding/types.ts
  frontend/pages/project/[id]/index.tsx
  frontend/svgs/project/funding/checklist-pen.svg
  frontend/svgs/project/funding/ecology-plant-hand.svg
  frontend/svgs/project/funding/envelope.svg
  frontend/svgs/project/funding/information-circle.svg
  frontend/svgs/project/funding/monetization-approve.svg
  frontend/svgs/project/funding/paper-write.svg
  frontend/svgs/project/funding/performance-presentation-graph.svg
  frontend/svgs/project/funding/phone-circle.svg
  frontend/svgs/project/funding/stopwatch.svg
  frontend/svgs/project/funding/target-correct.svg
  frontend/svgs/project/funding/team-meeting.svg
Due: frontend-lint, frontend-i18n

add simple backoffice dashboards controller, generate devise views for admin model
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/backoffice/dashboards_controller.rb
  backend/app/views/admins/mailer/email_changed.html.erb
  backend/app/views/admins/mailer/password_change.html.erb
  backend/app/views/admins/mailer/reset_password_instructions.html.erb
  backend/app/views/admins/passwords/edit.html.erb
  backend/app/views/admins/passwords/new.html.erb
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/admins/shared/_error_messages.html.erb
  backend/app/views/admins/shared/_links.html.erb
  backend/app/views/backoffice/dashboards/show.html.erb
  backend/config/routes/backoffice.rb
Due: backend-lint

add simple form, simple form tailwind, start tailwind configure
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/layouts/application.html.erb
  backend/app/views/layouts/devise.html.erb
  backend/config/initializers/simple_form.rb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/simple_form.en.yml
  backend/lib/templates/erb/scaffold/_form.html.erb
  backend/tailwind.config.js
  backend/yarn.lock
Due: backend-lint

quick input config
  backend/config/initializers/simple_form_tailwind.rb
Due: backend-lint

add tags and fix small devices layout
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/containers/filter-tags/component.tsx
  frontend/containers/filter-tags/index.ts
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/helpers/pages.ts
  frontend/layouts/discover-page/component.tsx
  frontend/package.json
  frontend/services/enums/enumService.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

project page: separate sections on layout components
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/developers/component.tsx
  frontend/layouts/project-page/developers/index.ts
  frontend/layouts/project-page/developers/types.ts
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/impact/component.tsx
  frontend/layouts/project-page/impact/index.ts
  frontend/layouts/project-page/impact/types.ts
  frontend/layouts/project-page/overview/component.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n

add image alt
  frontend/containers/image-gallery/component.tsx
Due: frontend-lint, frontend-i18n

Change investor type id form investor type name on header
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n

more changes to backoffice styles
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/views/admins/passwords/edit.html.erb
  backend/app/views/admins/passwords/new.html.erb
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/admins/shared/_error_messages.html.erb
  backend/app/views/admins/shared/_links.html.erb
  backend/app/views/layouts/application.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/app/views/layouts/devise.html.erb
  backend/config/initializers/simple_form_tailwind.rb
Due: backend-lint

precompile assets in docker file
  backend/Dockerfile
Due: none

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
