Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

fix: adding imagemagick to dockerfile
  backend/Dockerfile
Due: none

configure letter opener web for now, waiting for sendgrid
  backend/Gemfile
  backend/config/application.rb
  backend/config/environments/production.rb
  backend/config/routes.rb
Due: backend-lint

Add AccountTypeSelector component + Storybook story
  frontend/containers/account-type-selector/account-type-item/component.tsx
  frontend/containers/account-type-selector/account-type-item/index.ts
  frontend/containers/account-type-selector/account-type-item/types.ts
  frontend/containers/account-type-selector/component.stories.tsx
  frontend/containers/account-type-selector/component.tsx
  frontend/containers/account-type-selector/index.ts
  frontend/containers/account-type-selector/types.ts
  frontend/lang/transifex/zu.json
  frontend/public/images/account-types/investor.svg
  frontend/public/images/account-types/project-developer.svg
  frontend/types/index.ts
Due: frontend-lint, frontend-i18n

Add account type selection page
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
  frontend/pages/sign-up/account-type.tsx
Due: frontend-lint, frontend-i18n

pull onlytranslated as not translated string are returned as empty strings and seems like that breaks i18n n rails
  backend/Dockerfile
Due: none

feat: Adding /backend url to Swagger doc
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

fix fallbacks are those are configured in application.rb
  backend/config/environments/production.rb
Due: backend-lint

feat: project developer form fix build error
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
  frontend/pages/project-developer/new.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/validations/nitValidation.ts
Due: frontend-lint, frontend-i18n

tx pull on rails app startup
  backend/Dockerfile
  backend/docker-compose-test.yml
  backend/entrypoint.sh
  infrastructure/base/modules/env/main.tf
Due: none

feat: project developer form remove require from last form page inputs
  frontend/pages/project-developer/new.tsx
Due: frontend-lint, frontend-i18n

WIP - connect auth
  frontend/.env.sample
  frontend/hoc/auth.ts
  frontend/hooks/auth/index.ts
  frontend/hooks/me/index.ts
  frontend/hooks/me/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/protected-page/index.ts
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/auth/[...nextauth].ts
  frontend/pages/protected.tsx
  frontend/pages/sign-in.tsx
  frontend/services/authentication/authService.ts
  frontend/services/authentication/index.ts
  frontend/services/users/index.ts
  frontend/types/sign-in.ts
  frontend/validations/sign-in.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

AccountTypeSelector improvements
  frontend/containers/account-type-selector/account-type-item/component.tsx
  frontend/containers/account-type-selector/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n

simplify flow - log in after account creation and confirm as well
  backend/app/controllers/api/v1/users_controller.rb
  backend/spec/fixtures/snapshots/api/v1/get-direct-upload.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/requests/api/v1/user_spec.rb
Due: backend-lint

Add layout for authentication pages
  frontend/lang/transifex/zu.json
  frontend/layouts/auth-page/aside/component.tsx
  frontend/layouts/auth-page/aside/index.ts
  frontend/layouts/auth-page/aside/types.ts
  frontend/layouts/auth-page/component.tsx
  frontend/layouts/auth-page/header/component.tsx
  frontend/layouts/auth-page/header/index.ts
  frontend/layouts/auth-page/header/types.ts
  frontend/layouts/auth-page/index.ts
  frontend/layouts/auth-page/types.ts
  frontend/public/images/auth/side-01.jpg
  frontend/public/images/auth/side-02.jpg
Due: frontend-lint, frontend-i18n

Add AuthPageLayout to Storybook
  frontend/lang/transifex/zu.json
  frontend/layouts/auth-page/component.stories.tsx
Due: frontend-lint, frontend-i18n

Use Alert component to display Form error messages in the sign-up form
  frontend/components/alert/types.ts
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

Add forms/field-error component to standardize form field error display
  frontend/components/forms/field-error/component.stories.tsx
  frontend/components/forms/field-error/component.tsx
  frontend/components/forms/field-error/index.ts
  frontend/components/forms/field-error/types.ts
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

Fix/standardise some input error colors
  frontend/components/forms/checkbox/component.stories.tsx
  frontend/components/forms/checkbox/component.tsx
  frontend/components/forms/input/component.stories.tsx
  frontend/components/forms/input/component.tsx
  frontend/components/forms/radio/constants.ts
  frontend/components/forms/select/component.stories.tsx
  frontend/components/forms/select/component.tsx
  frontend/components/forms/slider/thumb/component.tsx
  frontend/components/forms/textarea/component.stories.tsx
  frontend/components/forms/textarea/component.tsx
  frontend/containers/multi-page-layout/footer/paging/component.tsx
Due: frontend-lint, frontend-i18n

Add Alert component Storybook story
  frontend/components/alert/component.stories.tsx
Due: frontend-lint, frontend-i18n

Add AuthPage layout to SignUp page
  frontend/pages/sign-up.tsx
Due: frontend-lint, frontend-i18n

Minor AuthPage layout sizing tweaks to better fit big displays
  frontend/layouts/auth-page/aside/component.tsx
Due: frontend-lint, frontend-i18n

Correct Colombia region intersections from shapefiles
  backend/app/services/importers/locations.rb
  backend/db/migrate/20220331104516_add_code_to_locations.rb
  backend/db/schema.rb
  backend/db/seeds/files/colombia_departments.csv
  backend/db/seeds/files/colombia_municipalities.csv
  backend/db/seeds/files/colombia_regions.csv
  backend/spec/fixtures/files/dummy_colombia_departments.csv
  backend/spec/fixtures/files/dummy_colombia_municipalities.csv
Due: backend-lint

Update frontend/components/forms/errorMessage/component.tsx
  frontend/components/forms/errorMessage/component.tsx
Due: frontend-lint, frontend-i18n

feat: project developer form detach project developer Outro page from form page detach social medias inputs from form page
  frontend/.env.sample
  frontend/components/forms/error-message/component.tsx
  frontend/components/forms/error-message/index.tsx
  frontend/components/forms/error-message/types.ts
  frontend/components/forms/social-media-inputs/component.tsx
  frontend/helpers/projectDevelopersConstants.ts
  frontend/pages/project-developer/new.tsx
  frontend/pages/project-developer/pending.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/services/projectDeveloper/index.ts
  frontend/tailwind.config.js
  frontend/types/projectDeveloper.ts
  frontend/validations/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

SMTP config
  backend/.env.sample
  backend/ENV_VARS.md
  backend/app/mailers/application_mailer.rb
  backend/config/environments/development.rb
  backend/config/environments/production.rb
  backend/config/initializers/devise.rb
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
Due: backend-lint

change autho
  frontend/.env.sample
  frontend/hoc/auth.ts
  frontend/hooks/me/index.ts
  frontend/next.config.js
  frontend/pages/_app.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/authentication/authService.ts
  frontend/services/authentication/index.ts
  frontend/services/users/index.ts
  frontend/services/users/userService.ts
  frontend/types/signin.ts
  frontend/types/signup.ts
  frontend/validations/signup.ts
Due: frontend-lint, frontend-i18n

feat: connect sign up add go to project develop to sign up flow
  frontend/pages/sign-up/account-type.tsx
  frontend/pages/sign-up/index.tsx
Due: frontend-lint, frontend-i18n

feat: Adding initial implementation of 2FA via Email
  backend/.env.sample
  backend/ENV_VARS.md
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/sessions_controller.rb
  backend/app/mailers/user_mailer.rb
  backend/app/models/user.rb
  backend/app/views/user_mailer/send_otp_code.html.erb
  backend/config/application.rb
  backend/config/initializers/filter_parameter_logging.rb
  backend/config/locales/zu.yml
  backend/config/routes.rb
  backend/db/migrate/20220401094237_add2_fa_to_users.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/session.json
  backend/spec/mailers/previews/user_mailer_preview.rb
  backend/spec/mailers/user_mailer_spec.rb
  backend/spec/requests/api/v1/session_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: project developer form review fixes
  frontend/.gitignore
  frontend/components/forms/error-message/component.stories.tsx
  frontend/components/forms/error-message/component.tsx
  frontend/components/forms/error-message/types.ts
  frontend/components/forms/input/component.tsx
  frontend/components/forms/social-media-inputs/component.tsx
  frontend/components/forms/textarea/component.tsx
  frontend/containers/developer-about/component.tsx
  frontend/containers/developer-about/types.ts
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/social-contact/constants.ts
  frontend/containers/social-contact/inputs-social-contact/component.stories.tsx
  frontend/containers/social-contact/inputs-social-contact/component.tsx
  frontend/containers/social-contact/inputs-social-contact/index.tsx
  frontend/containers/social-contact/inputs-social-contact/types.ts
  frontend/containers/social-contact/website-social-contact/component.stories.tsx
  frontend/containers/social-contact/website-social-contact/component.tsx
  frontend/containers/social-contact/website-social-contact/index.ts
  frontend/containers/social-contact/website-social-contact/types.ts
  frontend/containers/website-social-contact/index.ts
  frontend/lang/compiled/zu.json
  frontend/package.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developer/new.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/api.ts
  frontend/types/projectDeveloper.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

SQL access through tunnel
  infrastructure/README.md
  infrastructure/base/modules/bastion/main.tf
  infrastructure/base/modules/bastion/variables.tf
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/network/main.tf
  infrastructure/base/modules/network/outputs.tf
Due: none

LET-249 - Mitigate cold starts on production CloudRun
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/variables.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
Due: none

LET-253 - Add CORS config to storage bucket
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/storage/main.tf
  infrastructure/base/modules/storage/variables.tf
Due: none

feat: project developer form
  frontend/containers/social-contact/website-social-contact/component.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/project-developers/pending.tsx
  frontend/public/images/pending-approval.png
  frontend/public/images/pending-approval.svg
Due: frontend-lint, frontend-i18n

Project developer types
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/models/project_developer_type.rb
  backend/config/locales/zu.yml
  backend/spec/factories/project_developer.rb
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
Due: backend-lint

feat connect sign-up form to API Change signin page to mockups Delete protected page
  frontend/lang/transifex/zu.json
  frontend/mockups/sign-in.tsx
  frontend/pages/protected.tsx
Due: frontend-lint, frontend-i18n

feat: sign-up form API connection Fix API error message strange path Change API service to have a main service (API) for all services uses
  frontend/.gitignore
  frontend/README.md
  frontend/hoc/auth.ts
  frontend/hooks/me/index.ts
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
  frontend/layouts/protected-page/component.tsx
  frontend/layouts/protected-page/index.ts
  frontend/layouts/protected-page/types.ts
  frontend/pages/sign-up/index.tsx
  frontend/services/api.ts
  frontend/services/authentication/authService.ts
  frontend/services/users/index.ts
  frontend/services/users/userService.ts
Due: frontend-lint, frontend-i18n

Update frontend/pages/project-developers/pending.tsx
  frontend/pages/project-developers/pending.tsx
Due: frontend-lint, frontend-i18n

feat: project developer form Review issues
  frontend/components/forms/error-message/component.tsx
  frontend/components/forms/field-error/component.stories.tsx
  frontend/components/forms/field-error/component.tsx
  frontend/components/forms/field-error/index.ts
  frontend/components/forms/field-error/types.ts
  frontend/components/forms/field-info/component.stories.tsx
  frontend/components/forms/field-info/component.tsx
  frontend/components/forms/field-info/index.tsx
  frontend/components/forms/field-info/types.ts
  frontend/components/forms/fieldInfo/index.tsx
  frontend/containers/social-contact/inputs-social-contact/component.stories.tsx
  frontend/containers/social-contact/inputs-social-contact/component.tsx
  frontend/helpers/projectDevelopersConstants.ts
  frontend/pages/project-developers/new.tsx
  frontend/pages/project-developers/pending.tsx
  frontend/pages/sign-up/index.tsx
  frontend/schemas/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Update frontend/mockups/impacts.json
  frontend/mockups/impacts.json
Due: none
