Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn check-types

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}

feat: Notify user on user deletion via backoffice
  backend/app/controllers/backoffice/users_controller.rb
  backend/spec/system/backoffice/users_spec.rb
Due: backend-lint

Revert "Bump sharp from 0.30.1 to 0.30.5 in /frontend (#237)"
  frontend/package.json
  frontend/yarn.lock
Due: none

Revert "Bump sharp from 0.30.1 to 0.30.5 in /frontend" (#389)
  frontend/package.json
  frontend/yarn.lock
Due: none

Use Button component for the collapsible map legend toggle
  frontend/components/map/project-legend/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Implement collapsible map legend as per designs (#379)
  frontend/components/map/project-legend/component.tsx
  frontend/containers/discover-map/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix frontend crashing when trying to access Dashboard/AccountInformation
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix bug preventing a project developer from being able to edit their projects
  frontend/containers/project-form/helpers.ts
  frontend/pages/project/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change API request interceptor
  frontend/services/api.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update beta version displayer banner text
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change enums from serverSideProps to page
  frontend/pages/project/[id]/edit.tsx
  frontend/services/api.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix frontend crashing when trying to access Dashboard/AccountInformation (#390)
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix bug preventing a project developer from being able to edit their projects (#391)
  frontend/containers/project-form/helpers.ts
  frontend/pages/project/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix typo
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix project ownership issue Fix locale config on API Moving get enums back to server props
  frontend/containers/project-form/helpers.ts
  frontend/layouts/protected-page/component.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/services/api.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add the Mapbox layers as vector layers
  frontend/containers/discover-map/component.tsx
  frontend/hooks/useLayers.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

refactoring: use salt for authentication
  backend/app/controllers/api/v1/sessions_controller.rb
  backend/app/models/user.rb
  backend/db/migrate/20220718082600_add_token_to_users.rb
  backend/db/schema.rb
  backend/spec/models/user_spec.rb
  backend/spec/requests/api/v1/session_spec.rb
Due: backend-lint

fix: session tests
  backend/spec/requests/api/v1/session_spec.rb
Due: backend-lint

fix: session tests II (use user instead of @user)
  backend/spec/requests/api/v1/session_spec.rb
Due: backend-lint

feat: API endpoint for Project deletion
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

review changes
  frontend/pages/invitation.tsx
  frontend/pages/sign-out.tsx
  frontend/services/authentication/authService.ts
  frontend/services/users/userService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Move the PendingApproval component to /containers to be reused by the Investor forms
  frontend/containers/pending-approval/component.stories.tsx
  frontend/containers/pending-approval/component.tsx
  frontend/containers/pending-approval/index.ts
  frontend/containers/project-developer-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add PendingApproval screen to the Investor form
  frontend/containers/investor-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix review issues
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
  frontend/containers/layouts/logo/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

test: Invitation API can be used to resend invitation.
  backend/spec/requests/api/v1/invitation_spec.rb
Due: backend-lint

Correctly render the Deck layers
  frontend/hooks/useLayers.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/enums/index.ts
  frontend/enums/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Rename PendingApproval to AccountPendingApproval to make it clearer the component is meant for accounts only
  frontend/containers/account-pending-approval/component.stories.tsx
  frontend/containers/account-pending-approval/component.tsx
  frontend/containers/account-pending-approval/index.ts
  frontend/containers/investor-form/component.tsx
  frontend/containers/pending-approval/component.stories.tsx
  frontend/containers/project-developer-form/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Display disclaimer at bottom screen on mobile
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix review issues
  frontend/containers/for-public-pages/carousel/component.tsx
  frontend/containers/for-public-pages/carousel/index.ts
  frontend/containers/for-public-pages/carousel/types.ts
  frontend/containers/for-public-pages/carrousel/index.ts
  frontend/containers/for-public-pages/carrousel/types.ts
  frontend/containers/for-public-pages/description/component.tsx
  frontend/containers/for-public-pages/description/types.ts
  frontend/containers/for-public-pages/public-page-card/types.ts
  frontend/pages/for-investors.tsx
  frontend/pages/for-project-developers.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Minor clean up
  frontend/containers/layouts/logo/component.tsx
  frontend/pages/_app.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Move calculation to server
  frontend/lang/transifex/zu.json
  frontend/pages/project/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change project data language to the original PD language when editing (#378)
  frontend/lang/transifex/zu.json
  frontend/layouts/protected-page/component.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/services/api.ts
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add PendingApproval screen to the Investor forms (#386)
  frontend/containers/account-pending-approval/component.stories.tsx
  frontend/containers/account-pending-approval/component.tsx
  frontend/containers/account-pending-approval/index.ts
  frontend/containers/investor-form/component.tsx
  frontend/containers/project-developer-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix Investor form bug displaying lost changes modal after user submitted the form
  frontend/containers/investor-form/component.tsx
  frontend/containers/investor-form/types.ts
  frontend/pages/investors/edit.tsx
  frontend/pages/investors/new.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix ProjectDeveloper form bug displaying lost changes modal after user submitted the form
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-developer-form/types.ts
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix review issues
  frontend/containers/for-public-pages/description/component.tsx
  frontend/containers/for-public-pages/description/types.ts
  frontend/containers/home/use-platform/component.tsx
  frontend/pages/for-investors.tsx
  frontend/pages/for-project-developers.tsx
Due: frontend-lint, frontend-i18n, frontend-types

uncomment layer
  frontend/hooks/useLayers.ts
Due: frontend-lint, frontend-i18n, frontend-types

fix build erros
  frontend/containers/home/use-platform/component.tsx
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/containers/layouts/navigation/component.tsx
  frontend/layouts/static-page/footer/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove unused useRouter imports from investor and project developer forms
  frontend/containers/investor-form/component.tsx
  frontend/containers/project-developer-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix title and 'leave' messages on the Investor Edition forms
  frontend/lang/transifex/zu.json
  frontend/pages/investors/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types
