Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: yarn i18n:extract && git add lang/transifex/*

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

fix: change 'more filters' icon
  frontend/containers/forms/filters/component.tsx
Due: frontend-lint, frontend-i18n

add tags and fix small devices layout
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/containers/filter-tags/component.tsx
  frontend/containers/filter-tags/index.ts
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/helpers/pages.ts
  frontend/layouts/discover-page/component.tsx
  frontend/package.json
  frontend/services/enums/enumService.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

add the clear filters option
  frontend/components/forms/combobox/component.tsx
  frontend/components/forms/combobox/types.ts
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
Due: frontend-lint, frontend-i18n

change design
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.tsx
  frontend/containers/filter-tags/component.tsx
  frontend/containers/filter-tags/index.ts
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/helpers/pages.ts
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n

fix: fix tag-group style
  frontend/components/forms/tag-group/component.tsx
Due: frontend-lint, frontend-i18n

Fix review issues
  frontend/components/forms/combobox/component.tsx
  frontend/components/forms/combobox/types.ts
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/containers/forms/filters/component.tsx
  frontend/helpers/pages.ts
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

add note on filters
  frontend/containers/forms/filters/component.tsx
Due: frontend-lint, frontend-i18n

remove impacts from filters
  frontend/containers/forms/filters/component.tsx
Due: frontend-lint, frontend-i18n

change regex and add a helper function to get the regexes
  frontend/helpers/pages.ts
  frontend/schemas/investor.ts
  frontend/schemas/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Change search bar style form small screens
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
Due: frontend-lint, frontend-i18n

Fix Project creation form header copy (#228)
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

update project models (#221)
  frontend/containers/project-card/component.stories.tsx
  frontend/containers/project-details/component.stories.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

Add map pins
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/pin.tsx
  frontend/containers/discover-map/types.ts
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/enums/index.ts
  frontend/mockups/projects-map.json
  frontend/pages/projects/new.tsx
  frontend/services/projects/projectService.ts
  frontend/services/types.ts
  frontend/svgs/map/marker.svg
Due: frontend-lint, frontend-i18n

Set selected sorter by item on menu
  frontend/components/sorting-buttons/component.tsx
Due: frontend-lint, frontend-i18n

add translations
  frontend/lang/transifex/zu.json
Due: none

feat: Added pagination to backoffice tables
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/shared/_navigation.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
  backend/spec/support/shared_examples/backoffice/with_table_pagination.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

fix: Geometry param is permitted even for nested attributes
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/config/brakeman.ignore
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
Due: backend-lint

refactoring: simplification of pagination design
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/views/backoffice/shared/_navigation.html.erb
  backend/spec/support/shared_examples/backoffice/with_table_pagination.rb
Due: backend-lint

refactoring: make pagination visually part of table
  backend/app/assets/stylesheets/application.tailwind.css
Due: none

Add Mapbox API key to infrastructure
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/variables.tf
Due: none

Check frontend types only when frontend code is modified
  lefthook.yml
Due: none

Map uses custom Mapbox' basemap
  frontend/.env.sample
  frontend/.storybook/main.js
  frontend/README.md
  frontend/components/map/component.tsx
  frontend/components/map/constants.ts
  frontend/next.config.js
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

test map
  frontend/containers/discover-map/component.tsx
Due: frontend-lint, frontend-i18n

Removed test controller
  backend/app/controllers/api/v1/goes_controller.rb
Due: backend-lint

Report exceptions manually where we rescue
  backend/app/jobs/translate_job.rb
  backend/app/services/translations/translate.rb
Due: backend-lint

Added reporting exception to GCP in controller rescue concern
  backend/app/controllers/concerns/api/errors.rb
Due: backend-lint

project developers: fix data by fetching involved project developers
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/developers/component.tsx
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n

Use error handling in parent class instead
  backend/app/jobs/translate_job.rb
Due: backend-lint

Removed exception handling from service
  backend/app/services/translations/translate.rb
Due: backend-lint

fix: align button impact modal on center
  frontend/containers/modals/impact/component.tsx
Due: frontend-lint, frontend-i18n

Create impact score component
  frontend/containers/project-impact/component.tsx
  frontend/containers/project-impact/index.ts
  frontend/containers/project-impact/types.ts
Due: frontend-lint, frontend-i18n

fix helpers error
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n

feat: Making backoffice tables sortable
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/user.rb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/config/initializers/ransack.rb
  backend/db/migrate/20220601090659_add_projects_count_to_project_developers.rb
  backend/db/migrate/20220601091618_add_users_count_to_accounts.rb
  backend/db/migrate/20220601092750_add_open_call_counts_to_investors.rb
  backend/db/schema.rb
  backend/spec/support/shared_examples/backoffice/with_table_sorting.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

Add filter by impacts
  frontend/containers/forms/filters/component.tsx
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n

Enable deselect filer tag
  frontend/containers/forms/filters/component.tsx
Due: frontend-lint, frontend-i18n

Add translation
  frontend/lang/transifex/zu.json
Due: none

project developers and funding responsive
  frontend/layouts/project-page/developers/component.tsx
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n

increase breakpoint for mobile
  frontend/layouts/project-page/developers/component.tsx
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n

impact section responsive
  frontend/layouts/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n

responsive project page
  frontend/layouts/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
