Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

Fix issue in backend entrypoint.sh
  backend/entrypoint.sh
Due: none

Minor refactor; have api as subpath; additional env vars
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/outputs.tf
  infrastructure/base/modules/cloudrun/variables.tf
  infrastructure/base/modules/load-balancer/main.tf
  infrastructure/base/modules/network/main.tf
  infrastructure/base/modules/sql/main.tf
  infrastructure/base/modules/storage/main.tf
  infrastructure/base/modules/storage/outputs.tf
  infrastructure/base/modules/storage/variables.tf
Due: none

Add GCS support to rails
  backend/Gemfile
  backend/Gemfile.lock
  backend/config/environments/production.rb
  backend/config/storage/production.yml
  frontend/README.md
Due: backend-lint

Unify vars and secrets on cloudrun
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/variables.tf
Due: none

Basic cloud build setup for FE
  infrastructure/README.md
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudbuild-webhook/main.tf
  infrastructure/base/modules/cloudbuild-webhook/outputs.tf
  infrastructure/base/modules/cloudbuild-webhook/variables.tf
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
  infrastructure/base/modules/gcr/main.tf
  infrastructure/base/modules/gcr/variables.tf
  infrastructure/base/variables.tf
  infrastructure/base/vars/terraform.tfvars
  infrastructure/base/versions.tf
Due: none

Fix rebase regression
  backend/Gemfile
  backend/Gemfile.lock
Due: none

BE deployment - WIP
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/variables.tf
  infrastructure/base/modules/network/outputs.tf
  infrastructure/base/modules/sql/main.tf
  infrastructure/base/modules/sql/outputs.tf
  infrastructure/base/modules/sql/variables.tf
Due: none

MVP wrap-up for the infrastructure
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/outputs.tf
  infrastructure/base/modules/dns/main.tf
  infrastructure/base/modules/dns/outputs.tf
  infrastructure/base/modules/dns/variables.tf
  infrastructure/base/modules/load-balancer/main.tf
  infrastructure/base/modules/load-balancer/outputs.tf
  infrastructure/base/modules/load-balancer/variables.tf
  infrastructure/base/modules/network/main.tf
  infrastructure/base/modules/sql/main.tf
  infrastructure/base/modules/sql/variables.tf
  infrastructure/base/modules/storage/main.tf
  infrastructure/base/modules/storage/variables.tf
  infrastructure/base/outputs.tf
  infrastructure/base/variables.tf
  infrastructure/base/vars/terraform.tfvars
  infrastructure/remote-state/heco.terraform.tfstate
  infrastructure/remote-state/heco.terraform.tfstate.backup
Due: none

Initial env vars documentation
  backend/ENV_VARS.md
  backend/README.md
Due: none

Backend docker deployment with transifex
  backend/Dockerfile
  infrastructure/base/main.tf
Due: none

Extract config names to vars
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudbuild-webhook/main.tf
  infrastructure/base/modules/cloudbuild-webhook/variables.tf
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
  infrastructure/base/modules/gcr/main.tf
  infrastructure/base/modules/network/main.tf
  infrastructure/base/modules/network/variables.tf
  infrastructure/base/variables.tf
  infrastructure/base/vars/terraform.tfvars
Due: none

fix: typo at swagger doc
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: project develop form
  frontend/pages/project-developer/setup.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/validations/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

Restructure code for staging + production deployment
  .gitignore
  infrastructure/base/main.tf
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/outputs.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/modules/load-balancer/main.tf
  infrastructure/base/modules/network/main.tf
  infrastructure/base/outputs.tf
  infrastructure/base/vars/terraform.tfvars
  infrastructure/remote-state/heco.terraform.tfstate
  infrastructure/remote-state/heco.terraform.tfstate.backup
  infrastructure/remote-state/vars/terraform.tfvars
Due: none

feat: project developer form add layout component
  frontend/components/forms/errorMessage/component.tsx
  frontend/components/forms/errorMessage/index.tsx
  frontend/components/forms/errorMessage/types.ts
  frontend/components/forms/label/component.tsx
  frontend/components/forms/label/constants.ts
  frontend/components/forms/label/types.d.ts
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/mockups/categories.json
  frontend/pages/project-developer/setup.tsx
  frontend/tailwind.config.js
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Add a `Combobox` component
  frontend/components/forms/combobox/component.stories.tsx
  frontend/components/forms/combobox/component.tsx
  frontend/components/forms/combobox/index.ts
  frontend/components/forms/combobox/types.ts
Due: frontend-lint, frontend-i18n

feat: API endpoint for updating project developer
  backend/app/controllers/api/v1/accounts/base_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/config/locales/zu.yml
  backend/config/routes.rb
  backend/spec/fixtures/snapshots/api/v1/create-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/project-developer-update.json
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Fix issues with stging+production deployment
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/variables.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/sql/main.tf
  infrastructure/base/modules/sql/outputs.tf
  infrastructure/base/modules/storage/main.tf
  infrastructure/base/outputs.tf
Due: none

Update staging branch on TF
  infrastructure/base/main.tf
Due: none

feat: project developer form change form validation
  frontend/components/forms/input/component.tsx
  frontend/components/forms/textarea/component.tsx
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/footer/paging/component.tsx
  frontend/pages/project-developer/setup.tsx
  frontend/validations/nitValidation.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

feat: Validate images with help of mini_magick
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/jobs/active_storage/validate_image_job.rb
  backend/app/models/account.rb
  backend/app/services/blobs/get_link.rb
  backend/db/migrate/20220329094541_add_validated_to_active_storage_blobs.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/create-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-direct-upload.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/jobs/active_storage/validate_image_job_spec.rb
  backend/spec/models/account_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/blobs/get_link_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

update of swagger doc
  backend/swagger/v1/swagger.yaml
Due: none

refactoring: minor tweaking of email confirmation tests
  backend/spec/requests/api/v1/email_confirmation_spec.rb
Due: backend-lint

Add testing to cloud build
  backend/docker-compose-test.yml
  backend/entrypoint.sh
  frontend/docker-compose-test.yml
  frontend/entrypoint.sh
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
  infrastructure/base/modules/env/main.tf
Due: none

Remove .env from docker-compose file for cloud build
  backend/docker-compose-test.yml
Due: none

Add build env arg to backend docker-compose-test.yml
  backend/docker-compose-test.yml
Due: none

Add testing to cloud build
  frontend/docker-compose-test.yml
  infrastructure/base/modules/cloudbuild/main.tf
Due: none

Improvements to deployment timeouts
  infrastructure/base/modules/cloudbuild/main.tf
Due: none

fix rswag examples
  backend/spec/requests/api/v1/reset_password_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

backend reset passwords controller
  backend/app/controllers/api/v1/reset_passwords_controller.rb
  backend/config/routes.rb
  backend/spec/requests/api/v1/reset_password_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

simplify devise config, update mailer templates
  backend/app/views/users/mailer/confirmation_instructions.html.erb
  backend/app/views/users/mailer/reset_password_instructions.html.erb
  backend/config/initializers/devise.rb
  backend/config/routes.rb
Due: backend-lint

fix review status and project status enum values
  backend/app/models/concerns/reviewable.rb
  backend/app/models/project.rb
Due: backend-lint

update dependencies
  backend/Gemfile.lock
  backend/yarn.lock
Due: none

addressing all issues from CR
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
Due: backend-lint

configure rails app to deploy to subdirectory
  backend/.env.sample
  backend/ENV_VARS.md
  backend/config.ru
  backend/config/initializers/rswag_ui.rb
Due: backend-lint

refactoring: Removing validate_image_job.rb and reusing AS analyze
  backend/app/jobs/active_storage/validate_image_job.rb
  backend/app/models/account.rb
  backend/app/services/blobs/get_link.rb
  backend/config/initializers/active_storage.rb
  backend/db/migrate/20220329094541_add_validated_to_active_storage_blobs.rb
  backend/db/schema.rb
  backend/spec/jobs/active_storage/validate_image_job_spec.rb
  backend/spec/models/account_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/services/blobs/get_link_spec.rb
Due: backend-lint

add RAILS_RELATIVE_URL_ROOT env to infra
  infrastructure/base/modules/env/main.tf
Due: none
