Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn check-types

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}

Removed "trusted" alias for "verified"
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/swagger_helper.rb
Due: backend-lint

Correct BE source strings
  backend/config/locales/zu.yml
Due: none

Cleanup test api resources
  backend/app/controllers/api/v1/goes_controller.rb
  backend/app/controllers/api/v1/test_jobs_controller.rb
  backend/app/jobs/test_error_job.rb
  backend/app/jobs/test_job.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/test_jobs_spec.rb
Due: backend-lint

Fixes for BE specs
  backend/spec/fixtures/snapshots/api/v1/enums.json
Due: none

Report exceptions explicitly
  backend/app/jobs/application_job.rb
Due: backend-lint

Set error reporting service name explicitly
  backend/config/initializers/google_cloud_error_reporting.rb
Due: backend-lint

Replace “Herencia” by “Heritage” in English
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/about.tsx
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Manually keep track of changed attributes, which get wiped out in after_commit with multiple saves
  backend/app/models/concerns/translatable.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
Due: backend-lint

Fix bug preventing homepage search from working
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix position and style of search bar on desktop
  frontend/containers/search-auto-suggestion/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

LET-1292 - Fix search bar layout on mobile
  frontend/containers/home/hero/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix project preview card on Chrome (Android)
  frontend/pages/discover/projects.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix Discover visibility issue on Chrome (Android)
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Upgraded actions/checkout to v3
  .github/workflows/backend-linters.yml
  .github/workflows/backend-push-translations.yml
  .github/workflows/backend-security.yml
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-push-translations.yml
  .github/workflows/frontend-tests.yml
Due: none

Upgraded actions/checkout to v3 (#700)
  .github/workflows/backend-linters.yml
  .github/workflows/backend-push-translations.yml
  .github/workflows/backend-security.yml
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-push-translations.yml
  .github/workflows/frontend-tests.yml
Due: none

Upgraded Capybara to resolve puma 6 errors
  backend/Gemfile.lock
Due: none

Improve Discover navigation bar on mobile
  frontend/components/badge-navigation/component.tsx
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n, frontend-types

Fix Discover's navigation items clickability
  frontend/layouts/discover-page/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Correct a BE source string wording
  backend/config/locales/zu.yml
Due: none

New env vars for connecting to the BC3 API
  backend/.env.sample
  backend/ENV_VARS.md
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/variables.tf
Due: none

Fix bug sending CSRF token to upload endpoint
  frontend/services/direct-upload/directUpload.ts
Due: frontend-lint, frontend-i18n, frontend-types

Release v1.6.1
  package.json
Due: none

LET-1302 fix issue with concurent executions of migrations on api deployment
  infrastructure/base/modules/env/main.tf
Due: none

Correct a back-office source string wording (“Reset”) (#703)
  backend/config/locales/zu.yml
Due: none

Fix visual issues with routes with redirects
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/layouts/settings/navigation/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update the GA helper
  frontend/lib/analytics/ga.ts
  frontend/pages/_document.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when user signs in
  frontend/pages/sign-in/code.tsx
  frontend/pages/sign-in/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when user signs up
  frontend/pages/sign-up/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when user creates account
  frontend/containers/investor-form/component.tsx
  frontend/containers/project-developer-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when user clicks For Investors card
  frontend/containers/for-public-pages/public-page-card/component.tsx
  frontend/containers/for-public-pages/public-page-card/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when user clicks For PDs card
  frontend/pages/for-project-developers.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when user toggles map layers
  frontend/containers/discover-map/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when user performs map search
  frontend/containers/discover-map/location-searcher/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when changing tab on Discover
  frontend/components/badge-navigation/component.tsx
  frontend/components/badge-navigation/types.ts
  frontend/layouts/discover-page/navigation/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when user favourites entity
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when entity contact modal opened
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when user performs search
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send GA event when user clicks on filter
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/search-auto-suggestion/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix missing visual clue when navigating to Discover and the Account information page on the client (#706)
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/layouts/settings/navigation/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types
