Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: echo {staged_files} >/dev/null && yarn check-types

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}

add content language selector
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/views/backoffice/base/_account_fields.html.erb
  backend/app/views/backoffice/project_developers/_section_profile.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/config/locales/zu.yml
Due: backend-lint

do not use back as cancel action
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/project_developers/_section_language.html.erb
  backend/app/views/backoffice/project_developers/_section_status.html.erb
Due: none

starting edit pd account specs
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/config/application.rb
  backend/spec/support/page_helpers.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

dashboard table: actions cell
  frontend/components/table/component.tsx
  frontend/containers/dashboard/table/cells/actions/component.tsx
  frontend/containers/dashboard/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

dashboard table: refactor table columns data accesors
  frontend/containers/dashboard/table/cells/actions/component.tsx
  frontend/containers/dashboard/table/cells/actions/types.ts
  frontend/containers/dashboard/table/cells/user/component.tsx
  frontend/containers/dashboard/table/cells/user/types.ts
  frontend/containers/dashboard/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

dashboard table: add confirmation prompt
  frontend/components/table/component.tsx
  frontend/containers/dashboard/table/cells/actions/component.tsx
  frontend/containers/dashboard/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Add project edition page
  frontend/containers/forms/sdgs/component.tsx
  frontend/containers/forms/sdgs/types.ts
  frontend/containers/project-form-pages/pages/funding.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/pages/impact.tsx
  frontend/helpers/pages.ts
  frontend/mockups/sdgs.json
  frontend/pages/project/[id]/edit.tsx
  frontend/schemas/project.ts
  frontend/services/account/index.ts
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

confirmation prompt: style component with heco styles
  frontend/components/button/constants.ts
  frontend/components/button/types.ts
  frontend/components/confirmation-prompt/component.stories.tsx
  frontend/components/confirmation-prompt/component.tsx
  frontend/containers/dashboard/table/cells/actions/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Additional filters for Projects -- category and priority_landscape
  backend/app/views/backoffice/investors/_filters.html.erb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/_filters.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/backoffice/projects/_filters.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

table component: add total items
  frontend/components/table/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

dashboard table: searcher
  frontend/components/search/component.tsx
  frontend/components/table/component.tsx
  frontend/containers/dashboard/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

refactoring: Move Project Status to enum
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/models/project.rb
  backend/app/models/project_status.rb
  backend/app/serializers/api/v1/enums/project_status_serializer.rb
  backend/app/views/backoffice/base/_filters.html.erb
  backend/app/views/backoffice/base/_full_text_filter.html.erb
  backend/app/views/backoffice/base/_navigation.html.erb
  backend/app/views/backoffice/investors/_filters.html.erb
  backend/app/views/backoffice/project_developers/_filters.html.erb
  backend/app/views/backoffice/projects/_filters.html.erb
  backend/app/views/backoffice/shared/_filters.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

dashboard users table: add page change
  frontend/containers/dashboard/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix creation form errors
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/types.ts
  frontend/containers/forms/project-gallery/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/forms/uploader/types.ts
  frontend/containers/project-form-pages/pages/funding.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n, frontend-types

add missing translations, specs for edit project developer profile section
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/views/backoffice/base/_account_fields.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/project_developers/_section_language.html.erb
  backend/app/views/backoffice/project_developers/_section_status.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

inclusion validation change to work better with simple_form and have better error messages
  backend/app/models/account.rb
  backend/app/models/admin.rb
  backend/app/models/investor.rb
  backend/app/models/location.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/models/user.rb
Due: backend-lint

Update enums mockup EnumTypes to include SDGs
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/mockups/api/v1/enums.json
Due: frontend-lint, frontend-i18n, frontend-types

Update SDGs component to not need mocked data
  frontend/containers/sdgs/component.tsx
  frontend/containers/sdgs/constants.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update forms/sdgs component to not need mocked data
  frontend/containers/forms/sdgs/component.stories.tsx
  frontend/containers/forms/sdgs/component.tsx
  frontend/services/api.ts
Due: frontend-lint, frontend-i18n, frontend-types

Update investor public page to use SDGs data from enums instead of mocked data
  frontend/pages/investor/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update project public page to use SDGs data from enums instead of mocked data
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/impact/types.ts
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update Search project details card to use SDGs data from enums instead of mocked data
  frontend/containers/project-details/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update search page filters to use SDGs data from enums instead of mocked data
  frontend/containers/forms/filters/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fiz schema error for null contact phone
  frontend/schemas/projectDeveloper.ts
Due: frontend-lint, frontend-i18n, frontend-types

Remove no longer used enums mockup
  frontend/mockups/enums.json
Due: none

Add useScrollY hook
  frontend/hooks/use-scroll-y.ts
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/dashboard/header/component.tsx
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Improve how account data is gotten for use in the Dashboard
  frontend/layouts/dashboard/component.tsx
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

add more specs
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/views/backoffice/base/_account_fields.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/project_developers/_section_language.html.erb
  backend/app/views/backoffice/project_developers/_section_profile.html.erb
  backend/app/views/backoffice/project_developers/_section_status.html.erb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/zu.yml
  backend/spec/fixtures/files/picture_2.jpg
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

users service: add users invited mocked hook
  frontend/components/table/component.stories.tsx
  frontend/components/table/component.tsx
  frontend/containers/dashboard/table/cells/invitation/component.tsx
  frontend/containers/dashboard/table/cells/user/component.tsx
  frontend/containers/dashboard/table/cells/user/types.ts
  frontend/containers/dashboard/table/component.tsx
  frontend/services/users/userService.ts
  frontend/types/user.ts
Due: frontend-lint, frontend-i18n, frontend-types

Project page Impact section to use copy coming from the enums endpoint
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/impact/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add missing data to project public page overview section
  frontend/containers/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add missing data to project public page funding section
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/funding/types.ts
  frontend/types/project.ts
Due: frontend-lint, frontend-i18n, frontend-types

dashboard users: add table component
  frontend/pages/dashboard/users.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Minor project public page project developer section improvements
  frontend/containers/project-page/developers/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Move Project public page header into the containers/project-page folder
  frontend/containers/project-header/component.stories.tsx
  frontend/containers/project-header/index.ts
  frontend/containers/project-page/header/component.stories.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/header/index.ts
  frontend/containers/project-page/header/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Minor Project public page code/import cleanup
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Minor getProject projectService tweak for readability purposes
  frontend/pages/project/[id]/index.tsx
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n, frontend-types

users dashboard: basic invite users modal
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/users.tsx
Due: frontend-lint, frontend-i18n, frontend-types

refactoring: Use trusted column instead of Status for Project filters
  backend/app/services/api/filterer.rb
  backend/app/views/backoffice/investors/_filters.html.erb
  backend/app/views/backoffice/project_developers/_filters.html.erb
  backend/app/views/backoffice/projects/_filters.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

fix: enum snapshot
  backend/spec/fixtures/snapshots/api/v1/enums.json
Due: none
