Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: yarn i18n:extract && git add lang/transifex/*

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

for now just remove those mailer templates, it is not a part of this PR
  backend/app/views/admins/mailer/email_changed.html.erb
  backend/app/views/admins/mailer/password_change.html.erb
  backend/app/views/admins/mailer/reset_password_instructions.html.erb
Due: none

funding and development: style details
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/impact/component.tsx
  frontend/layouts/project-page/overview/component.tsx
Due: frontend-lint, frontend-i18n

Dockerfile: install yarn packages
  backend/Dockerfile
Due: none

project developers: add developer card
  frontend/layouts/project-page/developers/component.tsx
Due: frontend-lint, frontend-i18n

fix assets precompile for docker image
  backend/Dockerfile
  backend/config/environments/production.rb
Due: backend-lint

fix devise redirects, add specs for backoffice auth
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/application_controller.rb
  backend/config/routes/backoffice.rb
  backend/spec/rails_helper.rb
  backend/spec/spec_helper.rb
  backend/spec/support/cuprite_helpers.rb
  backend/spec/support/page_helpers.rb
  backend/spec/system/backoffice/auth_spec.rb
  backend/spec/system_helper.rb
Due: backend-lint

add dockerignore for quicker local docker build testing
  backend/.dockerignore
Due: none

Fe allow users to search investors search page (#201)
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/pages/discover/investors.tsx
  frontend/services/investors/investorsService.ts
Due: frontend-lint, frontend-i18n

translate alt text
  frontend/containers/image-gallery/component.tsx
Due: frontend-lint, frontend-i18n

Remove not needed slugify from ContactInformationModal
  frontend/containers/social-contact/contact-information-modal/component.tsx
Due: frontend-lint, frontend-i18n

User can favorite project developer from search project details card
  frontend/containers/project-details/favorite-contact/component.tsx
Due: frontend-lint, frontend-i18n

refactor discover page
  frontend/helpers/pages.ts
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/types.ts
Due: frontend-lint, frontend-i18n

add translation
  frontend/lang/transifex/zu.json
Due: none

project public page: add contact footer with contact disables when contacts are not available
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/contact/component.tsx
  frontend/layouts/project-page/contact/index.ts
  frontend/layouts/project-page/contact/types.ts
  frontend/layouts/project-page/developers/component.tsx
  frontend/layouts/project-page/developers/index.ts
  frontend/layouts/project-page/funding/component.tsx
  frontend/layouts/project-page/funding/index.ts
  frontend/layouts/project-page/impact/index.ts
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n

exclude system specs on cloud build until we figure out how to successfuly run them
  backend/entrypoint.sh
Due: none

project public page: conditional rendering contact section
  frontend/layouts/project-page/contact/component.tsx
Due: frontend-lint, frontend-i18n

fix backend build, do not run css, js, cloudtasker, still run through foreman as problem with backend prefix
  backend/Procfile
  backend/bin/prod
  backend/entrypoint.sh
Due: none

feat: New API endpoint for Project update
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/controllers/concerns/api/errors.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/support/shared_examples/api/with_forbidden_error.rb
  backend/spec/support/shared_examples/api/with_not_found_error.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

rails serve static files
  backend/Dockerfile
Due: none

Hide Favourite button from ProjectDetails cards when the user is not logged in
  frontend/containers/project-details/favorite-contact/component.tsx
Due: frontend-lint, frontend-i18n

SAVEPOINT
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/models/user.rb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/config/routes/backoffice.rb
Due: backend-lint

approve/reject accounts
  backend/app/controllers/backoffice/accounts_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/config/routes/backoffice.rb
Due: backend-lint

backoffice: add simple navbar
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/layouts/backoffice.html.erb
Due: backend-lint

remove not needed backoffice dashboard - as we have other view already
  backend/app/controllers/backoffice/dashboards_controller.rb
  backend/app/views/backoffice/dashboards/show.html.erb
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/auth_spec.rb
Due: backend-lint

feat: Adding impact attributes to Project serializer
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/swagger/v1/swagger.yaml
Due: backend-lint

add some simple styles for now for the table
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/views/backoffice/project_developers/index.html.erb
Due: none

reject/approve was moved to accounts_controller
  backend/app/controllers/backoffice/project_developers_controller.rb
Due: backend-lint

backoffice: use i18n
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
Due: none

change class name to backoffice-table
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/views/backoffice/project_developers/index.html.erb
Due: none

simple specs to approve/reject project developers
  backend/spec/factories/account.rb
  backend/spec/factories/user.rb
  backend/spec/system/backoffice/auth_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

change admin root path to be redirect, small css fix for table
  backend/app/assets/stylesheets/application.tailwind.css
  backend/config/routes/backoffice.rb
Due: backend-lint

some flaky specs, maybe let_it_be
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

project public page: add impact basics section
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n

impact project page: add impact score tooltip
  frontend/lang/transifex/zu.json
  frontend/layouts/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n

fix review issues
  frontend/pages/investor/[id]/index.tsx
  frontend/services/investors/investorsService.ts
Due: frontend-lint, frontend-i18n

add impact modal to containers
  frontend/containers/modals/impact/component.tsx
  frontend/containers/modals/impact/index.tsx
  frontend/containers/modals/impact/types.tsx
  frontend/layouts/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n

impact: add default value to location select
  frontend/layouts/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n

add the clear filters option
  frontend/components/forms/combobox/component.tsx
  frontend/components/forms/combobox/types.ts
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
Due: frontend-lint, frontend-i18n

update backoffice translations
  backend/.rubocop.yml
  backend/.standard.yml
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
  backend/spec/support/page_helpers.rb
  backend/spec/system/backoffice/auth_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

feat: Return SDGs and its names via Enum endpoint
  backend/app/controllers/api/v1/enums_controller.rb
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/enums.json
Due: backend-lint

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
