Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Update frontend/tailwind.config.js
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n

Update frontend/pages/for-investors.tsx
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Add priority landscapes explanation in project impact - project page
  frontend/containers/project-page/impact/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix review issues
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/containers/category-tag/category-tag-dot/types.ts
  frontend/containers/for-public-pages/project-card/component.tsx
  frontend/containers/for-public-pages/project-card/index.ts
  frontend/containers/for-public-pages/project-card/types.ts
  frontend/containers/home/use-platform/component.tsx
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/containers/layouts/navigation/component.tsx
  frontend/enums/index.ts
  frontend/layouts/static-page/footer/component.tsx
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

create project card component for the investor public page
  frontend/containers/for-public-pages/project-card/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove link to filter projects by priority landscape
  frontend/containers/for-public-pages/project-card/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/containers/users/invite-users-modal/component.tsx
  frontend/containers/users/invite-users-modal/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/layouts/auth-page/header/component.tsx
  frontend/layouts/auth-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Update frontend/pages/invitation.tsx
  frontend/pages/invitation.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Resolve compilation errors
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/lang/compiled/zu.json
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/users/userService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Resolve compilation errors
  frontend/enums/index.ts
  frontend/pages/invitation.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/api.ts
  frontend/services/invitation/invitationService.ts
Due: frontend-lint, frontend-i18n, frontend-types

fix: show correct breadcrumb for admin editation
  backend/app/controllers/backoffice/admins_controller.rb
Due: backend-lint

Refactor uptime check to avoid TF state delta
  infrastructure/base/modules/uptime-check/main.tf
  infrastructure/base/modules/uptime-check/variables.tf
Due: none

Add Sendgrid validation DNS records
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/sendgrid_dns_entries/main.tf
  infrastructure/base/modules/sendgrid_dns_entries/variables.tf
Due: none

tweak .gitignore to allow for local tfvars files
  .gitignore
Due: none

Add tf var to config senders email address
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/vars/terraform.tfvars
Due: none

feat: API endpoint for transfering ownership
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/mailers/user_mailer.rb
  backend/app/models/ability.rb
  backend/app/views/user_mailer/ownership_transferred.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-transfer-ownership.json
  backend/spec/mailers/user_mailer_spec.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/spec/support/shared_examples/api/with_forbidden_error.rb
  backend/spec/support/shared_examples/api/with_not_found_error.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add TF var for from email address
  infrastructure/base/main.tf
  infrastructure/base/variables.tf
Due: none

feat: Notify user when account is removed
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/mailers/user_mailer.rb
  backend/app/views/user_mailer/destroyed.html.erb
  backend/config/locales/zu.yml
  backend/spec/mailers/user_mailer_spec.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
Due: backend-lint

Clearing compiled i18n due to a bad rebase
  frontend/lang/compiled/zu.json
Due: none

Change domain from hecopilot to hecoinvest
  infrastructure/base/main.tf
  infrastructure/base/vars/terraform.tfvars
Due: none

Clearing compiled zu.json causing Storybook to not work (#347)
  frontend/lang/compiled/zu.json
Due: none

Fix review issues, use mockup mosaic locations
  frontend/.env.sample
  frontend/containers/for-public-pages/project-card/component.tsx
  frontend/helpers/pages.ts
  frontend/mockups/api/v1/account/investor.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/project.json
  frontend/next.config.js
  frontend/pages/for-investors.tsx
Due: frontend-lint, frontend-i18n, frontend-types

change footer link
  frontend/layouts/static-page/footer/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix review issues
  frontend/pages/about.tsx
  frontend/public/images/about/about-google.png
  frontend/public/images/logos/about-google.png
  frontend/public/images/logos/wwf.png
Due: frontend-lint, frontend-i18n, frontend-types

Update domains to reflect the new DNS change
  frontend/.env.sample
  frontend/mockups/api/v1/account/investor.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/project.json
  frontend/next.config.js
Due: frontend-lint, frontend-i18n

delete unused images
  frontend/public/images/about/about-about-heco-large.png
  frontend/public/images/about/about-about-section.png
  frontend/public/images/about/about-biodiversity.png
  frontend/public/images/about/about-climate.png
  frontend/public/images/about/about-community.png
  frontend/public/images/about/about-impact.png
  frontend/public/images/about/about-water.png
Due: none

feat: Notify PD on changes related to project involvement
  backend/app/mailers/project_developer_mailer.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/models/project_involvement.rb
  backend/app/views/project_developer_mailer/added_to_project.html.erb
  backend/app/views/project_developer_mailer/removed_from_project.html.erb
  backend/config/locales/zu.yml
  backend/spec/factories/project_involvements.rb
  backend/spec/mailers/project_developer_mailer_spec.rb
  backend/spec/models/project_involvement_spec.rb
Due: backend-lint

Update domains to reflect the new DNS change (#349)
  frontend/.env.sample
  frontend/mockups/api/v1/account/investor.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/project.json
  frontend/next.config.js
Due: frontend-lint, frontend-i18n

hot fixes in ui table users
  frontend/containers/dashboard/users/table/cells/user/component.tsx
  frontend/containers/dashboard/users/table/component.tsx
  frontend/next.config.js
Due: frontend-lint, frontend-i18n, frontend-types

Update infrastructure docs with more details and backup policy info
  infrastructure/README.md
Due: none

Let 651 fe changes on about page (#334)
  frontend/lang/compiled/zu.json
  frontend/pages/about.tsx
  frontend/public/images/about-about-section.png
  frontend/public/images/about-impact.png
  frontend/public/images/about/about-biodiversity.jpeg
  frontend/public/images/about/about-climate.jpeg
  frontend/public/images/about/about-community.jpg
  frontend/public/images/about/about-heco.jpg
  frontend/public/images/about/about-impact-chart.svg
  frontend/public/images/about/about-impact-lg.png
  frontend/public/images/about/about-intro-mobile.png
  frontend/public/images/about/about-intro.png
  frontend/public/images/about/about-water.jpg
  frontend/public/images/logos/about-google.png
  frontend/public/images/logos/wwf.png
Due: frontend-lint, frontend-i18n, frontend-types

Fix the z-index on the homepage
  frontend/containers/home/hero/component.tsx
  frontend/containers/home/use-platform/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Add for-investors page (#343)
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/containers/category-tag/category-tag-dot/types.ts
  frontend/containers/for-public-pages/project-card/component.tsx
  frontend/containers/for-public-pages/project-card/index.ts
  frontend/containers/for-public-pages/project-card/types.ts
  frontend/containers/home/hero/component.tsx
  frontend/containers/home/use-platform/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/containers/layouts/navigation/component.tsx
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
  frontend/mockups/api/v1/account/investor.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/project.json
  frontend/pages/for-investors.tsx
  frontend/public/images/for-investor/for-investor-can-do-1.jpeg
  frontend/public/images/for-investor/for-investor-can-do-2.jpeg
  frontend/public/images/for-investor/for-investor-can-do-3.jpeg
  frontend/public/images/for-investor/for-investor-category.png
  frontend/public/images/for-investor/for-investor-priority-landscapes.png
  frontend/public/images/for-investor/for-investors-why-to-invest.jpg
  frontend/services/projects/projectService.ts
  frontend/svgs/project/project-card-arrow.svg
Due: frontend-lint, frontend-i18n, frontend-types

Fix existent user flow
  frontend/next.config.js
  frontend/pages/invitation.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/users/userService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix existent user flow
  frontend/pages/invitation.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Create for project developer page and extract and reuse componnets from 'for investor' page
  frontend/containers/for-public-pages/carrousel/component.tsx
  frontend/containers/for-public-pages/carrousel/index.ts
  frontend/containers/for-public-pages/carrousel/types.ts
  frontend/containers/for-public-pages/description/component.tsx
  frontend/containers/for-public-pages/description/index.ts
  frontend/containers/for-public-pages/description/types.ts
  frontend/containers/for-public-pages/project-card/index.ts
  frontend/containers/for-public-pages/project-card/types.ts
  frontend/containers/for-public-pages/public-page-card/component.tsx
  frontend/containers/for-public-pages/public-page-card/index.ts
  frontend/containers/for-public-pages/public-page-card/types.ts
  frontend/pages/for-investors.tsx
  frontend/pages/for-project-developers.tsx
  frontend/public/images/for-pd/for-pd-carrousel-1.jpeg
  frontend/public/images/for-pd/for-pd-carrousel-2.jpeg
  frontend/public/images/for-pd/for-pd-carrousel-3.jpeg
  frontend/public/images/for-pd/for-pd-discover.jpeg
Due: frontend-lint, frontend-i18n, frontend-types

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
