Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

Update frontend/containers/social-contact/inputs-social-contact/component.stories.tsx
  frontend/containers/social-contact/inputs-social-contact/component.stories.tsx
Due: frontend-lint, frontend-i18n

Update frontend/containers/social-contact/inputs-social-contact/component.tsx
  frontend/containers/social-contact/inputs-social-contact/component.tsx
Due: frontend-lint, frontend-i18n

feat: projetc developer form fix build issues
  frontend/pages/project-developers/new.tsx
  frontend/pages/project-developers/pending.tsx
Due: frontend-lint, frontend-i18n

Updatte the environment variable names
  frontend/.env.sample
  frontend/README.md
  frontend/lang/transifex/zu.json
  frontend/next.config.js
  frontend/services/api.ts
Due: frontend-lint, frontend-i18n

Restore the default compiled translation files
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
Due: none

Translate language names on the PD form intro step
  frontend/helpers/projectDevelopersConstants.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Fix discover link on PD pending approval page
  frontend/pages/project-developers/pending.tsx
Due: frontend-lint, frontend-i18n

Update the env variables
  frontend/.env.sample
  frontend/README.md
  frontend/components/head/component.tsx
  frontend/hoc/auth.ts
  frontend/hooks/me/index.ts
  frontend/next.config.js
  frontend/services/api.ts
  frontend/services/authentication/authService.ts
  frontend/services/users/userService.ts
Due: frontend-lint, frontend-i18n

Fix error in `next.config.js` file
  frontend/next.config.js
Due: frontend-lint, frontend-i18n

Rename the `PROXY_BACKEND` env variable
  frontend/.env.sample
  frontend/README.md
  frontend/next.config.js
  frontend/services/api.ts
Due: frontend-lint, frontend-i18n

backend log server side errors
  backend/app/controllers/concerns/api/errors.rb
Due: backend-lint

disable real image validation
  backend/app/services/blobs/get_link.rb
  backend/spec/rails_helper.rb
  backend/spec/services/blobs/get_link_spec.rb
Due: backend-lint

regenerate swagger docs
  backend/swagger/v1/swagger.yaml
Due: none

image processing gem missin
  backend/Gemfile
  backend/Gemfile.lock
Due: none

enable log to stdout on prod
  backend/ENV_VARS.md
  backend/config/environments/production.rb
  infrastructure/base/modules/env/main.tf
Due: backend-lint

feat: connect sign up form Add useMe hook
  frontend/pages/sign-up/index.tsx
  frontend/services/upload/index.ts
Due: frontend-lint, frontend-i18n

rails production always log to stdout
  backend/ENV_VARS.md
  backend/config/environments/production.rb
  infrastructure/base/modules/env/main.tf
Due: backend-lint

delete upload service file
  frontend/services/upload/index.ts
Due: frontend-lint, frontend-i18n

Add env vars to TF
  infrastructure/base/modules/env/main.tf
Due: none

Add missing sendgrid env vars
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/variables.tf
Due: none

add missing docker args
  frontend/Dockerfile
  infrastructure/base/modules/env/main.tf
Due: none

Restore NEXT_PUBLIC_GOOGLE_ANALYTICS
  frontend/Dockerfile
  infrastructure/base/modules/env/main.tf
Due: none

Add missing env vars to FE docker-compose
  frontend/docker-compose-test.yml
Due: none

Improve regexes for cloud build
  infrastructure/base/modules/cloudbuild/main.tf
Due: none

feat: connect project developer form remove console.log
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Minor feedback changes
  frontend/containers/multi-page-layout/footer/types.ts
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n

Let 212 connect the project developer form with the api (#82)
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/footer/types.ts
  frontend/containers/social-contact/inputs-social-contact/component.tsx
  frontend/containers/social-contact/inputs-social-contact/types.ts
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/mockups/categories.json
  frontend/mockups/impacts.json
  frontend/mockups/mosaics.json
  frontend/mockups/projectDeveloperTypes.json
  frontend/pages/project-developers/new.tsx
  frontend/pages/sign-up/index.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/types/enums.ts
  frontend/types/projectDeveloper.ts
  frontend/validations/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

feat: connect enums Connect Enums with API Fetch and store them with react-query Delete mockups Change mockups for real data
  frontend/.gitignore
  frontend/hooks/getEnums.ts
  frontend/hooks/useInterests.ts
  frontend/mockups/categories.json
  frontend/mockups/impacts.json
  frontend/mockups/projectDeveloperTypes.json
  frontend/pages/project-developers/new.tsx
  frontend/services/enums/enumService.ts
  frontend/types/api.ts
Due: frontend-lint, frontend-i18n

feat: display enums fix build error
  frontend/hooks/useInterests.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

feat: display enums
  frontend/.gitignore
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

feat: display enums add fetch error to related fields
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

feat: create sign-up page Add sign up page Connect sign up page with API Create forgot password page
  frontend/enums/index.ts
  frontend/hooks/me/index.ts
  frontend/mockups/sign-in.tsx
  frontend/pages/sign-in/forgot-password.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/account-type.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/authentication/authService.ts
  frontend/services/users/userService.ts
  frontend/tailwind.config.js
  frontend/types/sign-in.ts
  frontend/types/signin.ts
  frontend/types/user.ts
  frontend/validations/sign-in.ts
  frontend/validations/signup.ts
Due: frontend-lint, frontend-i18n

Release v0.2.0
  package.json
Due: none

feat: display enums Include locations service (mosaics)
  frontend/hooks/useInterests.ts
  frontend/pages/project-developers/new.tsx
  frontend/services/locations/localtionsService.ts
  frontend/types/locations.ts
Due: frontend-lint, frontend-i18n

feat: create sign-in page fix server error message
  frontend/pages/sign-in/index.tsx
Due: frontend-lint, frontend-i18n

create signed in menu
  frontend/components/menu/component.stories.tsx
  frontend/components/menu/component.tsx
  frontend/components/menu/popup/component.tsx
  frontend/components/menu/popup/types.ts
  frontend/components/menu/types.ts
  frontend/enums/index.ts
  frontend/layouts/static-page/header/component.tsx
  frontend/pages/sign-in/index.tsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-i18n
