Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: yarn i18n:extract && git add lang/transifex/*

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

feat: adjust header create getInitials function
  frontend/helpers/getUserInitials.ts
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

feat: adjust page header fix build error
  frontend/lang/compiled/zu.json
  frontend/types/projectDeveloper.ts
Due: frontend-lint, frontend-i18n

feat: adjust header create getInitials function
  frontend/helpers/getUserInitials.ts
Due: frontend-lint, frontend-i18n

feat: adjust header to sign-in Change menu sections and items with diferent screen sizes Change menu if the user is signed in
  frontend/lang/compiled/zu.json
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

feat: adjust page header fix build error
  frontend/lang/compiled/zu.json
Due: none

Fix build error
  frontend/lang/compiled/zu.json
Due: none

feat: adjust page header delete getUserInitials file
  frontend/helpers/getUserInitials.ts
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
Due: frontend-lint, frontend-i18n

feat: create confirm modal to leave form Create a rehusable modal to handle the leave button on forms Add the modal to the PD form
  frontend/containers/leave-form-modal/component.tsx
  frontend/containers/leave-form-modal/components.stories.tsx
  frontend/containers/leave-form-modal/index.ts
  frontend/containers/leave-form-modal/types.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

feat: Allow to upload images during Project creation
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/models/project.rb
  backend/app/models/project_image.rb
  backend/app/serializers/api/v1/project_image_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/db/migrate/20220420071536_create_project_images.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/factories/project_images.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_image_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

fix: test for max project images
  backend/spec/models/project_spec.rb
Due: backend-lint

Fix Tag/TagGroup error validation display
  frontend/components/forms/tag-group/component.stories.tsx
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Fix Tag/TagGroup keyboard focus rings
  frontend/components/forms/tag-group/component.stories.tsx
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Add missing i18n that hasn't been extracted
  frontend/lang/transifex/zu.json
Due: none

Fixing Tag/TagGroup validation errors & keyboard focus ring (#99)
  frontend/components/forms/tag-group/component.stories.tsx
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Add missing i18n that hasn't been extracted (#100)
  frontend/lang/transifex/zu.json
Due: none

refactoring: renaming is_cover attribute to cover
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/project_image.rb
  backend/app/serializers/api/v1/project_image_serializer.rb
  backend/db/migrate/20220420071536_create_project_images.rb
  backend/db/schema.rb
  backend/spec/factories/project_images.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/models/project_image_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

feat: upload image component Create the component Test implemantation on the direct_upload service
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/enums/index.ts
  frontend/helpers/activestorage.ts
  frontend/local.d.ts
  frontend/package.json
  frontend/pages/project-developers/new.tsx
  frontend/services/direct-upload.ts
  frontend/types/direct-upload.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

feat: allow to switch between Jobs and API/Backoffice routes
  backend/ENV_VARS.md
  backend/config/routes.rb
  backend/config/routes/api.rb
  backend/config/routes/backoffice.rb
  backend/config/routes/jobs.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/jobs/test_spec.rb
Due: backend-lint

change activestorage library
  frontend/package.json
  frontend/services/direct-upload.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Update frontend/helpers/user.ts
  frontend/helpers/user.ts
Due: frontend-lint, frontend-i18n

refactoring: PD uses Mosaic Enum instead of Region Locations
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/models/mosaic.rb
  backend/app/models/project_developer.rb
  backend/app/models/project_developer_location.rb
  backend/app/serializers/api/v1/enums/mosaic_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/config/locales/zu.yml
  backend/db/migrate/20220421093358_add_mosaic_to_project_developer.rb
  backend/db/schema.rb
  backend/spec/factories/project_developer.rb
  backend/spec/factories/project_developer_location.rb
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/models/project_developer_location_spec.rb
  backend/spec/models/project_developer_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Add radio type support to forms/Tag component
  frontend/components/forms/tag/component.stories.tsx
  frontend/components/forms/tag/component.tsx
Due: frontend-lint, frontend-i18n

Fix revision issues
  frontend/.storybook/preview.js
  frontend/components/menu/component.stories.tsx
  frontend/components/menu/popup/component.tsx
  frontend/components/menu/popup/types.ts
  frontend/hooks/me/index.ts
  frontend/layouts/static-page/header/component.tsx
  frontend/pages/project-developers/new.tsx
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
Due: frontend-lint, frontend-i18n

Release v0.3.0
  package.json
Due: none

refactoring: use IS_API_INSTANCE and IS_JOBS_INSTANCE to control routes
  .github/workflows/backend-tests.yml
  backend/.env.sample
  backend/ENV_VARS.md
  backend/config/routes.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/jobs/test_spec.rb
  infrastructure/base/modules/env/main.tf
Due: backend-lint

Add radio forms/Tag support to TagGroup component
  frontend/components/forms/tag-group/component.stories.tsx
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
Due: frontend-lint, frontend-i18n

Forms/Tag name can now by inferred by the first Tag in the group
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
Due: frontend-lint, frontend-i18n

Remove need for react-hook-form's `watch` callback on form/Tag and form/TagGroup
  frontend/components/forms/tag-group/component.stories.tsx
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Update frontend/layouts/static-page/header/component.tsx
  frontend/layouts/static-page/header/component.tsx
Due: frontend-lint, frontend-i18n

fix build errors
  frontend/containers/leave-form-modal/component.tsx
  frontend/services/investors/investorsService.ts
Due: frontend-lint, frontend-i18n

Let 279 fe adjust page header when user is signed in (#97)
  frontend/.storybook/preview.js
  frontend/components/menu/component.stories.tsx
  frontend/components/menu/component.tsx
  frontend/components/menu/popup/component.tsx
  frontend/components/menu/popup/types.ts
  frontend/components/menu/section/component.tsx
  frontend/components/menu/section/types.ts
  frontend/components/menu/types.ts
  frontend/containers/leave-form-modal/component.tsx
  frontend/enums/index.ts
  frontend/helpers/user.ts
  frontend/hooks/getEnums.ts
  frontend/hooks/me/index.ts
  frontend/hooks/useInterests.ts
  frontend/layouts/static-page/header/component.tsx
  frontend/package.json
  frontend/pages/project-developers/new.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-out.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/services/authentication/authService.ts
  frontend/services/enums/enumService.ts
  frontend/services/investors/investorsService.ts
  frontend/services/locations/localtionsService.ts
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/types.ts
  frontend/services/users/userService.ts
  frontend/tailwind.config.js
  frontend/types/api.ts
  frontend/types/enums.ts
  frontend/types/locations.ts
  frontend/types/projectDeveloper.ts
  frontend/types/user.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Tag radio button component & Add radio type Tag support to TagGroup (#104)
  frontend/components/forms/tag-group/component.stories.tsx
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.stories.tsx
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

feat: profile image uploader Create image uploader component
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/helpers/activestorage.ts
  frontend/local.d.ts
  frontend/package.json
  frontend/pages/project-developers/new.tsx
  frontend/services/direct-upload.ts
  frontend/types/direct-upload.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

add storybook component
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/index.ts
  frontend/components/forms/image-uploader/types.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

remove direct-upload enum
  frontend/enums/index.ts
Due: frontend-lint, frontend-i18n

feat: have max one cover per project all the time
  backend/app/models/project_image.rb
  backend/spec/models/project_image_spec.rb
Due: backend-lint

Change PD texts
  frontend/hooks/useInterests.ts
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

feat: project creation form create the Project Form page add the 2 first form pages
  frontend/enums/index.ts
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
  frontend/types/project.ts
  frontend/validations/project.ts
Due: frontend-lint, frontend-i18n

feat: require authorized user for direct upload
  backend/app/controllers/api/v1/direct_uploads_controller.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/direct_upload_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

fix textbox placeholder
  frontend/pages/project-developers/new.tsx
Due: frontend-lint, frontend-i18n

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
