Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, frontend-types, backend-lint

frontend-lint:
  tags: frontend lint
  run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}

frontend-i18n:
  tags: frontend i18n
  run: echo {staged_files} >/dev/null && yarn i18n:extract && git add lang/transifex/*

frontend-types:
  tags: frontend types
  run: echo {staged_files} >/dev/null && yarn check-types

backend-lint:
  tags: backend lint
  run: bundle exec rubocop --force-exclusion {staged_files}

Add ability to edit a drafted project
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project/[id]/edit.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Change filters
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/containers/search-auto-suggestion/types.ts
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix Project Query not invalidating data after editing a project
  frontend/enums/index.ts
  frontend/services/account/index.ts
  frontend/services/projects/projectService.ts
Due: frontend-lint, frontend-i18n, frontend-types

On a project form, prevent clicking "Leave" on the outro screen from displaying the confirmation modal
  frontend/containers/project-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

update auto-complete
  frontend/containers/forms/filters/component.stories.tsx
  frontend/containers/home/hero/component.tsx
  frontend/containers/layouts/discover-search/component.stories.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/containers/search-auto-suggestion/types.ts
  frontend/helpers/pages.ts
Due: frontend-lint, frontend-i18n, frontend-types

Fix filter h
  frontend/containers/home/hero/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/containers/search-auto-suggestion/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

Setting the logic of when the "project pending approval" screen is displayed in the project form
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/helpers.ts
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix typo
  frontend/pages/for-project-developers.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix Project form Outro screen double header && general display
  frontend/containers/project-form/pages/pending-approval.tsx
Due: frontend-lint, frontend-i18n, frontend-types

MultiPageLayout will now show the site's static header on Outro screens (set via prop)
  frontend/containers/investor-form/component.tsx
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/containers/multi-page-layout/header/types.ts
  frontend/containers/multi-page-layout/types.ts
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Simplify Project Form project creation/updation logic
  frontend/containers/project-form/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Prevent unnecessary loading spinners on project form pages
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix new projects not appearing on the dashboard project list
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Remove unnecessary condition
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: Localize emails
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/controllers/backoffice/users_controller.rb
  backend/app/mailers/admin_mailer.rb
  backend/app/mailers/project_developer_mailer.rb
  backend/app/mailers/user_mailer.rb
  backend/app/models/project_involvement.rb
  backend/app/models/user.rb
  backend/spec/mailers/user_mailer_spec.rb
  backend/spec/models/user_spec.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/spec/system/backoffice/users_spec.rb
Due: backend-lint

refactoring: use after_commit callbacks
  backend/app/models/project.rb
  backend/app/models/project_involvement.rb
  backend/spec/models/project_involvement_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
Due: backend-lint

Split project geometries
  data/notebooks/Lab/01_Contextual_Layers.ipynb
  data/notebooks/Lab/03_Projects_data.ipynb
Due: none

Fix invite user flow
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/pages/invitation.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/invitation/invitationService.ts
  frontend/services/users/userService.ts
Due: frontend-lint, frontend-i18n, frontend-types

Reverse users table
  frontend/containers/dashboard/users/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Remove unused usememo
  frontend/containers/dashboard/users/table/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Hide project preview page for published projects
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix LocationSearch's search results in the ProjectForm's map being displayed below the zoom controls
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

Fix LocationSearch's search results in the ProjectForm's map being cut off at the bottom
  frontend/containers/forms/geometry/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

feat: API endpoint for changing password
  backend/app/controllers/api/v1/reset_passwords_controller.rb
  backend/app/controllers/api/v1/users_controller.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/reset_password_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Fix users table - invitation col
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/containers/dashboard/users/table/cells/actions/types.ts
  frontend/containers/dashboard/users/table/cells/invitation/component.tsx
  frontend/containers/dashboard/users/table/cells/invitation/types.ts
  frontend/containers/dashboard/users/table/component.tsx
  frontend/enums/index.ts
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Change name displayed at the delete user confirmation modal
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Send invitation email in account language
  backend/app/controllers/api/v1/invitations_controller.rb
  backend/app/models/admin.rb
  backend/spec/fixtures/snapshots/api/v1/invitation-accepted.json
  backend/spec/requests/api/v1/invitation_spec.rb
Due: backend-lint

Quick fix to bug causing only 10 possible involved project developers to show on the project form
  frontend/containers/project-form/pages/general-information.tsx
  frontend/lang/transifex/zu.json
Due: frontend-lint, frontend-i18n, frontend-types

fix: Owner of account can remove invited Users
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/models/ability.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
Due: backend-lint

merging two same cancancan policies to one
  backend/app/models/ability.rb
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

Update frontend/containers/forms/filters/component.stories.tsx
  frontend/containers/forms/filters/component.stories.tsx
Due: frontend-lint, frontend-i18n, frontend-types

fix: Approve/Reject action at backoffice uses account language
  backend/app/controllers/backoffice/accounts_controller.rb
  backend/spec/system/backoffice/investors_spec.rb
Due: backend-lint

refactoring: Private endpoint for projects does FTS only by name attribute
  backend/app/controllers/api/v1/accounts/projects_controller.rb
Due: backend-lint

Add error message
  frontend/components/confirmation-prompt/component.tsx
  frontend/components/confirmation-prompt/types.d.ts
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/containers/dashboard/users/table/cells/invitation/component.tsx
  frontend/services/account/index.ts
Due: frontend-lint, frontend-i18n, frontend-types

Add error message
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
Due: frontend-lint, frontend-i18n, frontend-types

In the project public page, fetch the enums before attempting to fetch a project
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n, frontend-types

Fix bug causing discover map to not be interactable
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/discover-map/location-searcher/types.ts
Due: frontend-lint, frontend-i18n, frontend-types

refactoring: Fallback to record language translation fix: account language mismatch
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/backoffice/accounts_controller.rb
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/models/concerns/translatable.rb
  backend/app/views/backoffice/accounts/_content_language_form.html.erb
  backend/db/migrate/20220725074544_remove_language_from_investors_and_p_ds.rb
  backend/db/schema.rb
  backend/spec/factories/investor.rb
  backend/spec/factories/project_developer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/requests/api/v1/locale_spec.rb
  backend/spec/support/shared_examples/models/translatable.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Due: backend-lint

increasing timeouts
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

increasing timeouts II
  backend/spec/system/backoffice/projects_spec.rb
Due: backend-lint

Path conditions:
  frontend-lint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-i18n: any of: *.{js,jsx,ts,tsx} and ^frontend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.rb and ^backend/
