Repository Vizzuality/heco-invest: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-i18n, backend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      tags: frontend lint
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn lint . --fix --dir svgs `for i in {staged_files}; do echo "--file ${i}"; done` && git add {staged_files}
    
    frontend-i18n:
      tags: frontend i18n
      root: "frontend/"
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn i18n:extract && git add lang/transifex/*

    backend-lint:
      tags: backend lint
      root: "backend/"
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
pre-push:
  parallel: true
  commands:
    frontend-types:
      tags: frontend types
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: yarn check-types

Using Paths enum for main Navigation links
  frontend/containers/layouts/navigation/component.tsx
Due: frontend-lint, frontend-i18n

Add Paths enum for Logo links
  frontend/containers/layouts/logo/component.tsx
  frontend/enums/index.ts
Due: frontend-lint, frontend-i18n

do not use swc minify as it breaks something with directupload, md5 probably
  frontend/next.config.js
Due: frontend-lint, frontend-i18n

add placeholder
  frontend/components/impact-chart/component.tsx
  frontend/components/impact-chart/types.ts
  frontend/pages/project/[id]/index.tsx
Due: frontend-lint, frontend-i18n

fix storybook component
  frontend/components/impact-chart/component.stories.tsx
Due: frontend-lint, frontend-i18n

LET-244 - Configure Google Cloud Tasks
  .github/workflows/backend-tests.yml
  backend/.env.sample
  backend/ENV_VARS.md
  backend/app/jobs/test_job.rb
  backend/config/environments/production.rb
  backend/config/initializers/cloudtasker.rb
  backend/docker-compose-test.yml
  backend/docker-compose.yml
  infrastructure/base/modules/cloud-tasks/main.tf
  infrastructure/base/modules/cloud-tasks/variables.tf
  infrastructure/base/modules/env/main.tf
Due: backend-lint

Skip CSRF protection on async task tester
  backend/app/controllers/api/v1/test_jobs_controller.rb
Due: backend-lint

feat: protect project creation page
  frontend/helpers/user.ts
  frontend/hooks/me/index.ts
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

Add permissions prop to Protected layout
  frontend/hooks/me/index.ts
  frontend/layouts/protected-page/component.tsx
  frontend/layouts/protected-page/types.ts
  frontend/pages/projects/new.tsx
Due: frontend-lint, frontend-i18n

Add the redirect to account type page if the user is a light user
  frontend/layouts/protected-page/component.tsx
Due: frontend-lint, frontend-i18n

add task 420
  frontend/pages/investors/new.tsx
Due: frontend-lint, frontend-i18n

Let 417 fe impact visualisation component (#171)
  frontend/components/impact-chart/component.stories.tsx
  frontend/components/impact-chart/component.tsx
  frontend/components/impact-chart/index.ts
  frontend/components/impact-chart/types.ts
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/package.json
  frontend/pages/project/[id]/index.tsx
  frontend/tailwind.config.js
  frontend/yarn.lock
Due: frontend-lint, frontend-i18n

Use explicit GCP region and project id env vars
  backend/ENV_VARS.md
  backend/app/services/translations/translate.rb
  backend/config/initializers/cloudtasker.rb
  infrastructure/base/modules/env/main.tf
Due: backend-lint

Fix Cloud Tasker role and config vars on TF
  infrastructure/base/modules/cloud-tasks/main.tf
  infrastructure/base/modules/env/main.tf
Due: none

Add isError condition
  frontend/enums/index.ts
  frontend/hooks/me/index.ts
  frontend/layouts/protected-page/component.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/account-type.tsx
  frontend/services/users/userService.ts
Due: frontend-lint, frontend-i18n

Create contextual layers
  data/docker-compose.yml
  data/notebooks/Lab/01_Contextual_Layers.ipynb
  data/notebooks/Lab/02_Sustainability_Scores.ipynb
Due: none

LET-239 - Push backend translations
  .github/workflows/backend-push-translations.yml
  .github/workflows/frontend-deployment.yml
Due: none

update staging deployment branch name
  .github/workflows/backend-push-translations.yml
Due: none

Enable Google Error Reporting API
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/error-reporting/main.tf
Due: none

Temporary Rails controller to test Google Error Reporting
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/goes_controller.rb
  backend/config/application.rb
  backend/config/initializers/google_cloud_error_reporting.rb
  backend/config/routes/api.rb
Due: backend-lint

Release v0.5.0
  package.json
Due: none

Use default queue name from env var
  backend/app/jobs/translate_job.rb
Due: backend-lint

It's not project = application resource, it's project = GCP resource
  backend/app/services/translations/translate.rb
Due: backend-lint

Set up permissions for cloud run to use error reporting
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/error-reporting/main.tf
  infrastructure/base/modules/error-reporting/variables.tf
Due: none

Set Active Storage queue name
  backend/config/environments/production.rb
Due: backend-lint

Adds cloudtranslate.generalModels.batchPredict permission to service account
  infrastructure/base/modules/cloudrun/main.tf
Due: none

Adds roles/cloudtranslate.user, which includes cloudtranslate.generalModels.batchPredict permission
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/translation/main.tf
  infrastructure/base/modules/translation/variables.tf
Due: none

Fixed repetition in cloudtasker config
  backend/config/initializers/cloudtasker.rb
Due: backend-lint

Try another way to set the correct queue name
  backend/config/environments/production.rb
Due: backend-lint

Let 287 fe prevent non signed in users and investors to access the project creation form (#182)
  frontend/enums/index.ts
  frontend/helpers/user.ts
  frontend/hooks/me/index.ts
  frontend/layouts/protected-page/component.tsx
  frontend/layouts/protected-page/types.ts
  frontend/pages/investors/new.tsx
  frontend/pages/projects/new.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/account-type.tsx
  frontend/services/users/userService.ts
Due: frontend-lint, frontend-i18n

Not sure we need this, fails with 'Missing host to link to' otherwise
  backend/config/environments/test.rb
Due: backend-lint

Updated investor columns according to new requirements
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/models/investor.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/db/migrate/20220519160921_update_investor_fields.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/investor.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/models/investor_spec.rb
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/locale_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: backend-lint

Moved mission from project developers / investors to accounts
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/models/account.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/models/investor.rb
  backend/app/models/project_developer.rb
  backend/app/services/api/filterer.rb
  backend/db/migrate/20220519172649_move_mission_to_account.rb
  backend/db/schema.rb
  backend/spec/factories/account.rb
  backend/spec/factories/investor.rb
  backend/spec/factories/project_developer.rb
  backend/spec/models/account_spec.rb
  backend/spec/models/investor_spec.rb
  backend/spec/models/project_developer_spec.rb
  backend/spec/requests/api/v1/locale_spec.rb
  backend/spec/services/api/filterer_spec.rb
Due: backend-lint
